workflows/Anime News.json
{
  "active": true,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Discord Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Anime News": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Only get new RSS": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Anime News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Only get new RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-09-27T10:36:04.794Z",
  "id": "DGsIIzuohijrgdYR",
  "name": "Anime News",
  "nodes": [
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "imgURL",
              "value": "={{  $json[\"imgURL\"][5]  }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e7883a48-5f7b-4e31-b91b-dc3235666829",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1020,
        280
      ]
    },
    {
      "parameters": {
        "url": "={{ $json[\"guid\"] }}",
        "responseFormat": "string",
        "jsonParameters": true,
        "options": {
          "batchInterval": 1000
        }
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        640,
        280
      ],
      "typeVersion": 1,
      "id": "75b1314e-dcf4-4db7-a324-70e33285f833"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "imgURL",
              "cssSelector": "link",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        840,
        280
      ],
      "typeVersion": 1,
      "id": "6bbc765b-1179-40df-bccc-8d916ac1578a"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "0899927c-9323-4178-8a37-feb4e4050509",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1200,
        440
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "title",
              "value": "={{ $json[\"title\"] }}"
            },
            {
              "name": "link",
              "value": "={{ $json[\"link\"] }}"
            },
            {
              "name": "Date",
              "value": "={{ $json[\"isoDate\"] }}"
            },
            {
              "name": "contentSnippet",
              "value": "={{ $json[\"contentSnippet\"] }}"
            },
            {
              "name": "guid",
              "value": "={{ $json[\"guid\"] }}"
            },
            {
              "name": "categories",
              "value": "={{ $json[\"categories\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "c717589d-8976-41b5-a4ce-24ca11aec2b1",
      "name": "Filter Anime News",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        640,
        460
      ]
    },
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nconst newRSSIds = items.map(item => item.json[\"pubDate\"]);\nconst oldRSSIds = staticData.oldRSSIds; \n\nif (!oldRSSIds) {\n  staticData.oldRSSIds = newRSSIds;\n  return items;\n}\n\n\nconst actualNewRSSIds = newRSSIds.filter((id) => !oldRSSIds.includes(id));\nconst actualNewRSS = items.filter((data) => actualNewRSSIds.includes(data.json['pubDate']));\nstaticData.oldRSSIds = [...actualNewRSSIds, ...oldRSSIds];\n\nreturn actualNewRSS;\n"
      },
      "name": "Only get new RSS",
      "type": "n8n-nodes-base.function",
      "position": [
        320,
        380
      ],
      "typeVersion": 1,
      "id": "5343b95f-f70d-4a91-93f2-88cc642cac30"
    },
    {
      "parameters": {
        "url": "https://www.animenewsnetwork.com/news/rss.xml?ann-edition=us",
        "options": {}
      },
      "id": "610ba287-4959-4ce6-a7b6-0f835a6c149e",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        140,
        380
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/30 * * * *"
            }
          ]
        }
      },
      "id": "162130b5-0ba0-4672-9c21-6cb64e6b8fe9",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -40,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1134551853963681872/4xGEKyAeeL9kli3wL6gl-3qgzQVtTv3exvkTR8lvWb1oZf9NwBBTTHtFW_XE_v3oqLCi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"embeds\": [\n    {\n      \"description\": \"{{ $json[\"contentSnippet\"] }}\",\n      \"fields\": [],\n      \"author\": {\n        \"name\": \"Anime News Network | Category: {{ $json[\"categories\"][0]}}\",\n        \"url\": \"https://www.animenewsnetwork.com/\"\n      },\n      \"title\": \"{{ $json[\"title\"] }}\",\n      \"url\": \"{{ $json[\"link\"] }}\",\n      \"image\": {\n        \"url\": \"{{ $json[\"imgURL\"] }}\"\n      },\n      \"footer\": {\n        \"text\": \"Powered By n8n\"\n      },\n      \"timestamp\": \"{{ $json[\"Date\"] }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "af9348b3-1437-4782-82bd-df8d6273b3ab",
      "name": "Discord Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1400,
        440
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "aSBBM637H6nv57t8",
    "timezone": "America/Sao_Paulo"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "global": {
      "oldRSSIds": [
        "Wed, 04 Oct 2023 21:55:39 -0400",
        "Wed, 04 Oct 2023 17:00:00 -0400",
        "Wed, 04 Oct 2023 16:30:00 -0400",
        "Wed, 04 Oct 2023 15:57:19 -0400",
        "Wed, 04 Oct 2023 15:30:00 -0400",
        "Wed, 04 Oct 2023 15:00:00 -0400",
        "Wed, 04 Oct 2023 14:30:00 -0400",
        "Wed, 04 Oct 2023 14:00:00 -0400",
        "Wed, 04 Oct 2023 13:30:00 -0400",
        "Wed, 04 Oct 2023 12:38:05 -0400",
        "Wed, 04 Oct 2023 11:37:53 -0400",
        "Wed, 04 Oct 2023 10:53:07 -0400",
        "Wed, 04 Oct 2023 08:33:31 -0400",
        "Wed, 04 Oct 2023 07:45:18 -0400",
        "Wed, 04 Oct 2023 07:14:30 -0400",
        "Wed, 04 Oct 2023 06:54:54 -0400",
        "Wed, 04 Oct 2023 06:24:19 -0400",
        "Wed, 04 Oct 2023 05:56:47 -0400",
        "Wed, 04 Oct 2023 01:00:00 -0400",
        "Tue, 03 Oct 2023 23:48:47 -0400",
        "Tue, 03 Oct 2023 23:11:44 -0400",
        "Tue, 03 Oct 2023 17:00:00 -0400",
        "Tue, 03 Oct 2023 16:00:00 -0400",
        "Tue, 03 Oct 2023 15:00:00 -0400",
        "Tue, 03 Oct 2023 14:00:00 -0400",
        "Tue, 03 Oct 2023 13:00:00 -0400",
        "Tue, 03 Oct 2023 12:03:24 -0400",
        "Tue, 03 Oct 2023 11:00:00 -0400",
        "Tue, 03 Oct 2023 10:57:29 -0400",
        "Tue, 03 Oct 2023 00:56:33 -0400",
        "Mon, 02 Oct 2023 23:30:10 -0400",
        "Mon, 02 Oct 2023 22:17:28 -0400",
        "Mon, 02 Oct 2023 16:30:00 -0400",
        "Mon, 02 Oct 2023 15:30:00 -0400",
        "Mon, 02 Oct 2023 15:18:06 -0400",
        "Mon, 02 Oct 2023 14:30:00 -0400",
        "Mon, 02 Oct 2023 12:45:20 -0400",
        "Mon, 02 Oct 2023 12:16:04 -0400",
        "Mon, 02 Oct 2023 11:30:00 -0400",
        "Mon, 02 Oct 2023 11:00:00 -0400",
        "Mon, 02 Oct 2023 08:30:00 -0400",
        "Mon, 02 Oct 2023 07:48:39 -0400",
        "Mon, 02 Oct 2023 05:57:29 -0400",
        "Mon, 02 Oct 2023 05:38:26 -0400",
        "Mon, 02 Oct 2023 05:19:26 -0400",
        "Mon, 02 Oct 2023 03:36:49 -0400",
        "Sun, 01 Oct 2023 23:19:31 -0400",
        "Sun, 01 Oct 2023 23:13:52 -0400",
        "Sun, 01 Oct 2023 22:30:00 -0400",
        "Sun, 01 Oct 2023 22:06:41 -0400",
        "Sun, 01 Oct 2023 21:03:40 -0400",
        "Sun, 01 Oct 2023 20:46:52 -0400",
        "Sun, 01 Oct 2023 12:16:19 -0400",
        "Sun, 01 Oct 2023 09:15:00 -0400",
        "Sun, 01 Oct 2023 06:30:00 -0400",
        "Sun, 01 Oct 2023 04:37:17 -0400",
        "Sun, 01 Oct 2023 02:30:47 -0400",
        "Sun, 01 Oct 2023 02:30:00 -0400",
        "Sun, 01 Oct 2023 01:30:00 -0400",
        "Sun, 01 Oct 2023 00:20:20 -0400",
        "Sat, 30 Sep 2023 17:06:27 -0400",
        "Sat, 30 Sep 2023 11:41:15 -0400",
        "Sat, 30 Sep 2023 09:15:00 -0400",
        "Sat, 30 Sep 2023 09:10:05 -0400",
        "Sat, 30 Sep 2023 08:26:24 -0400",
        "Sat, 30 Sep 2023 08:16:23 -0400",
        "Sat, 30 Sep 2023 07:15:00 -0400",
        "Sat, 30 Sep 2023 06:38:57 -0400",
        "Sat, 30 Sep 2023 03:30:20 -0400",
        "Sat, 30 Sep 2023 03:03:06 -0400",
        "Fri, 29 Sep 2023 17:00:00 -0400",
        "Fri, 29 Sep 2023 16:30:00 -0400",
        "Fri, 29 Sep 2023 13:56:41 -0400",
        "Fri, 29 Sep 2023 11:47:43 -0400",
        "Fri, 29 Sep 2023 11:00:37 -0400",
        "Fri, 29 Sep 2023 07:59:36 -0400",
        "Fri, 29 Sep 2023 07:23:31 -0400",
        "Fri, 29 Sep 2023 06:29:08 -0400",
        "Fri, 29 Sep 2023 06:15:03 -0400",
        "Fri, 29 Sep 2023 05:35:38 -0400",
        "Fri, 29 Sep 2023 04:45:40 -0400",
        "Fri, 29 Sep 2023 03:19:04 -0400",
        "Fri, 29 Sep 2023 02:28:47 -0400",
        "Fri, 29 Sep 2023 02:15:17 -0400",
        "Thu, 28 Sep 2023 15:43:08 -0400",
        "Thu, 28 Sep 2023 14:00:17 -0400",
        "Thu, 28 Sep 2023 13:40:22 -0400",
        "Thu, 28 Sep 2023 12:45:48 -0400",
        "Thu, 28 Sep 2023 11:45:22 -0400",
        "Thu, 28 Sep 2023 11:00:08 -0400",
        "Thu, 28 Sep 2023 10:18:04 -0400",
        "Thu, 28 Sep 2023 09:57:59 -0400",
        "Thu, 28 Sep 2023 07:04:51 -0400",
        "Thu, 28 Sep 2023 06:30:13 -0400",
        "Thu, 28 Sep 2023 06:03:46 -0400",
        "Thu, 28 Sep 2023 05:32:03 -0400",
        "Thu, 28 Sep 2023 04:51:48 -0400",
        "Thu, 28 Sep 2023 04:02:50 -0400",
        "Wed, 27 Sep 2023 23:44:58 -0400",
        "Wed, 27 Sep 2023 20:29:25 -0400",
        "Wed, 27 Sep 2023 16:30:00 -0400",
        "Wed, 27 Sep 2023 16:00:00 -0400",
        "Wed, 27 Sep 2023 15:41:38 -0400",
        "Wed, 27 Sep 2023 14:20:35 -0400",
        "Wed, 27 Sep 2023 14:05:34 -0400",
        "Wed, 27 Sep 2023 12:47:40 -0400",
        "Wed, 27 Sep 2023 12:28:15 -0400",
        "Wed, 27 Sep 2023 12:01:19 -0400",
        "Wed, 27 Sep 2023 11:35:55 -0400",
        "Wed, 27 Sep 2023 11:00:00 -0400",
        "Wed, 27 Sep 2023 10:30:39 -0400",
        "Wed, 27 Sep 2023 07:27:44 -0400",
        "Wed, 27 Sep 2023 06:36:07 -0400",
        "Wed, 27 Sep 2023 05:35:00 -0400",
        "Wed, 27 Sep 2023 05:00:00 -0400",
        "Wed, 27 Sep 2023 03:12:25 -0400",
        "Tue, 26 Sep 2023 20:45:00 -0400",
        "Tue, 26 Sep 2023 17:00:00 -0400",
        "Tue, 26 Sep 2023 16:28:54 -0400",
        "Tue, 26 Sep 2023 15:30:00 -0400",
        "Tue, 26 Sep 2023 14:30:00 -0400",
        "Tue, 26 Sep 2023 13:30:00 -0400",
        "Tue, 26 Sep 2023 12:30:00 -0400",
        "Tue, 26 Sep 2023 11:24:28 -0400",
        "Tue, 26 Sep 2023 11:00:14 -0400",
        "Tue, 26 Sep 2023 10:35:33 -0400",
        "Tue, 26 Sep 2023 09:50:30 -0400",
        "Tue, 26 Sep 2023 07:14:26 -0400",
        "Tue, 26 Sep 2023 06:23:45 -0400",
        "Tue, 26 Sep 2023 06:00:53 -0400",
        "Mon, 25 Sep 2023 23:24:57 -0400",
        "Mon, 25 Sep 2023 22:59:45 -0400",
        "Mon, 25 Sep 2023 21:19:37 -0400",
        "Mon, 25 Sep 2023 19:31:49 -0400",
        "Mon, 25 Sep 2023 18:00:00 -0400",
        "Mon, 25 Sep 2023 17:00:00 -0400",
        "Mon, 25 Sep 2023 16:00:00 -0400",
        "Mon, 25 Sep 2023 15:30:00 -0400",
        "Mon, 25 Sep 2023 14:30:00 -0400",
        "Mon, 25 Sep 2023 12:32:32 -0400",
        "Mon, 25 Sep 2023 12:01:01 -0400",
        "Mon, 25 Sep 2023 11:00:00 -0400",
        "Mon, 25 Sep 2023 10:30:17 -0400",
        "Mon, 25 Sep 2023 10:00:00 -0400",
        "Mon, 25 Sep 2023 09:15:00 -0400",
        "Mon, 25 Sep 2023 08:15:00 -0400",
        "Mon, 25 Sep 2023 06:09:11 -0400",
        "Mon, 25 Sep 2023 04:29:18 -0400",
        "Mon, 25 Sep 2023 02:20:04 -0400"
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-10-04T23:30:02.713Z",
  "versionId": "5c4c02a8-bad9-4528-8364-f582f711a85f"
}