workflows/Anime News.json
{
  "active": true,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Anime News": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Only get new RSS": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Anime News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Only get new RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-19T12:52:15.810Z",
  "id": "xuIQ3YQHLp35HJeh",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Anime News",
  "nodes": [
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "imgURL",
              "value": "={{  $json[\"imgURL\"][5]  }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bb2926cd-614a-4cb4-9b0f-881dcc2f3d68",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        840,
        460
      ]
    },
    {
      "parameters": {
        "url": "={{ $json[\"guid\"] }}",
        "responseFormat": "string",
        "jsonParameters": true,
        "options": {
          "batchInterval": 1000
        }
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        460,
        460
      ],
      "typeVersion": 1,
      "id": "aae571c1-bce5-49d8-b38f-b06a597f9aa0"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "imgURL",
              "cssSelector": "link",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        660,
        460
      ],
      "typeVersion": 1,
      "id": "acee1581-c781-42d7-bcf7-dfd2f319383a"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "53ced00e-6418-4020-883a-6c82f57e5e0e",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1020,
        620
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "title",
              "value": "={{ $json[\"title\"] }}"
            },
            {
              "name": "link",
              "value": "={{ $json[\"link\"] }}"
            },
            {
              "name": "Date",
              "value": "={{ $json[\"isoDate\"] }}"
            },
            {
              "name": "contentSnippet",
              "value": "={{ $json[\"contentSnippet\"] }}"
            },
            {
              "name": "guid",
              "value": "={{ $json[\"guid\"] }}"
            },
            {
              "name": "categories",
              "value": "={{ $json[\"categories\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "5919697e-f562-4503-9aed-f6c9158027bf",
      "name": "Filter Anime News",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        640
      ]
    },
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nconst newRSSIds = items.map(item => item.json[\"pubDate\"]);\nconst oldRSSIds = staticData.oldRSSIds; \n\nif (!oldRSSIds) {\n  staticData.oldRSSIds = newRSSIds;\n  return items;\n}\n\n\nconst actualNewRSSIds = newRSSIds.filter((id) => !oldRSSIds.includes(id));\nconst actualNewRSS = items.filter((data) => actualNewRSSIds.includes(data.json['pubDate']));\nstaticData.oldRSSIds = [...actualNewRSSIds, ...oldRSSIds];\n\nreturn actualNewRSS;\n"
      },
      "name": "Only get new RSS",
      "type": "n8n-nodes-base.function",
      "position": [
        140,
        560
      ],
      "typeVersion": 1,
      "id": "d1a13d93-3c3e-400f-8a10-7d785da9f772"
    },
    {
      "parameters": {
        "url": "https://www.animenewsnetwork.com/news/rss.xml?ann-edition=us",
        "options": {}
      },
      "id": "809051bf-fbb7-4047-aad3-d8376d1250ab",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -40,
        560
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/30 * * * *"
            }
          ]
        }
      },
      "id": "de38c239-6622-426f-9c04-a6bcbdca33b8",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        560
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1031684489610539070",
          "mode": "list",
          "cachedResultName": "Buffon Gaming",
          "cachedResultUrl": "https://discord.com/channels/1031684489610539070"
        },
        "channelId": {
          "__rl": true,
          "value": "1058807311877034124",
          "mode": "list",
          "cachedResultName": "anime-news",
          "cachedResultUrl": "https://discord.com/channels/1031684489610539070/1058807311877034124"
        },
        "content": "=",
        "options": {},
        "embeds": {
          "values": [
            {
              "description": "={{ $json.contentSnippet }}",
              "author": "=Anime News Network | Category: {{ $json[\"categories\"][0]}}",
              "timestamp": "={{ $json.Date }}",
              "title": "={{ $json[\"title\"] }}",
              "url": "={{ $json[\"link\"] }}",
              "image": "={{ $json.imgURL }}"
            }
          ]
        }
      },
      "id": "7b8bfe3b-cae1-4613-86b7-8001503c5596",
      "name": "Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1220,
        620
      ],
      "credentials": {
        "discordBotApi": {
          "id": "rDDfwhjEYYje2XSn",
          "name": "Discord Bot account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "e5gs9CPtjGB5lx52"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "global": {
      "oldRSSIds": [
        "Wed, 06 Mar 2024 20:02:15 -0500",
        "Wed, 06 Mar 2024 19:58:28 -0500",
        "Wed, 06 Mar 2024 19:54:13 -0500",
        "Wed, 06 Mar 2024 19:00:00 -0500",
        "Wed, 06 Mar 2024 17:00:00 -0500",
        "Wed, 06 Mar 2024 16:48:04 -0500",
        "Wed, 06 Mar 2024 16:00:00 -0500",
        "Wed, 06 Mar 2024 15:15:32 -0500",
        "Wed, 06 Mar 2024 15:00:00 -0500",
        "Wed, 06 Mar 2024 15:00:00 -0500",
        "Wed, 06 Mar 2024 14:11:04 -0500",
        "Wed, 06 Mar 2024 13:00:00 -0500",
        "Wed, 06 Mar 2024 12:15:37 -0500",
        "Wed, 06 Mar 2024 11:28:29 -0500",
        "Wed, 06 Mar 2024 10:00:00 -0500",
        "Wed, 06 Mar 2024 08:30:40 -0500",
        "Wed, 06 Mar 2024 08:25:34 -0500",
        "Wed, 06 Mar 2024 05:01:00 -0500",
        "Tue, 05 Mar 2024 21:45:11 -0500",
        "Tue, 05 Mar 2024 19:38:27 -0500",
        "Tue, 05 Mar 2024 19:31:01 -0500",
        "Tue, 05 Mar 2024 17:00:00 -0500",
        "Tue, 05 Mar 2024 16:00:00 -0500",
        "Tue, 05 Mar 2024 15:49:39 -0500",
        "Tue, 05 Mar 2024 15:00:00 -0500",
        "Tue, 05 Mar 2024 14:00:00 -0500",
        "Tue, 05 Mar 2024 13:32:58 -0500",
        "Tue, 05 Mar 2024 13:00:00 -0500",
        "Tue, 05 Mar 2024 11:41:38 -0500",
        "Tue, 05 Mar 2024 11:23:25 -0500",
        "Tue, 05 Mar 2024 10:49:03 -0500",
        "Tue, 05 Mar 2024 10:15:00 -0500",
        "Tue, 05 Mar 2024 10:01:56 -0500",
        "Tue, 05 Mar 2024 09:42:46 -0500",
        "Tue, 05 Mar 2024 07:09:12 -0500",
        "Tue, 05 Mar 2024 05:26:28 -0500",
        "Tue, 05 Mar 2024 04:47:55 -0500",
        "Tue, 05 Mar 2024 01:48:30 -0500",
        "Tue, 05 Mar 2024 01:00:30 -0500",
        "Mon, 04 Mar 2024 22:27:56 -0500",
        "Mon, 04 Mar 2024 17:00:00 -0500",
        "Mon, 04 Mar 2024 16:00:00 -0500",
        "Mon, 04 Mar 2024 15:00:00 -0500",
        "Mon, 04 Mar 2024 14:00:00 -0500",
        "Mon, 04 Mar 2024 13:00:00 -0500",
        "Mon, 04 Mar 2024 12:30:00 -0500",
        "Mon, 04 Mar 2024 11:30:00 -0500",
        "Mon, 04 Mar 2024 11:00:00 -0500",
        "Mon, 04 Mar 2024 10:45:24 -0500",
        "Mon, 04 Mar 2024 10:00:00 -0500",
        "Mon, 04 Mar 2024 09:00:00 -0500",
        "Mon, 04 Mar 2024 06:48:42 -0500",
        "Mon, 04 Mar 2024 05:42:56 -0500",
        "Mon, 04 Mar 2024 05:10:21 -0500",
        "Mon, 04 Mar 2024 04:40:37 -0500",
        "Mon, 04 Mar 2024 04:08:52 -0500",
        "Mon, 04 Mar 2024 03:31:18 -0500",
        "Mon, 04 Mar 2024 03:23:16 -0500",
        "Mon, 04 Mar 2024 02:20:53 -0500",
        "Mon, 04 Mar 2024 01:37:43 -0500",
        "Mon, 04 Mar 2024 01:24:57 -0500",
        "Mon, 04 Mar 2024 00:59:33 -0500",
        "Mon, 04 Mar 2024 00:33:17 -0500",
        "Sun, 03 Mar 2024 19:50:00 -0500",
        "Sun, 03 Mar 2024 10:15:01 -0500",
        "Sun, 03 Mar 2024 09:16:31 -0500",
        "Sun, 03 Mar 2024 08:54:30 -0500",
        "Sun, 03 Mar 2024 07:34:05 -0500",
        "Sun, 03 Mar 2024 07:01:00 -0500",
        "Sun, 03 Mar 2024 07:00:00 -0500",
        "Sun, 03 Mar 2024 02:15:00 -0500",
        "Sat, 02 Mar 2024 23:58:27 -0500",
        "Sat, 02 Mar 2024 22:16:59 -0500",
        "Sat, 02 Mar 2024 22:11:16 -0500",
        "Sat, 02 Mar 2024 21:15:00 -0500",
        "Sat, 02 Mar 2024 19:15:00 -0500",
        "Sat, 02 Mar 2024 17:15:00 -0500",
        "Sat, 02 Mar 2024 15:15:00 -0500",
        "Sat, 02 Mar 2024 13:15:00 -0500",
        "Sat, 02 Mar 2024 11:15:00 -0500",
        "Sat, 02 Mar 2024 09:15:00 -0500",
        "Sat, 02 Mar 2024 08:09:12 -0500",
        "Sat, 02 Mar 2024 07:15:00 -0500",
        "Sat, 02 Mar 2024 03:21:31 -0500",
        "Sat, 02 Mar 2024 02:02:13 -0500",
        "Fri, 01 Mar 2024 21:52:15 -0500",
        "Fri, 01 Mar 2024 15:01:00 -0500",
        "Fri, 01 Mar 2024 13:50:55 -0500",
        "Fri, 01 Mar 2024 12:47:09 -0500",
        "Fri, 01 Mar 2024 12:15:55 -0500",
        "Fri, 01 Mar 2024 11:30:15 -0500",
        "Fri, 01 Mar 2024 07:08:14 -0500",
        "Fri, 01 Mar 2024 06:55:45 -0500",
        "Fri, 01 Mar 2024 06:24:14 -0500",
        "Fri, 01 Mar 2024 06:12:17 -0500",
        "Fri, 01 Mar 2024 06:00:00 -0500",
        "Fri, 01 Mar 2024 05:57:52 -0500",
        "Fri, 01 Mar 2024 05:34:21 -0500",
        "Fri, 01 Mar 2024 05:18:00 -0500",
        "Fri, 01 Mar 2024 04:50:56 -0500",
        "Fri, 01 Mar 2024 04:00:00 -0500",
        "Fri, 01 Mar 2024 01:22:51 -0500",
        "Fri, 01 Mar 2024 01:11:38 -0500",
        "Fri, 01 Mar 2024 01:04:44 -0500",
        "Thu, 29 Feb 2024 23:35:48 -0500",
        "Thu, 29 Feb 2024 22:44:01 -0500",
        "Thu, 29 Feb 2024 22:22:37 -0500",
        "Thu, 29 Feb 2024 22:00:00 -0500",
        "Thu, 29 Feb 2024 21:37:42 -0500",
        "Thu, 29 Feb 2024 20:00:00 -0500",
        "Thu, 29 Feb 2024 19:57:41 -0500",
        "Thu, 29 Feb 2024 16:00:00 -0500",
        "Thu, 29 Feb 2024 14:04:33 -0500",
        "Thu, 29 Feb 2024 12:52:20 -0500",
        "Thu, 29 Feb 2024 12:24:23 -0500",
        "Thu, 29 Feb 2024 11:47:21 -0500",
        "Thu, 29 Feb 2024 11:20:23 -0500",
        "Thu, 29 Feb 2024 11:00:00 -0500",
        "Thu, 29 Feb 2024 10:52:47 -0500",
        "Thu, 29 Feb 2024 09:00:00 -0500",
        "Thu, 29 Feb 2024 07:01:37 -0500",
        "Thu, 29 Feb 2024 06:00:00 -0500",
        "Thu, 29 Feb 2024 05:32:15 -0500",
        "Thu, 29 Feb 2024 04:01:34 -0500",
        "Thu, 29 Feb 2024 03:36:33 -0500",
        "Thu, 29 Feb 2024 02:02:28 -0500",
        "Thu, 29 Feb 2024 01:54:02 -0500",
        "Wed, 28 Feb 2024 23:18:37 -0500",
        "Wed, 28 Feb 2024 22:42:46 -0500",
        "Wed, 28 Feb 2024 22:19:07 -0500",
        "Wed, 28 Feb 2024 22:00:00 -0500",
        "Wed, 28 Feb 2024 18:00:00 -0500",
        "Wed, 28 Feb 2024 16:54:11 -0500",
        "Wed, 28 Feb 2024 16:00:00 -0500",
        "Wed, 28 Feb 2024 15:30:00 -0500",
        "Wed, 28 Feb 2024 15:00:00 -0500",
        "Wed, 28 Feb 2024 14:30:00 -0500",
        "Wed, 28 Feb 2024 14:00:00 -0500",
        "Wed, 28 Feb 2024 13:30:00 -0500",
        "Wed, 28 Feb 2024 13:00:00 -0500",
        "Wed, 28 Feb 2024 12:30:00 -0500",
        "Wed, 28 Feb 2024 11:43:36 -0500",
        "Wed, 28 Feb 2024 10:30:25 -0500",
        "Wed, 28 Feb 2024 05:19:01 -0500",
        "Tue, 27 Feb 2024 22:28:53 -0500",
        "Tue, 27 Feb 2024 20:11:48 -0500",
        "Tue, 27 Feb 2024 17:30:00 -0500",
        "Tue, 27 Feb 2024 17:00:00 -0500",
        "Tue, 27 Feb 2024 16:30:00 -0500",
        "Tue, 27 Feb 2024 15:50:51 -0500",
        "Tue, 27 Feb 2024 15:00:00 -0500",
        "Tue, 27 Feb 2024 14:00:00 -0500",
        "Tue, 27 Feb 2024 13:00:00 -0500",
        "Tue, 27 Feb 2024 12:30:00 -0500",
        "Tue, 27 Feb 2024 11:45:24 -0500",
        "Tue, 27 Feb 2024 10:22:05 -0500",
        "Tue, 27 Feb 2024 09:48:01 -0500",
        "Tue, 27 Feb 2024 07:43:09 -0500",
        "Tue, 27 Feb 2024 05:00:46 -0500",
        "Mon, 26 Feb 2024 16:30:00 -0500",
        "Mon, 26 Feb 2024 15:00:00 -0500",
        "Mon, 26 Feb 2024 14:08:25 -0500",
        "Mon, 26 Feb 2024 12:00:00 -0500",
        "Mon, 26 Feb 2024 11:10:43 -0500",
        "Mon, 26 Feb 2024 10:03:45 -0500",
        "Mon, 26 Feb 2024 06:07:48 -0500",
        "Mon, 26 Feb 2024 05:48:36 -0500",
        "Mon, 26 Feb 2024 05:20:15 -0500",
        "Mon, 26 Feb 2024 04:56:57 -0500",
        "Mon, 26 Feb 2024 04:44:40 -0500",
        "Mon, 26 Feb 2024 03:40:00 -0500",
        "Mon, 26 Feb 2024 03:12:20 -0500",
        "Mon, 26 Feb 2024 02:50:00 -0500",
        "Mon, 26 Feb 2024 02:27:19 -0500",
        "Mon, 26 Feb 2024 00:14:34 -0500",
        "Sun, 25 Feb 2024 23:24:52 -0500",
        "Sun, 25 Feb 2024 23:00:00 -0500",
        "Sun, 25 Feb 2024 21:51:31 -0500",
        "Sun, 25 Feb 2024 21:23:37 -0500",
        "Sun, 25 Feb 2024 21:00:00 -0500",
        "Sun, 25 Feb 2024 11:35:18 -0500",
        "Sun, 25 Feb 2024 11:31:28 -0500",
        "Sun, 25 Feb 2024 10:00:00 -0500",
        "Sun, 25 Feb 2024 08:27:46 -0500",
        "Sun, 25 Feb 2024 08:15:00 -0500",
        "Sun, 25 Feb 2024 07:15:00 -0500",
        "Sun, 25 Feb 2024 06:52:01 -0500",
        "Sun, 25 Feb 2024 06:15:00 -0500",
        "Sun, 25 Feb 2024 02:43:06 -0500",
        "Sun, 25 Feb 2024 02:35:13 -0500",
        "Sun, 25 Feb 2024 02:25:59 -0500",
        "Sun, 25 Feb 2024 00:58:18 -0500",
        "Sun, 25 Feb 2024 00:22:31 -0500",
        "Sat, 24 Feb 2024 22:18:36 -0500",
        "Sat, 24 Feb 2024 21:56:59 -0500",
        "Sat, 24 Feb 2024 21:24:46 -0500",
        "Sat, 24 Feb 2024 11:15:00 -0500",
        "Sat, 24 Feb 2024 09:15:00 -0500",
        "Sat, 24 Feb 2024 04:17:53 -0500",
        "Sat, 24 Feb 2024 04:15:00 -0500",
        "Sat, 24 Feb 2024 03:27:32 -0500",
        "Sat, 24 Feb 2024 02:51:27 -0500",
        "Sat, 24 Feb 2024 02:15:00 -0500",
        "Sat, 24 Feb 2024 00:51:51 -0500",
        "Sat, 24 Feb 2024 00:16:11 -0500",
        "Fri, 23 Feb 2024 23:18:12 -0500",
        "Fri, 23 Feb 2024 22:31:29 -0500",
        "Fri, 23 Feb 2024 15:22:00 -0500",
        "Fri, 23 Feb 2024 14:54:58 -0500",
        "Fri, 23 Feb 2024 13:30:00 -0500",
        "Fri, 23 Feb 2024 12:00:00 -0500",
        "Fri, 23 Feb 2024 11:15:00 -0500",
        "Fri, 23 Feb 2024 10:05:00 -0500",
        "Fri, 23 Feb 2024 10:00:00 -0500",
        "Fri, 23 Feb 2024 09:15:00 -0500",
        "Fri, 23 Feb 2024 08:15:00 -0500",
        "Fri, 23 Feb 2024 07:15:00 -0500",
        "Fri, 23 Feb 2024 05:05:30 -0500",
        "Fri, 23 Feb 2024 04:23:11 -0500",
        "Fri, 23 Feb 2024 03:00:00 -0500",
        "Fri, 23 Feb 2024 02:56:04 -0500",
        "Fri, 23 Feb 2024 02:12:52 -0500",
        "Thu, 22 Feb 2024 22:27:47 -0500",
        "Thu, 22 Feb 2024 19:41:00 -0500",
        "Thu, 22 Feb 2024 19:00:00 -0500",
        "Thu, 22 Feb 2024 18:00:00 -0500",
        "Thu, 22 Feb 2024 17:00:00 -0500",
        "Thu, 22 Feb 2024 13:58:18 -0500",
        "Thu, 22 Feb 2024 12:40:45 -0500",
        "Thu, 22 Feb 2024 11:38:21 -0500",
        "Thu, 22 Feb 2024 10:51:11 -0500",
        "Thu, 22 Feb 2024 10:15:00 -0500",
        "Thu, 22 Feb 2024 09:15:00 -0500",
        "Thu, 22 Feb 2024 08:22:00 -0500",
        "Thu, 22 Feb 2024 07:08:33 -0500",
        "Thu, 22 Feb 2024 06:50:58 -0500",
        "Thu, 22 Feb 2024 06:05:25 -0500",
        "Thu, 22 Feb 2024 05:20:40 -0500",
        "Thu, 22 Feb 2024 03:31:12 -0500",
        "Thu, 22 Feb 2024 03:14:47 -0500",
        "Thu, 22 Feb 2024 02:59:05 -0500",
        "Wed, 21 Feb 2024 23:27:02 -0500",
        "Wed, 21 Feb 2024 22:30:00 -0500",
        "Wed, 21 Feb 2024 19:49:54 -0500",
        "Wed, 21 Feb 2024 19:00:00 -0500",
        "Wed, 21 Feb 2024 18:30:00 -0500",
        "Wed, 21 Feb 2024 18:00:00 -0500",
        "Wed, 21 Feb 2024 17:30:00 -0500",
        "Wed, 21 Feb 2024 17:00:00 -0500",
        "Wed, 21 Feb 2024 16:21:25 -0500",
        "Wed, 21 Feb 2024 15:53:21 -0500",
        "Wed, 21 Feb 2024 15:30:00 -0500",
        "Wed, 21 Feb 2024 15:00:00 -0500",
        "Wed, 21 Feb 2024 14:30:00 -0500",
        "Wed, 21 Feb 2024 14:03:16 -0500",
        "Wed, 21 Feb 2024 13:46:22 -0500",
        "Wed, 21 Feb 2024 13:12:37 -0500",
        "Wed, 21 Feb 2024 12:57:37 -0500",
        "Wed, 21 Feb 2024 12:39:07 -0500",
        "Wed, 21 Feb 2024 12:12:28 -0500",
        "Wed, 21 Feb 2024 11:49:18 -0500",
        "Wed, 21 Feb 2024 11:29:39 -0500",
        "Wed, 21 Feb 2024 10:52:40 -0500",
        "Wed, 21 Feb 2024 06:27:51 -0500",
        "Wed, 21 Feb 2024 06:13:12 -0500",
        "Wed, 21 Feb 2024 03:03:04 -0500",
        "Wed, 21 Feb 2024 02:40:27 -0500",
        "Wed, 21 Feb 2024 01:28:06 -0500",
        "Tue, 20 Feb 2024 23:52:12 -0500",
        "Tue, 20 Feb 2024 20:21:36 -0500",
        "Tue, 20 Feb 2024 20:14:14 -0500",
        "Tue, 20 Feb 2024 19:09:55 -0500",
        "Tue, 20 Feb 2024 18:53:17 -0500",
        "Tue, 20 Feb 2024 10:32:20 -0500",
        "Tue, 20 Feb 2024 06:59:45 -0500",
        "Tue, 20 Feb 2024 05:34:49 -0500",
        "Tue, 20 Feb 2024 04:40:17 -0500",
        "Tue, 20 Feb 2024 03:37:05 -0500",
        "Tue, 20 Feb 2024 01:28:51 -0500",
        "Mon, 19 Feb 2024 22:46:59 -0500",
        "Mon, 19 Feb 2024 21:19:46 -0500",
        "Mon, 19 Feb 2024 20:46:31 -0500",
        "Mon, 19 Feb 2024 19:36:48 -0500",
        "Mon, 19 Feb 2024 19:15:00 -0500",
        "Mon, 19 Feb 2024 17:15:00 -0500",
        "Mon, 19 Feb 2024 15:15:00 -0500",
        "Mon, 19 Feb 2024 14:15:00 -0500",
        "Mon, 19 Feb 2024 13:15:00 -0500",
        "Mon, 19 Feb 2024 12:00:00 -0500",
        "Mon, 19 Feb 2024 11:15:00 -0500",
        "Mon, 19 Feb 2024 09:15:00 -0500",
        "Mon, 19 Feb 2024 07:15:00 -0500",
        "Mon, 19 Feb 2024 06:01:34 -0500",
        "Mon, 19 Feb 2024 04:25:30 -0500",
        "Mon, 19 Feb 2024 03:18:34 -0500",
        "Mon, 19 Feb 2024 02:36:48 -0500",
        "Mon, 19 Feb 2024 02:15:00 -0500",
        "Mon, 19 Feb 2024 02:11:32 -0500",
        "Mon, 19 Feb 2024 00:18:40 -0500",
        "Sun, 18 Feb 2024 23:23:32 -0500",
        "Sun, 18 Feb 2024 23:00:00 -0500",
        "Sun, 18 Feb 2024 22:21:02 -0500",
        "Sun, 18 Feb 2024 20:24:12 -0500",
        "Sun, 18 Feb 2024 17:15:00 -0500",
        "Sun, 18 Feb 2024 15:15:00 -0500",
        "Sun, 18 Feb 2024 13:15:00 -0500",
        "Sun, 18 Feb 2024 11:15:00 -0500",
        "Sun, 18 Feb 2024 09:15:00 -0500",
        "Sun, 18 Feb 2024 07:15:00 -0500",
        "Sun, 18 Feb 2024 05:15:00 -0500",
        "Sun, 18 Feb 2024 03:41:06 -0500",
        "Sun, 18 Feb 2024 01:19:30 -0500",
        "Sat, 17 Feb 2024 20:58:21 -0500",
        "Sat, 17 Feb 2024 11:15:00 -0500",
        "Sat, 17 Feb 2024 09:15:00 -0500",
        "Sat, 17 Feb 2024 06:15:00 -0500",
        "Sat, 17 Feb 2024 04:15:00 -0500",
        "Sat, 17 Feb 2024 03:32:45 -0500",
        "Sat, 17 Feb 2024 03:15:00 -0500",
        "Sat, 17 Feb 2024 02:15:00 -0500",
        "Sat, 17 Feb 2024 01:15:00 -0500",
        "Sat, 17 Feb 2024 00:15:00 -0500",
        "Fri, 16 Feb 2024 23:23:33 -0500",
        "Fri, 16 Feb 2024 21:01:26 -0500",
        "Fri, 16 Feb 2024 13:15:00 -0500",
        "Fri, 16 Feb 2024 11:00:00 -0500",
        "Fri, 16 Feb 2024 09:15:00 -0500",
        "Fri, 16 Feb 2024 07:08:24 -0500",
        "Fri, 16 Feb 2024 06:28:08 -0500",
        "Fri, 16 Feb 2024 05:13:40 -0500",
        "Fri, 16 Feb 2024 04:33:38 -0500",
        "Fri, 16 Feb 2024 02:54:07 -0500",
        "Fri, 16 Feb 2024 01:20:30 -0500",
        "Fri, 16 Feb 2024 00:52:43 -0500",
        "Thu, 15 Feb 2024 23:00:00 -0500",
        "Thu, 15 Feb 2024 22:06:13 -0500",
        "Thu, 15 Feb 2024 17:00:00 -0500",
        "Thu, 15 Feb 2024 16:30:00 -0500",
        "Thu, 15 Feb 2024 12:41:23 -0500",
        "Thu, 15 Feb 2024 11:54:01 -0500",
        "Thu, 15 Feb 2024 10:58:11 -0500",
        "Thu, 15 Feb 2024 09:30:35 -0500",
        "Thu, 15 Feb 2024 08:15:00 -0500",
        "Thu, 15 Feb 2024 06:03:24 -0500",
        "Thu, 15 Feb 2024 04:00:00 -0500",
        "Wed, 14 Feb 2024 21:50:44 -0500",
        "Wed, 14 Feb 2024 21:48:44 -0500",
        "Wed, 14 Feb 2024 21:41:54 -0500",
        "Wed, 14 Feb 2024 16:55:35 -0500",
        "Wed, 14 Feb 2024 16:45:09 -0500",
        "Wed, 14 Feb 2024 15:34:57 -0500",
        "Wed, 14 Feb 2024 11:32:39 -0500",
        "Wed, 14 Feb 2024 10:02:33 -0500",
        "Wed, 14 Feb 2024 07:13:30 -0500",
        "Wed, 14 Feb 2024 06:00:00 -0500",
        "Wed, 14 Feb 2024 05:15:40 -0500",
        "Wed, 14 Feb 2024 04:41:56 -0500",
        "Tue, 13 Feb 2024 23:28:59 -0500",
        "Tue, 13 Feb 2024 22:31:43 -0500",
        "Tue, 13 Feb 2024 22:15:16 -0500",
        "Tue, 13 Feb 2024 21:54:06 -0500",
        "Tue, 13 Feb 2024 21:00:00 -0500",
        "Tue, 13 Feb 2024 20:17:18 -0500",
        "Tue, 13 Feb 2024 19:37:15 -0500",
        "Tue, 13 Feb 2024 19:33:02 -0500",
        "Tue, 13 Feb 2024 18:00:00 -0500",
        "Tue, 13 Feb 2024 17:00:00 -0500",
        "Tue, 13 Feb 2024 15:00:00 -0500",
        "Tue, 13 Feb 2024 14:00:00 -0500",
        "Tue, 13 Feb 2024 13:00:00 -0500",
        "Tue, 13 Feb 2024 11:45:36 -0500",
        "Tue, 13 Feb 2024 11:05:06 -0500",
        "Tue, 13 Feb 2024 10:46:18 -0500",
        "Tue, 13 Feb 2024 10:00:00 -0500",
        "Tue, 13 Feb 2024 07:30:00 -0500",
        "Mon, 12 Feb 2024 22:15:29 -0500",
        "Mon, 12 Feb 2024 21:19:34 -0500",
        "Mon, 12 Feb 2024 21:06:41 -0500",
        "Mon, 12 Feb 2024 20:05:10 -0500",
        "Mon, 12 Feb 2024 19:50:16 -0500",
        "Mon, 12 Feb 2024 19:40:26 -0500",
        "Mon, 12 Feb 2024 17:30:00 -0500",
        "Mon, 12 Feb 2024 17:00:00 -0500",
        "Mon, 12 Feb 2024 16:30:00 -0500",
        "Mon, 12 Feb 2024 15:30:00 -0500",
        "Mon, 12 Feb 2024 14:30:00 -0500",
        "Mon, 12 Feb 2024 13:30:00 -0500",
        "Mon, 12 Feb 2024 12:30:00 -0500",
        "Mon, 12 Feb 2024 11:50:55 -0500",
        "Mon, 12 Feb 2024 11:00:00 -0500",
        "Mon, 12 Feb 2024 10:00:00 -0500",
        "Mon, 12 Feb 2024 10:00:00 -0500",
        "Sun, 11 Feb 2024 20:16:42 -0500",
        "Sun, 11 Feb 2024 19:08:26 -0500",
        "Sun, 11 Feb 2024 13:15:00 -0500",
        "Sun, 11 Feb 2024 11:15:00 -0500",
        "Sun, 11 Feb 2024 10:00:00 -0500",
        "Sun, 11 Feb 2024 08:58:06 -0500",
        "Sun, 11 Feb 2024 03:52:56 -0500",
        "Sat, 10 Feb 2024 23:58:35 -0500",
        "Sat, 10 Feb 2024 22:19:46 -0500",
        "Sat, 10 Feb 2024 13:00:00 -0500",
        "Sat, 10 Feb 2024 11:00:00 -0500",
        "Sat, 10 Feb 2024 09:00:00 -0500",
        "Sat, 10 Feb 2024 08:10:24 -0500",
        "Sat, 10 Feb 2024 07:31:06 -0500",
        "Sat, 10 Feb 2024 01:44:25 -0500",
        "Fri, 09 Feb 2024 23:33:43 -0500",
        "Fri, 09 Feb 2024 23:11:01 -0500",
        "Fri, 09 Feb 2024 22:18:15 -0500",
        "Fri, 09 Feb 2024 16:00:07 -0500",
        "Fri, 09 Feb 2024 13:43:53 -0500",
        "Fri, 09 Feb 2024 12:45:50 -0500",
        "Fri, 09 Feb 2024 11:42:15 -0500",
        "Fri, 09 Feb 2024 10:36:13 -0500",
        "Fri, 09 Feb 2024 09:40:24 -0500",
        "Fri, 09 Feb 2024 06:49:05 -0500",
        "Fri, 09 Feb 2024 05:40:54 -0500",
        "Fri, 09 Feb 2024 05:11:59 -0500",
        "Fri, 09 Feb 2024 04:34:25 -0500",
        "Fri, 09 Feb 2024 04:00:00 -0500",
        "Fri, 09 Feb 2024 04:00:00 -0500",
        "Fri, 09 Feb 2024 02:13:58 -0500",
        "Fri, 09 Feb 2024 00:03:50 -0500",
        "Thu, 08 Feb 2024 23:04:06 -0500",
        "Thu, 08 Feb 2024 22:55:35 -0500",
        "Thu, 08 Feb 2024 21:52:47 -0500",
        "Thu, 08 Feb 2024 21:13:02 -0500",
        "Thu, 08 Feb 2024 13:31:40 -0500",
        "Thu, 08 Feb 2024 11:02:13 -0500",
        "Thu, 08 Feb 2024 10:42:30 -0500",
        "Thu, 08 Feb 2024 10:20:28 -0500",
        "Thu, 08 Feb 2024 06:54:47 -0500",
        "Thu, 08 Feb 2024 06:28:53 -0500",
        "Thu, 08 Feb 2024 05:46:14 -0500",
        "Thu, 08 Feb 2024 05:12:13 -0500",
        "Thu, 08 Feb 2024 04:42:03 -0500",
        "Thu, 08 Feb 2024 04:00:00 -0500",
        "Thu, 08 Feb 2024 01:05:13 -0500",
        "Wed, 07 Feb 2024 22:25:51 -0500",
        "Wed, 07 Feb 2024 21:07:50 -0500",
        "Wed, 07 Feb 2024 19:56:35 -0500",
        "Wed, 07 Feb 2024 16:00:00 -0500",
        "Wed, 07 Feb 2024 15:00:00 -0500",
        "Wed, 07 Feb 2024 14:00:00 -0500",
        "Wed, 07 Feb 2024 13:00:00 -0500",
        "Wed, 07 Feb 2024 12:21:49 -0500",
        "Wed, 07 Feb 2024 11:21:11 -0500",
        "Wed, 07 Feb 2024 10:00:00 -0500",
        "Wed, 07 Feb 2024 09:51:20 -0500",
        "Wed, 07 Feb 2024 08:01:18 -0500",
        "Wed, 07 Feb 2024 07:06:43 -0500",
        "Wed, 07 Feb 2024 06:29:00 -0500",
        "Wed, 07 Feb 2024 04:55:58 -0500",
        "Wed, 07 Feb 2024 03:00:00 -0500",
        "Wed, 07 Feb 2024 02:23:24 -0500",
        "Tue, 06 Feb 2024 22:01:51 -0500",
        "Tue, 06 Feb 2024 19:12:21 -0500",
        "Tue, 06 Feb 2024 16:00:00 -0500",
        "Tue, 06 Feb 2024 14:43:26 -0500",
        "Tue, 06 Feb 2024 13:16:35 -0500",
        "Tue, 06 Feb 2024 13:00:00 -0500",
        "Tue, 06 Feb 2024 12:00:00 -0500",
        "Tue, 06 Feb 2024 11:00:00 -0500",
        "Tue, 06 Feb 2024 10:12:20 -0500",
        "Tue, 06 Feb 2024 04:19:40 -0500",
        "Tue, 06 Feb 2024 03:11:04 -0500",
        "Mon, 05 Feb 2024 22:38:54 -0500",
        "Mon, 05 Feb 2024 22:35:24 -0500",
        "Mon, 05 Feb 2024 20:42:21 -0500",
        "Mon, 05 Feb 2024 17:00:00 -0500",
        "Mon, 05 Feb 2024 15:53:49 -0500",
        "Mon, 05 Feb 2024 14:05:21 -0500",
        "Mon, 05 Feb 2024 13:00:00 -0500",
        "Mon, 05 Feb 2024 12:35:00 -0500",
        "Mon, 05 Feb 2024 12:00:00 -0500",
        "Mon, 05 Feb 2024 10:30:00 -0500",
        "Mon, 05 Feb 2024 10:00:37 -0500",
        "Mon, 05 Feb 2024 09:15:00 -0500",
        "Mon, 05 Feb 2024 08:34:59 -0500",
        "Mon, 05 Feb 2024 08:15:00 -0500",
        "Mon, 05 Feb 2024 07:15:00 -0500",
        "Mon, 05 Feb 2024 06:57:14 -0500",
        "Mon, 05 Feb 2024 06:15:00 -0500",
        "Mon, 05 Feb 2024 04:15:30 -0500",
        "Mon, 05 Feb 2024 03:33:02 -0500",
        "Mon, 05 Feb 2024 01:40:31 -0500",
        "Mon, 05 Feb 2024 01:21:59 -0500",
        "Mon, 05 Feb 2024 01:12:57 -0500",
        "Mon, 05 Feb 2024 01:02:30 -0500",
        "Mon, 05 Feb 2024 00:04:18 -0500",
        "Sun, 04 Feb 2024 22:00:00 -0500",
        "Sun, 04 Feb 2024 20:02:18 -0500",
        "Sun, 04 Feb 2024 19:35:49 -0500",
        "Sun, 04 Feb 2024 08:51:02 -0500",
        "Sun, 04 Feb 2024 07:30:32 -0500",
        "Sun, 04 Feb 2024 06:50:14 -0500",
        "Sun, 04 Feb 2024 06:30:00 -0500",
        "Sun, 04 Feb 2024 06:11:50 -0500",
        "Sun, 04 Feb 2024 04:30:00 -0500",
        "Sun, 04 Feb 2024 03:30:00 -0500",
        "Sun, 04 Feb 2024 02:30:00 -0500",
        "Sun, 04 Feb 2024 01:30:00 -0500",
        "Sun, 04 Feb 2024 00:30:00 -0500",
        "Sat, 03 Feb 2024 23:30:00 -0500",
        "Sat, 03 Feb 2024 22:30:00 -0500",
        "Sat, 03 Feb 2024 12:15:00 -0500",
        "Sat, 03 Feb 2024 10:15:00 -0500",
        "Sat, 03 Feb 2024 08:15:00 -0500",
        "Sat, 03 Feb 2024 08:11:47 -0500",
        "Sat, 03 Feb 2024 07:56:47 -0500",
        "Sat, 03 Feb 2024 07:00:00 -0500",
        "Sat, 03 Feb 2024 06:30:00 -0500",
        "Sat, 03 Feb 2024 05:30:00 -0500",
        "Sat, 03 Feb 2024 04:30:00 -0500",
        "Sat, 03 Feb 2024 04:02:35 -0500",
        "Sat, 03 Feb 2024 03:30:52 -0500",
        "Fri, 02 Feb 2024 17:00:00 -0500",
        "Fri, 02 Feb 2024 16:30:00 -0500",
        "Fri, 02 Feb 2024 16:00:00 -0500",
        "Fri, 02 Feb 2024 15:30:00 -0500",
        "Fri, 02 Feb 2024 14:37:00 -0500",
        "Fri, 02 Feb 2024 14:24:49 -0500",
        "Fri, 02 Feb 2024 14:11:02 -0500",
        "Fri, 02 Feb 2024 12:08:02 -0500",
        "Fri, 02 Feb 2024 12:00:39 -0500",
        "Fri, 02 Feb 2024 11:00:46 -0500",
        "Fri, 02 Feb 2024 10:11:55 -0500",
        "Fri, 02 Feb 2024 07:03:51 -0500",
        "Fri, 02 Feb 2024 05:41:49 -0500",
        "Fri, 02 Feb 2024 04:44:40 -0500",
        "Fri, 02 Feb 2024 03:45:00 -0500",
        "Fri, 02 Feb 2024 02:45:00 -0500",
        "Fri, 02 Feb 2024 02:03:20 -0500",
        "Thu, 01 Feb 2024 21:40:57 -0500",
        "Thu, 01 Feb 2024 18:00:00 -0500",
        "Thu, 01 Feb 2024 16:00:00 -0500",
        "Thu, 01 Feb 2024 15:00:00 -0500",
        "Thu, 01 Feb 2024 13:10:00 -0500",
        "Thu, 01 Feb 2024 11:53:35 -0500",
        "Thu, 01 Feb 2024 10:32:34 -0500",
        "Thu, 01 Feb 2024 09:15:00 -0500",
        "Thu, 01 Feb 2024 08:15:00 -0500",
        "Thu, 01 Feb 2024 07:45:00 -0500",
        "Thu, 01 Feb 2024 07:15:00 -0500",
        "Thu, 01 Feb 2024 06:48:18 -0500",
        "Thu, 01 Feb 2024 05:14:59 -0500",
        "Thu, 01 Feb 2024 03:41:27 -0500",
        "Thu, 01 Feb 2024 03:11:09 -0500",
        "Wed, 31 Jan 2024 23:09:40 -0500",
        "Wed, 31 Jan 2024 22:40:45 -0500",
        "Wed, 31 Jan 2024 21:18:58 -0500",
        "Wed, 31 Jan 2024 21:13:50 -0500",
        "Wed, 31 Jan 2024 19:45:00 -0500",
        "Wed, 31 Jan 2024 19:40:00 -0500",
        "Wed, 31 Jan 2024 19:35:00 -0500",
        "Wed, 31 Jan 2024 19:33:25 -0500",
        "Wed, 31 Jan 2024 19:29:34 -0500",
        "Wed, 31 Jan 2024 16:00:00 -0500",
        "Wed, 31 Jan 2024 15:00:00 -0500",
        "Wed, 31 Jan 2024 14:00:00 -0500",
        "Wed, 31 Jan 2024 12:48:45 -0500",
        "Wed, 31 Jan 2024 12:30:00 -0500",
        "Wed, 31 Jan 2024 11:30:00 -0500",
        "Wed, 31 Jan 2024 11:00:00 -0500",
        "Wed, 31 Jan 2024 10:30:43 -0500",
        "Wed, 31 Jan 2024 07:34:49 -0500",
        "Wed, 31 Jan 2024 06:06:06 -0500",
        "Wed, 31 Jan 2024 04:52:29 -0500",
        "Wed, 31 Jan 2024 04:00:00 -0500",
        "Wed, 31 Jan 2024 03:30:00 -0500",
        "Tue, 30 Jan 2024 21:57:52 -0500",
        "Tue, 30 Jan 2024 20:43:16 -0500",
        "Tue, 30 Jan 2024 13:30:00 -0500",
        "Tue, 30 Jan 2024 12:30:00 -0500",
        "Tue, 30 Jan 2024 11:30:25 -0500",
        "Tue, 30 Jan 2024 10:31:45 -0500",
        "Mon, 29 Jan 2024 21:47:53 -0500",
        "Mon, 29 Jan 2024 21:45:17 -0500",
        "Mon, 29 Jan 2024 20:40:32 -0500",
        "Mon, 29 Jan 2024 20:28:31 -0500",
        "Mon, 29 Jan 2024 16:00:00 -0500",
        "Mon, 29 Jan 2024 14:30:00 -0500",
        "Mon, 29 Jan 2024 12:00:00 -0500",
        "Mon, 29 Jan 2024 10:46:42 -0500",
        "Mon, 29 Jan 2024 10:00:10 -0500",
        "Mon, 29 Jan 2024 08:30:00 -0500",
        "Mon, 29 Jan 2024 07:30:00 -0500",
        "Mon, 29 Jan 2024 06:40:05 -0500",
        "Mon, 29 Jan 2024 05:45:32 -0500",
        "Mon, 29 Jan 2024 02:00:34 -0500",
        "Mon, 29 Jan 2024 00:48:56 -0500",
        "Mon, 29 Jan 2024 00:13:20 -0500",
        "Sun, 28 Jan 2024 21:22:35 -0500",
        "Sun, 28 Jan 2024 21:13:53 -0500",
        "Sun, 28 Jan 2024 20:41:46 -0500",
        "Sun, 28 Jan 2024 20:37:22 -0500",
        "Sun, 28 Jan 2024 11:48:26 -0500",
        "Sun, 28 Jan 2024 10:09:00 -0500",
        "Sun, 28 Jan 2024 10:06:00 -0500",
        "Sun, 28 Jan 2024 10:03:00 -0500",
        "Sun, 28 Jan 2024 10:00:00 -0500",
        "Sun, 28 Jan 2024 09:00:00 -0500",
        "Sun, 28 Jan 2024 08:00:00 -0500",
        "Sun, 28 Jan 2024 07:00:33 -0500",
        "Sun, 28 Jan 2024 06:30:00 -0500",
        "Sun, 28 Jan 2024 06:00:00 -0500",
        "Sun, 28 Jan 2024 05:39:10 -0500",
        "Sun, 28 Jan 2024 05:00:00 -0500",
        "Sun, 28 Jan 2024 04:00:00 -0500",
        "Sun, 28 Jan 2024 03:22:39 -0500",
        "Sun, 28 Jan 2024 00:09:08 -0500",
        "Sat, 27 Jan 2024 22:32:58 -0500",
        "Sat, 27 Jan 2024 12:15:00 -0500",
        "Sat, 27 Jan 2024 10:59:32 -0500",
        "Sat, 27 Jan 2024 10:15:00 -0500",
        "Sat, 27 Jan 2024 08:15:00 -0500",
        "Sat, 27 Jan 2024 04:09:50 -0500",
        "Sat, 27 Jan 2024 02:02:28 -0500",
        "Fri, 26 Jan 2024 17:00:00 -0500",
        "Fri, 26 Jan 2024 16:24:30 -0500",
        "Fri, 26 Jan 2024 16:00:00 -0500",
        "Fri, 26 Jan 2024 15:00:00 -0500",
        "Fri, 26 Jan 2024 13:30:40 -0500",
        "Fri, 26 Jan 2024 11:30:00 -0500",
        "Fri, 26 Jan 2024 08:15:00 -0500",
        "Fri, 26 Jan 2024 08:14:32 -0500",
        "Fri, 26 Jan 2024 07:15:00 -0500",
        "Fri, 26 Jan 2024 07:02:48 -0500",
        "Fri, 26 Jan 2024 06:29:23 -0500",
        "Fri, 26 Jan 2024 05:51:29 -0500",
        "Fri, 26 Jan 2024 05:00:00 -0500",
        "Fri, 26 Jan 2024 04:25:36 -0500",
        "Fri, 26 Jan 2024 03:58:17 -0500",
        "Thu, 25 Jan 2024 20:42:53 -0500",
        "Thu, 25 Jan 2024 19:47:10 -0500",
        "Thu, 25 Jan 2024 16:16:34 -0500",
        "Thu, 25 Jan 2024 16:00:00 -0500",
        "Thu, 25 Jan 2024 15:48:41 -0500",
        "Thu, 25 Jan 2024 12:00:00 -0500",
        "Thu, 25 Jan 2024 11:18:55 -0500",
        "Thu, 25 Jan 2024 10:41:58 -0500",
        "Thu, 25 Jan 2024 09:05:00 -0500",
        "Thu, 25 Jan 2024 08:05:00 -0500",
        "Thu, 25 Jan 2024 07:05:00 -0500",
        "Thu, 25 Jan 2024 05:10:10 -0500",
        "Thu, 25 Jan 2024 04:47:04 -0500",
        "Thu, 25 Jan 2024 03:44:12 -0500",
        "Thu, 25 Jan 2024 03:32:59 -0500",
        "Thu, 25 Jan 2024 00:17:41 -0500",
        "Wed, 24 Jan 2024 23:45:35 -0500",
        "Wed, 24 Jan 2024 22:28:11 -0500",
        "Wed, 24 Jan 2024 21:15:42 -0500",
        "Wed, 24 Jan 2024 17:30:00 -0500",
        "Wed, 24 Jan 2024 17:00:00 -0500",
        "Wed, 24 Jan 2024 16:30:00 -0500",
        "Wed, 24 Jan 2024 16:00:00 -0500",
        "Wed, 24 Jan 2024 15:40:03 -0500",
        "Wed, 24 Jan 2024 15:30:00 -0500",
        "Wed, 24 Jan 2024 15:00:00 -0500",
        "Wed, 24 Jan 2024 14:30:00 -0500",
        "Wed, 24 Jan 2024 14:00:00 -0500",
        "Wed, 24 Jan 2024 13:30:00 -0500",
        "Wed, 24 Jan 2024 13:01:05 -0500",
        "Wed, 24 Jan 2024 12:00:00 -0500",
        "Wed, 24 Jan 2024 11:25:16 -0500",
        "Wed, 24 Jan 2024 10:00:00 -0500",
        "Tue, 23 Jan 2024 23:17:18 -0500",
        "Tue, 23 Jan 2024 22:42:25 -0500",
        "Tue, 23 Jan 2024 19:52:46 -0500",
        "Tue, 23 Jan 2024 19:00:00 -0500",
        "Tue, 23 Jan 2024 18:52:16 -0500",
        "Tue, 23 Jan 2024 17:00:00 -0500",
        "Tue, 23 Jan 2024 16:00:00 -0500",
        "Tue, 23 Jan 2024 15:00:00 -0500",
        "Tue, 23 Jan 2024 14:00:00 -0500",
        "Tue, 23 Jan 2024 13:00:00 -0500",
        "Tue, 23 Jan 2024 12:30:00 -0500",
        "Tue, 23 Jan 2024 12:02:25 -0500",
        "Tue, 23 Jan 2024 11:30:58 -0500",
        "Tue, 23 Jan 2024 11:00:00 -0500",
        "Tue, 23 Jan 2024 10:39:02 -0500",
        "Tue, 23 Jan 2024 08:56:56 -0500",
        "Tue, 23 Jan 2024 06:35:36 -0500",
        "Tue, 23 Jan 2024 04:46:25 -0500",
        "Tue, 23 Jan 2024 00:11:17 -0500",
        "Mon, 22 Jan 2024 22:29:48 -0500",
        "Mon, 22 Jan 2024 21:09:56 -0500",
        "Mon, 22 Jan 2024 20:02:37 -0500",
        "Mon, 22 Jan 2024 20:00:00 -0500",
        "Mon, 22 Jan 2024 19:30:00 -0500",
        "Mon, 22 Jan 2024 19:00:00 -0500",
        "Mon, 22 Jan 2024 18:30:00 -0500",
        "Mon, 22 Jan 2024 17:30:00 -0500",
        "Mon, 22 Jan 2024 17:00:00 -0500",
        "Mon, 22 Jan 2024 16:32:35 -0500",
        "Mon, 22 Jan 2024 16:00:00 -0500",
        "Mon, 22 Jan 2024 15:30:00 -0500",
        "Mon, 22 Jan 2024 15:00:00 -0500",
        "Mon, 22 Jan 2024 14:30:36 -0500",
        "Mon, 22 Jan 2024 14:00:00 -0500",
        "Mon, 22 Jan 2024 13:30:00 -0500",
        "Mon, 22 Jan 2024 12:30:00 -0500",
        "Mon, 22 Jan 2024 12:00:00 -0500",
        "Mon, 22 Jan 2024 11:30:00 -0500",
        "Mon, 22 Jan 2024 11:00:00 -0500",
        "Mon, 22 Jan 2024 10:30:00 -0500",
        "Mon, 22 Jan 2024 10:00:57 -0500",
        "Mon, 22 Jan 2024 08:17:42 -0500",
        "Sun, 21 Jan 2024 20:25:02 -0500",
        "Sun, 21 Jan 2024 10:32:05 -0500",
        "Sun, 21 Jan 2024 10:00:00 -0500",
        "Sun, 21 Jan 2024 08:20:51 -0500",
        "Sun, 21 Jan 2024 07:36:56 -0500",
        "Sun, 21 Jan 2024 07:10:46 -0500",
        "Sun, 21 Jan 2024 05:01:53 -0500",
        "Sun, 21 Jan 2024 03:07:20 -0500",
        "Sun, 21 Jan 2024 00:58:16 -0500",
        "Sun, 21 Jan 2024 00:01:28 -0500",
        "Sat, 20 Jan 2024 21:26:17 -0500",
        "Sat, 20 Jan 2024 21:02:02 -0500",
        "Sat, 20 Jan 2024 17:15:00 -0500",
        "Sat, 20 Jan 2024 15:15:00 -0500",
        "Sat, 20 Jan 2024 13:15:00 -0500",
        "Sat, 20 Jan 2024 11:47:05 -0500",
        "Sat, 20 Jan 2024 11:15:00 -0500",
        "Sat, 20 Jan 2024 06:15:00 -0500",
        "Sat, 20 Jan 2024 05:20:03 -0500",
        "Sat, 20 Jan 2024 02:55:11 -0500",
        "Fri, 19 Jan 2024 21:32:59 -0500",
        "Fri, 19 Jan 2024 20:00:00 -0500",
        "Fri, 19 Jan 2024 19:00:00 -0500",
        "Fri, 19 Jan 2024 17:00:00 -0500",
        "Fri, 19 Jan 2024 16:00:00 -0500",
        "Fri, 19 Jan 2024 15:25:48 -0500",
        "Fri, 19 Jan 2024 14:40:56 -0500",
        "Fri, 19 Jan 2024 12:20:25 -0500",
        "Fri, 19 Jan 2024 12:00:00 -0500",
        "Fri, 19 Jan 2024 11:00:00 -0500",
        "Fri, 19 Jan 2024 05:15:26 -0500",
        "Fri, 19 Jan 2024 04:00:00 -0500",
        "Fri, 19 Jan 2024 03:58:56 -0500",
        "Fri, 19 Jan 2024 03:45:49 -0500",
        "Fri, 19 Jan 2024 02:46:32 -0500",
        "Fri, 19 Jan 2024 01:35:57 -0500",
        "Thu, 18 Jan 2024 23:18:32 -0500",
        "Thu, 18 Jan 2024 22:37:10 -0500",
        "Thu, 18 Jan 2024 22:33:16 -0500",
        "Thu, 18 Jan 2024 17:02:30 -0500",
        "Thu, 18 Jan 2024 17:00:00 -0500",
        "Thu, 18 Jan 2024 16:00:00 -0500",
        "Thu, 18 Jan 2024 13:18:14 -0500",
        "Thu, 18 Jan 2024 13:00:00 -0500",
        "Thu, 18 Jan 2024 12:20:54 -0500",
        "Thu, 18 Jan 2024 11:33:07 -0500",
        "Thu, 18 Jan 2024 10:15:00 -0500",
        "Thu, 18 Jan 2024 09:55:14 -0500",
        "Thu, 18 Jan 2024 09:45:00 -0500",
        "Thu, 18 Jan 2024 09:15:00 -0500",
        "Thu, 18 Jan 2024 08:45:00 -0500",
        "Thu, 18 Jan 2024 08:15:00 -0500",
        "Thu, 18 Jan 2024 07:45:00 -0500",
        "Thu, 18 Jan 2024 05:15:43 -0500",
        "Thu, 18 Jan 2024 04:28:15 -0500",
        "Wed, 17 Jan 2024 23:41:41 -0500",
        "Wed, 17 Jan 2024 19:55:35 -0500",
        "Wed, 17 Jan 2024 17:30:00 -0500",
        "Wed, 17 Jan 2024 17:00:00 -0500",
        "Wed, 17 Jan 2024 15:00:00 -0500",
        "Wed, 17 Jan 2024 14:00:00 -0500",
        "Wed, 17 Jan 2024 12:28:41 -0500",
        "Wed, 17 Jan 2024 12:00:00 -0500",
        "Wed, 17 Jan 2024 11:18:46 -0500",
        "Wed, 17 Jan 2024 11:00:00 -0500",
        "Wed, 17 Jan 2024 10:30:00 -0500",
        "Wed, 17 Jan 2024 01:40:32 -0500",
        "Wed, 17 Jan 2024 01:24:40 -0500",
        "Tue, 16 Jan 2024 20:47:58 -0500",
        "Tue, 16 Jan 2024 20:35:00 -0500",
        "Tue, 16 Jan 2024 19:52:10 -0500",
        "Tue, 16 Jan 2024 12:11:56 -0500",
        "Tue, 16 Jan 2024 04:32:18 -0500",
        "Mon, 15 Jan 2024 23:38:22 -0500",
        "Mon, 15 Jan 2024 23:29:36 -0500",
        "Mon, 15 Jan 2024 22:43:10 -0500",
        "Mon, 15 Jan 2024 20:34:33 -0500",
        "Mon, 15 Jan 2024 20:29:46 -0500",
        "Mon, 15 Jan 2024 08:45:00 -0500",
        "Mon, 15 Jan 2024 07:45:00 -0500",
        "Mon, 15 Jan 2024 06:45:00 -0500",
        "Mon, 15 Jan 2024 06:14:44 -0500",
        "Mon, 15 Jan 2024 05:46:07 -0500",
        "Mon, 15 Jan 2024 05:45:00 -0500",
        "Mon, 15 Jan 2024 04:51:29 -0500",
        "Mon, 15 Jan 2024 04:45:00 -0500",
        "Mon, 15 Jan 2024 03:45:00 -0500",
        "Mon, 15 Jan 2024 02:45:00 -0500",
        "Mon, 15 Jan 2024 01:45:00 -0500",
        "Mon, 15 Jan 2024 00:59:04 -0500",
        "Sun, 14 Jan 2024 23:00:00 -0500",
        "Sun, 14 Jan 2024 21:26:05 -0500",
        "Sun, 14 Jan 2024 20:38:50 -0500",
        "Sun, 14 Jan 2024 12:15:00 -0500",
        "Sun, 14 Jan 2024 11:50:07 -0500",
        "Sun, 14 Jan 2024 08:39:17 -0500",
        "Sun, 14 Jan 2024 08:10:17 -0500",
        "Sun, 14 Jan 2024 07:41:58 -0500",
        "Sun, 14 Jan 2024 04:15:00 -0500",
        "Sun, 14 Jan 2024 02:05:00 -0500",
        "Sun, 14 Jan 2024 01:05:00 -0500",
        "Sun, 14 Jan 2024 00:05:00 -0500",
        "Sat, 13 Jan 2024 22:57:30 -0500",
        "Sat, 13 Jan 2024 10:44:57 -0500",
        "Sat, 13 Jan 2024 10:20:53 -0500",
        "Sat, 13 Jan 2024 09:47:51 -0500",
        "Sat, 13 Jan 2024 07:05:00 -0500",
        "Sat, 13 Jan 2024 06:05:00 -0500",
        "Sat, 13 Jan 2024 05:05:00 -0500",
        "Sat, 13 Jan 2024 04:05:00 -0500",
        "Sat, 13 Jan 2024 03:56:47 -0500",
        "Sat, 13 Jan 2024 03:05:00 -0500",
        "Sat, 13 Jan 2024 02:05:00 -0500",
        "Sat, 13 Jan 2024 00:14:26 -0500",
        "Fri, 12 Jan 2024 23:08:18 -0500",
        "Fri, 12 Jan 2024 17:00:00 -0500",
        "Fri, 12 Jan 2024 15:30:00 -0500",
        "Fri, 12 Jan 2024 12:54:21 -0500",
        "Fri, 12 Jan 2024 12:36:25 -0500",
        "Fri, 12 Jan 2024 11:30:09 -0500",
        "Fri, 12 Jan 2024 11:00:00 -0500",
        "Fri, 12 Jan 2024 10:40:48 -0500",
        "Fri, 12 Jan 2024 10:00:00 -0500",
        "Fri, 12 Jan 2024 08:00:00 -0500",
        "Fri, 12 Jan 2024 07:16:48 -0500",
        "Fri, 12 Jan 2024 06:06:32 -0500",
        "Fri, 12 Jan 2024 05:35:33 -0500",
        "Fri, 12 Jan 2024 04:57:59 -0500",
        "Fri, 12 Jan 2024 04:44:10 -0500",
        "Fri, 12 Jan 2024 02:11:44 -0500",
        "Fri, 12 Jan 2024 01:38:52 -0500",
        "Thu, 11 Jan 2024 22:19:08 -0500",
        "Thu, 11 Jan 2024 20:21:05 -0500",
        "Thu, 11 Jan 2024 16:00:00 -0500",
        "Thu, 11 Jan 2024 15:38:52 -0500",
        "Thu, 11 Jan 2024 15:11:53 -0500",
        "Thu, 11 Jan 2024 14:08:39 -0500",
        "Thu, 11 Jan 2024 13:30:00 -0500",
        "Thu, 11 Jan 2024 12:41:47 -0500",
        "Thu, 11 Jan 2024 11:42:47 -0500",
        "Thu, 11 Jan 2024 10:15:00 -0500",
        "Thu, 11 Jan 2024 10:12:08 -0500",
        "Thu, 11 Jan 2024 09:15:00 -0500",
        "Thu, 11 Jan 2024 08:15:00 -0500",
        "Thu, 11 Jan 2024 07:05:33 -0500",
        "Thu, 11 Jan 2024 06:54:54 -0500",
        "Thu, 11 Jan 2024 05:14:46 -0500",
        "Thu, 11 Jan 2024 04:48:43 -0500",
        "Thu, 11 Jan 2024 04:19:50 -0500",
        "Thu, 11 Jan 2024 03:47:09 -0500",
        "Thu, 11 Jan 2024 03:42:14 -0500",
        "Thu, 11 Jan 2024 02:52:25 -0500",
        "Wed, 10 Jan 2024 20:43:29 -0500",
        "Wed, 10 Jan 2024 20:30:03 -0500",
        "Wed, 10 Jan 2024 19:00:00 -0500",
        "Wed, 10 Jan 2024 18:00:00 -0500",
        "Wed, 10 Jan 2024 17:00:00 -0500",
        "Wed, 10 Jan 2024 16:31:48 -0500",
        "Wed, 10 Jan 2024 16:00:00 -0500",
        "Wed, 10 Jan 2024 15:00:00 -0500",
        "Wed, 10 Jan 2024 14:00:00 -0500",
        "Wed, 10 Jan 2024 13:30:00 -0500",
        "Wed, 10 Jan 2024 12:37:52 -0500",
        "Wed, 10 Jan 2024 11:26:43 -0500",
        "Wed, 10 Jan 2024 11:00:25 -0500",
        "Wed, 10 Jan 2024 10:24:04 -0500",
        "Wed, 10 Jan 2024 06:13:26 -0500",
        "Tue, 09 Jan 2024 22:50:32 -0500",
        "Tue, 09 Jan 2024 22:43:41 -0500",
        "Tue, 09 Jan 2024 20:44:18 -0500",
        "Tue, 09 Jan 2024 19:45:00 -0500",
        "Tue, 09 Jan 2024 17:00:00 -0500",
        "Tue, 09 Jan 2024 15:30:00 -0500",
        "Tue, 09 Jan 2024 14:30:00 -0500",
        "Tue, 09 Jan 2024 13:30:00 -0500",
        "Tue, 09 Jan 2024 12:42:08 -0500",
        "Tue, 09 Jan 2024 12:00:00 -0500",
        "Tue, 09 Jan 2024 11:12:28 -0500",
        "Tue, 09 Jan 2024 06:10:50 -0500",
        "Tue, 09 Jan 2024 04:21:24 -0500",
        "Tue, 09 Jan 2024 03:01:37 -0500",
        "Tue, 09 Jan 2024 02:54:27 -0500",
        "Tue, 09 Jan 2024 02:47:42 -0500",
        "Tue, 09 Jan 2024 01:56:36 -0500",
        "Mon, 08 Jan 2024 23:44:20 -0500",
        "Mon, 08 Jan 2024 21:10:12 -0500",
        "Mon, 08 Jan 2024 19:00:00 -0500",
        "Mon, 08 Jan 2024 17:00:00 -0500",
        "Mon, 08 Jan 2024 16:30:59 -0500",
        "Mon, 08 Jan 2024 16:00:00 -0500",
        "Mon, 08 Jan 2024 15:30:00 -0500",
        "Mon, 08 Jan 2024 15:00:00 -0500",
        "Mon, 08 Jan 2024 14:30:00 -0500",
        "Mon, 08 Jan 2024 14:00:00 -0500",
        "Mon, 08 Jan 2024 13:30:00 -0500",
        "Mon, 08 Jan 2024 13:00:00 -0500",
        "Mon, 08 Jan 2024 12:30:00 -0500",
        "Mon, 08 Jan 2024 11:30:00 -0500",
        "Mon, 08 Jan 2024 11:00:00 -0500",
        "Mon, 08 Jan 2024 05:20:09 -0500",
        "Mon, 08 Jan 2024 00:34:44 -0500",
        "Sun, 07 Jan 2024 21:44:11 -0500",
        "Sun, 07 Jan 2024 19:48:01 -0500",
        "Sun, 07 Jan 2024 10:00:00 -0500",
        "Sun, 07 Jan 2024 07:04:32 -0500",
        "Sun, 07 Jan 2024 03:09:06 -0500",
        "Sun, 07 Jan 2024 01:20:00 -0500",
        "Sun, 07 Jan 2024 00:46:53 -0500",
        "Sat, 06 Jan 2024 22:23:35 -0500",
        "Sat, 06 Jan 2024 17:51:44 -0500",
        "Sat, 06 Jan 2024 17:43:54 -0500",
        "Sat, 06 Jan 2024 17:37:24 -0500",
        "Sat, 06 Jan 2024 16:47:56 -0500",
        "Sat, 06 Jan 2024 06:59:23 -0500",
        "Sat, 06 Jan 2024 06:45:50 -0500",
        "Sat, 06 Jan 2024 04:36:30 -0500",
        "Sat, 06 Jan 2024 04:11:02 -0500",
        "Sat, 06 Jan 2024 03:53:00 -0500",
        "Sat, 06 Jan 2024 03:38:55 -0500",
        "Fri, 05 Jan 2024 15:30:33 -0500",
        "Fri, 05 Jan 2024 14:19:40 -0500",
        "Fri, 05 Jan 2024 11:49:15 -0500",
        "Fri, 05 Jan 2024 10:51:26 -0500",
        "Fri, 05 Jan 2024 06:23:50 -0500",
        "Fri, 05 Jan 2024 05:00:00 -0500",
        "Fri, 05 Jan 2024 04:46:17 -0500",
        "Fri, 05 Jan 2024 03:51:14 -0500",
        "Fri, 05 Jan 2024 03:00:00 -0500",
        "Fri, 05 Jan 2024 01:54:41 -0500",
        "Fri, 05 Jan 2024 01:29:59 -0500",
        "Thu, 04 Jan 2024 23:10:21 -0500",
        "Thu, 04 Jan 2024 16:20:51 -0500",
        "Thu, 04 Jan 2024 13:59:52 -0500",
        "Thu, 04 Jan 2024 13:11:35 -0500",
        "Thu, 04 Jan 2024 10:30:00 -0500",
        "Thu, 04 Jan 2024 10:05:21 -0500",
        "Thu, 04 Jan 2024 07:42:22 -0500",
        "Thu, 04 Jan 2024 07:10:00 -0500",
        "Thu, 04 Jan 2024 04:45:16 -0500",
        "Thu, 04 Jan 2024 03:18:07 -0500",
        "Thu, 04 Jan 2024 02:52:47 -0500",
        "Wed, 03 Jan 2024 22:59:42 -0500",
        "Wed, 03 Jan 2024 16:46:02 -0500",
        "Wed, 03 Jan 2024 16:00:00 -0500",
        "Wed, 03 Jan 2024 15:00:00 -0500",
        "Wed, 03 Jan 2024 14:00:00 -0500",
        "Wed, 03 Jan 2024 12:44:36 -0500",
        "Wed, 03 Jan 2024 11:00:00 -0500",
        "Wed, 03 Jan 2024 10:18:10 -0500",
        "Wed, 03 Jan 2024 06:40:29 -0500",
        "Tue, 02 Jan 2024 22:52:04 -0500",
        "Tue, 02 Jan 2024 21:56:46 -0500",
        "Tue, 02 Jan 2024 17:00:00 -0500",
        "Tue, 02 Jan 2024 16:00:00 -0500",
        "Tue, 02 Jan 2024 15:00:00 -0500",
        "Tue, 02 Jan 2024 14:00:00 -0500",
        "Tue, 02 Jan 2024 13:00:00 -0500",
        "Tue, 02 Jan 2024 12:00:00 -0500",
        "Tue, 02 Jan 2024 11:05:00 -0500",
        "Tue, 02 Jan 2024 10:02:32 -0500",
        "Tue, 02 Jan 2024 05:50:11 -0500",
        "Tue, 02 Jan 2024 04:03:15 -0500",
        "Mon, 01 Jan 2024 13:57:42 -0500",
        "Mon, 01 Jan 2024 10:05:00 -0500",
        "Mon, 01 Jan 2024 06:18:19 -0500",
        "Mon, 01 Jan 2024 04:06:44 -0500",
        "Mon, 01 Jan 2024 03:48:33 -0500",
        "Mon, 01 Jan 2024 03:23:16 -0500",
        "Mon, 01 Jan 2024 02:52:06 -0500",
        "Mon, 01 Jan 2024 02:07:23 -0500",
        "Sun, 31 Dec 2023 23:50:00 -0500",
        "Sun, 31 Dec 2023 22:00:00 -0500",
        "Sun, 31 Dec 2023 12:23:39 -0500",
        "Sun, 31 Dec 2023 11:12:34 -0500",
        "Sun, 31 Dec 2023 09:59:37 -0500",
        "Sun, 31 Dec 2023 07:35:00 -0500",
        "Sun, 31 Dec 2023 06:35:00 -0500",
        "Sun, 31 Dec 2023 04:35:00 -0500",
        "Sun, 31 Dec 2023 03:35:00 -0500",
        "Sun, 31 Dec 2023 02:25:49 -0500",
        "Sat, 30 Dec 2023 23:24:17 -0500",
        "Sat, 30 Dec 2023 22:15:00 -0500",
        "Sat, 30 Dec 2023 21:37:13 -0500",
        "Sat, 30 Dec 2023 10:29:44 -0500",
        "Sat, 30 Dec 2023 08:05:00 -0500",
        "Fri, 29 Dec 2023 23:16:02 -0500",
        "Fri, 29 Dec 2023 23:00:05 -0500",
        "Fri, 29 Dec 2023 22:38:23 -0500",
        "Fri, 29 Dec 2023 22:26:26 -0500",
        "Fri, 29 Dec 2023 21:19:07 -0500",
        "Fri, 29 Dec 2023 09:10:00 -0500",
        "Thu, 28 Dec 2023 21:56:10 -0500",
        "Thu, 28 Dec 2023 21:20:14 -0500",
        "Thu, 28 Dec 2023 20:29:59 -0500",
        "Thu, 28 Dec 2023 19:51:34 -0500",
        "Thu, 28 Dec 2023 16:00:00 -0500",
        "Thu, 28 Dec 2023 15:00:00 -0500",
        "Thu, 28 Dec 2023 14:00:00 -0500",
        "Thu, 28 Dec 2023 13:30:00 -0500",
        "Thu, 28 Dec 2023 13:00:00 -0500",
        "Thu, 28 Dec 2023 12:00:00 -0500",
        "Thu, 28 Dec 2023 11:31:40 -0500",
        "Thu, 28 Dec 2023 10:59:29 -0500",
        "Thu, 28 Dec 2023 10:38:58 -0500",
        "Thu, 28 Dec 2023 09:52:39 -0500",
        "Thu, 28 Dec 2023 03:00:00 -0500",
        "Thu, 28 Dec 2023 02:46:23 -0500",
        "Thu, 28 Dec 2023 01:36:00 -0500",
        "Wed, 27 Dec 2023 23:29:25 -0500",
        "Wed, 27 Dec 2023 20:56:37 -0500",
        "Wed, 27 Dec 2023 19:52:31 -0500",
        "Wed, 27 Dec 2023 19:18:07 -0500",
        "Wed, 27 Dec 2023 17:00:00 -0500",
        "Wed, 27 Dec 2023 16:30:00 -0500",
        "Wed, 27 Dec 2023 16:00:00 -0500",
        "Wed, 27 Dec 2023 15:30:00 -0500",
        "Wed, 27 Dec 2023 15:00:00 -0500",
        "Wed, 27 Dec 2023 14:30:00 -0500",
        "Wed, 27 Dec 2023 13:49:15 -0500",
        "Wed, 27 Dec 2023 13:30:00 -0500",
        "Wed, 27 Dec 2023 13:00:00 -0500",
        "Wed, 27 Dec 2023 12:30:00 -0500",
        "Wed, 27 Dec 2023 12:00:00 -0500",
        "Wed, 27 Dec 2023 11:16:38 -0500",
        "Wed, 27 Dec 2023 10:31:51 -0500",
        "Wed, 27 Dec 2023 10:05:49 -0500",
        "Wed, 27 Dec 2023 09:38:34 -0500",
        "Tue, 26 Dec 2023 23:32:06 -0500",
        "Tue, 26 Dec 2023 21:47:04 -0500",
        "Tue, 26 Dec 2023 19:22:18 -0500",
        "Tue, 26 Dec 2023 14:00:00 -0500",
        "Tue, 26 Dec 2023 13:00:00 -0500",
        "Tue, 26 Dec 2023 12:00:00 -0500",
        "Tue, 26 Dec 2023 11:30:00 -0500",
        "Tue, 26 Dec 2023 11:05:33 -0500",
        "Tue, 26 Dec 2023 10:30:28 -0500",
        "Mon, 25 Dec 2023 22:55:37 -0500",
        "Mon, 25 Dec 2023 22:01:22 -0500",
        "Mon, 25 Dec 2023 21:16:02 -0500",
        "Mon, 25 Dec 2023 20:05:00 -0500",
        "Mon, 25 Dec 2023 19:30:45 -0500",
        "Mon, 25 Dec 2023 16:05:00 -0500",
        "Mon, 25 Dec 2023 14:05:00 -0500",
        "Mon, 25 Dec 2023 12:05:00 -0500",
        "Mon, 25 Dec 2023 10:00:00 -0500",
        "Mon, 25 Dec 2023 09:20:00 -0500",
        "Mon, 25 Dec 2023 09:00:00 -0500",
        "Mon, 25 Dec 2023 07:20:00 -0500",
        "Mon, 25 Dec 2023 06:54:12 -0500",
        "Mon, 25 Dec 2023 06:18:34 -0500",
        "Mon, 25 Dec 2023 06:03:56 -0500",
        "Mon, 25 Dec 2023 05:20:00 -0500",
        "Mon, 25 Dec 2023 04:15:44 -0500",
        "Mon, 25 Dec 2023 02:22:11 -0500",
        "Mon, 25 Dec 2023 02:04:32 -0500",
        "Mon, 25 Dec 2023 01:26:49 -0500",
        "Mon, 25 Dec 2023 01:14:03 -0500",
        "Mon, 25 Dec 2023 01:09:15 -0500",
        "Mon, 25 Dec 2023 00:57:31 -0500",
        "Sun, 24 Dec 2023 13:05:00 -0500",
        "Sun, 24 Dec 2023 12:05:00 -0500",
        "Sun, 24 Dec 2023 11:03:57 -0500",
        "Sun, 24 Dec 2023 11:00:00 -0500",
        "Sun, 24 Dec 2023 10:00:00 -0500",
        "Sun, 24 Dec 2023 09:15:00 -0500",
        "Sun, 24 Dec 2023 08:43:47 -0500",
        "Sun, 24 Dec 2023 08:15:57 -0500",
        "Sat, 23 Dec 2023 23:43:14 -0500",
        "Sat, 23 Dec 2023 23:35:11 -0500",
        "Sat, 23 Dec 2023 19:28:09 -0500",
        "Sat, 23 Dec 2023 15:05:00 -0500",
        "Sat, 23 Dec 2023 13:05:00 -0500",
        "Sat, 23 Dec 2023 11:05:00 -0500",
        "Sat, 23 Dec 2023 09:05:00 -0500",
        "Sat, 23 Dec 2023 07:05:00 -0500",
        "Sat, 23 Dec 2023 03:52:19 -0500",
        "Sat, 23 Dec 2023 03:37:25 -0500",
        "Sat, 23 Dec 2023 00:51:33 -0500",
        "Fri, 22 Dec 2023 22:56:05 -0500",
        "Fri, 22 Dec 2023 22:42:02 -0500",
        "Fri, 22 Dec 2023 22:20:08 -0500",
        "Fri, 22 Dec 2023 17:05:00 -0500",
        "Fri, 22 Dec 2023 15:05:00 -0500",
        "Fri, 22 Dec 2023 13:05:00 -0500",
        "Fri, 22 Dec 2023 11:05:00 -0500",
        "Fri, 22 Dec 2023 09:05:00 -0500",
        "Fri, 22 Dec 2023 08:05:00 -0500",
        "Fri, 22 Dec 2023 07:44:59 -0500",
        "Fri, 22 Dec 2023 07:07:34 -0500",
        "Fri, 22 Dec 2023 05:15:01 -0500",
        "Fri, 22 Dec 2023 04:38:09 -0500",
        "Fri, 22 Dec 2023 03:44:07 -0500",
        "Fri, 22 Dec 2023 03:22:11 -0500",
        "Fri, 22 Dec 2023 01:00:41 -0500",
        "Thu, 21 Dec 2023 20:47:06 -0500",
        "Thu, 21 Dec 2023 20:09:52 -0500",
        "Thu, 21 Dec 2023 19:36:19 -0500",
        "Thu, 21 Dec 2023 14:00:00 -0500",
        "Thu, 21 Dec 2023 13:25:50 -0500",
        "Thu, 21 Dec 2023 12:08:25 -0500",
        "Thu, 21 Dec 2023 10:36:46 -0500",
        "Thu, 21 Dec 2023 10:00:00 -0500",
        "Thu, 21 Dec 2023 10:00:00 -0500",
        "Thu, 21 Dec 2023 09:21:58 -0500",
        "Thu, 21 Dec 2023 06:57:35 -0500",
        "Thu, 21 Dec 2023 06:06:31 -0500",
        "Thu, 21 Dec 2023 05:41:13 -0500",
        "Thu, 21 Dec 2023 04:52:43 -0500",
        "Thu, 21 Dec 2023 04:41:21 -0500",
        "Thu, 21 Dec 2023 03:25:32 -0500",
        "Wed, 20 Dec 2023 20:46:00 -0500",
        "Wed, 20 Dec 2023 20:01:27 -0500",
        "Wed, 20 Dec 2023 19:32:58 -0500",
        "Wed, 20 Dec 2023 19:00:00 -0500",
        "Wed, 20 Dec 2023 18:00:00 -0500",
        "Wed, 20 Dec 2023 17:00:00 -0500",
        "Wed, 20 Dec 2023 16:00:00 -0500",
        "Wed, 20 Dec 2023 15:00:00 -0500",
        "Wed, 20 Dec 2023 14:30:00 -0500",
        "Wed, 20 Dec 2023 14:00:00 -0500",
        "Wed, 20 Dec 2023 13:13:44 -0500",
        "Wed, 20 Dec 2023 12:28:37 -0500",
        "Wed, 20 Dec 2023 11:24:45 -0500",
        "Wed, 20 Dec 2023 11:00:00 -0500",
        "Wed, 20 Dec 2023 10:27:46 -0500",
        "Wed, 20 Dec 2023 10:00:10 -0500",
        "Tue, 19 Dec 2023 21:37:11 -0500",
        "Tue, 19 Dec 2023 20:40:02 -0500",
        "Tue, 19 Dec 2023 20:37:44 -0500",
        "Tue, 19 Dec 2023 19:35:06 -0500",
        "Tue, 19 Dec 2023 17:00:00 -0500",
        "Tue, 19 Dec 2023 16:30:00 -0500",
        "Tue, 19 Dec 2023 16:00:00 -0500",
        "Tue, 19 Dec 2023 15:00:00 -0500",
        "Tue, 19 Dec 2023 14:40:24 -0500",
        "Tue, 19 Dec 2023 13:45:00 -0500",
        "Tue, 19 Dec 2023 13:00:00 -0500",
        "Tue, 19 Dec 2023 12:00:00 -0500",
        "Tue, 19 Dec 2023 11:00:00 -0500",
        "Tue, 19 Dec 2023 09:57:11 -0500",
        "Tue, 19 Dec 2023 01:32:47 -0500",
        "Mon, 18 Dec 2023 22:57:47 -0500",
        "Mon, 18 Dec 2023 19:10:40 -0500",
        "Mon, 18 Dec 2023 15:20:57 -0500",
        "Mon, 18 Dec 2023 12:34:44 -0500",
        "Mon, 18 Dec 2023 11:30:25 -0500",
        "Mon, 18 Dec 2023 09:00:00 -0500",
        "Mon, 18 Dec 2023 08:00:00 -0500",
        "Mon, 18 Dec 2023 07:06:20 -0500",
        "Mon, 18 Dec 2023 04:30:00 -0500",
        "Mon, 18 Dec 2023 04:00:00 -0500",
        "Mon, 18 Dec 2023 03:30:00 -0500",
        "Mon, 18 Dec 2023 03:00:00 -0500",
        "Mon, 18 Dec 2023 02:30:00 -0500",
        "Mon, 18 Dec 2023 01:45:19 -0500",
        "Mon, 18 Dec 2023 01:34:10 -0500",
        "Mon, 18 Dec 2023 01:21:28 -0500",
        "Mon, 18 Dec 2023 01:07:21 -0500",
        "Mon, 18 Dec 2023 00:48:46 -0500",
        "Sun, 17 Dec 2023 22:12:59 -0500",
        "Sun, 17 Dec 2023 19:09:52 -0500",
        "Sun, 17 Dec 2023 19:04:37 -0500",
        "Sun, 17 Dec 2023 15:00:00 -0500",
        "Sun, 17 Dec 2023 13:00:00 -0500",
        "Sun, 17 Dec 2023 05:00:00 -0500",
        "Sun, 17 Dec 2023 04:41:19 -0500",
        "Sun, 17 Dec 2023 04:26:09 -0500",
        "Sun, 17 Dec 2023 04:12:49 -0500",
        "Sun, 17 Dec 2023 04:09:45 -0500",
        "Sun, 17 Dec 2023 03:25:28 -0500",
        "Sun, 17 Dec 2023 02:36:12 -0500",
        "Sun, 17 Dec 2023 01:43:36 -0500",
        "Sun, 17 Dec 2023 01:27:43 -0500",
        "Sun, 17 Dec 2023 00:42:11 -0500",
        "Sat, 16 Dec 2023 23:47:03 -0500",
        "Sat, 16 Dec 2023 23:26:54 -0500",
        "Sat, 16 Dec 2023 23:22:10 -0500",
        "Sat, 16 Dec 2023 23:10:18 -0500",
        "Sat, 16 Dec 2023 22:46:45 -0500",
        "Sat, 16 Dec 2023 22:12:48 -0500"
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-03-07T02:30:02.675Z",
  "versionId": "633e37bb-76b9-4eb2-84a4-c3a5399143a0"
}