workflows/DKB Discord.json
{
  "active": true,
  "connections": {
    "regexURL DKB": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Global": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord DKB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract1": {
      "main": [
        [
          {
            "node": "Filter Erai Raws1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML Extract1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Filter Global",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Erai Raws1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filter DKB": {
      "main": [
        [
          {
            "node": "regexURL DKB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Only get new RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only get new RSS": {
      "main": [
        [
          {
            "node": "Filter DKB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-25T14:10:06.222Z",
  "id": "24",
  "name": "DKB Discord",
  "nodes": [
    {
      "parameters": {
        "channelId": "1041723229569552484",
        "embed": true,
        "color": "#E66F0D",
        "title": "={{ $json[\"title\"] }}",
        "url": "={{ $json[\"link2\"] }}",
        "authorName": "DKB",
        "authorUrl": "https://www.dkb.si/",
        "timestamp": "={{ $json[\"Date\"] }}"
      },
      "id": "b2070df1-0a7a-4f85-8cb7-e80addf8f6ad",
      "name": "Discord DKB",
      "type": "n8n-nodes-discord.discord",
      "typeVersion": 1,
      "position": [
        1980,
        1020
      ],
      "credentials": {
        "discordApi": {
          "id": "3",
          "name": "Discord n8n Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  var text = item.json.title;\n  var regex = /\\[DKB\\]|\\W1080p.*$/gm;\n  item.json.regexURL = text.replace(regex, '').trim();\n\nconst regexPattern = /S(\\d+)E(\\d+)/;\nconst matches = text.match(regexPattern);\n  \nitem.json.info = matches;\n  \n}\nreturn $input.all();"
      },
      "id": "2adf8664-110d-4f5b-9d2f-2a23cb4c2d85",
      "name": "regexURL DKB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        760,
        920
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=insert into public.releases (nome,season,episode,link,pubdate,hevc) values (' {{ $json[\"title\"] }} ', {{ $json[\"season\"] }}, {{ $json[\"episode\"] }}, ' {{ $json[\"link\"] }} ', ' {{ $json[\"Date\"] }} ', {{ $json[\"hevc\"] }})",
        "additionalFields": {
          "mode": "independently"
        }
      },
      "id": "7ab05715-b201-4725-b28f-5261c02cafb2",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1980,
        820
      ],
      "credentials": {
        "postgres": {
          "id": "16",
          "name": "Postgres BuffonAnimes"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "title",
              "value": "={{ $json[\"regexURL\"] }}"
            },
            {
              "name": "link",
              "value": "={{ $json[\"magnet\"] }}"
            },
            {
              "name": "Date",
              "value": "={{ $json[\"Date\"] }}"
            },
            {
              "name": "link2",
              "value": "={{ $json[\"link\"] }}"
            }
          ],
          "boolean": [
            {
              "name": "hevc",
              "value": true
            }
          ],
          "number": [
            {
              "name": "season",
              "value": "={{ $json.info[1] }}"
            },
            {
              "name": "episode",
              "value": "={{ $json.info[2] }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "63a9e00b-4e06-4999-85dd-da68ad10cf4d",
      "name": "Filter Global",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1800,
        920
      ]
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "magnet",
              "cssSelector": "a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "77120261-4c47-4108-a4d4-0a02f00bb3bd",
      "name": "HTML Extract1",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        1120,
        1020
      ]
    },
    {
      "parameters": {
        "url": "={{ $json[\"link\"] }}",
        "options": {}
      },
      "id": "7f0601c7-1a38-4fbe-b47f-d6eef17e72ef",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        940,
        1020
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "094f628a-0b56-45a8-8988-177a7d472a03",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1580,
        920
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "magnet",
              "value": "={{ $json[\"magnet\"][17] }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "name": "Filter Erai Raws1",
      "type": "n8n-nodes-base.set",
      "position": [
        1300,
        1020
      ],
      "typeVersion": 1,
      "id": "af5c520e-2a1d-4827-b067-e42ee83b4360"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "title",
              "value": "={{ $json[\"title\"] }}"
            },
            {
              "name": "link",
              "value": "={{ $json[\"guid\"] }}"
            },
            {
              "name": "Date",
              "value": "={{ $json[\"isoDate\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "b819734f-5831-4bd6-bfd7-ef8f9937a2fb",
      "name": "Filter DKB",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        540,
        1060
      ]
    },
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nconst newRSSIds = items.map(item => item.json[\"pubDate\"]);\nconst oldRSSIds = staticData.oldRSSIds; \n\nif (!oldRSSIds) {\n  staticData.oldRSSIds = newRSSIds;\n  return items;\n}\n\n\nconst actualNewRSSIds = newRSSIds.filter((id) => !oldRSSIds.includes(id));\nconst actualNewRSS = items.filter((data) => actualNewRSSIds.includes(data.json['pubDate']));\nstaticData.oldRSSIds = [...actualNewRSSIds, ...oldRSSIds];\n\nreturn actualNewRSS;\n"
      },
      "name": "Only get new RSS",
      "type": "n8n-nodes-base.function",
      "position": [
        380,
        1060
      ],
      "typeVersion": 1,
      "id": "418919f8-2465-4827-81fe-9952e7b92341"
    },
    {
      "parameters": {
        "url": "https://nyaa.si/?page=rss&u=DKB0512"
      },
      "id": "7e5f0dd9-af1e-46da-9c5a-edcd193f5774",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        220,
        1060
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "id": "d6eda982-d882-42ee-b334-0832ac66b0f6",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        60,
        1060
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:DKB": {
      "lastTimeChecked": "2023-02-25T16:25:28Z"
    },
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "global": {
      "oldRSSIds": [
        "Fri, 10 Mar 2023 23:18:20 -0000",
        "Fri, 10 Mar 2023 21:56:20 -0000",
        "Fri, 10 Mar 2023 20:28:52 -0000",
        "Fri, 10 Mar 2023 18:43:55 -0000",
        "Fri, 10 Mar 2023 15:50:20 -0000",
        "Thu, 09 Mar 2023 20:24:19 -0000",
        "Thu, 09 Mar 2023 17:48:50 -0000",
        "Thu, 09 Mar 2023 16:14:39 -0000",
        "Wed, 08 Mar 2023 19:22:53 -0000",
        "Wed, 08 Mar 2023 17:56:10 -0000",
        "Wed, 08 Mar 2023 17:01:08 -0000",
        "Wed, 08 Mar 2023 15:10:13 -0000",
        "Tue, 07 Mar 2023 19:04:29 -0000",
        "Tue, 07 Mar 2023 17:46:33 -0000",
        "Tue, 07 Mar 2023 16:53:53 -0000",
        "Mon, 06 Mar 2023 20:52:14 -0000",
        "Mon, 06 Mar 2023 20:41:40 -0000",
        "Mon, 06 Mar 2023 18:00:04 -0000",
        "Sun, 05 Mar 2023 19:41:14 -0000",
        "Sun, 05 Mar 2023 19:11:29 -0000",
        "Sun, 05 Mar 2023 18:11:14 -0000",
        "Sun, 05 Mar 2023 16:57:41 -0000",
        "Sun, 05 Mar 2023 15:13:28 -0000",
        "Sat, 04 Mar 2023 21:01:54 -0000",
        "Sat, 04 Mar 2023 20:12:44 -0000",
        "Sat, 04 Mar 2023 20:06:33 -0000",
        "Sat, 04 Mar 2023 19:56:26 -0000",
        "Sat, 04 Mar 2023 19:31:43 -0000",
        "Sat, 04 Mar 2023 18:25:23 -0000",
        "Sat, 04 Mar 2023 17:42:02 -0000",
        "Sat, 04 Mar 2023 16:10:55 -0000",
        "Sat, 04 Mar 2023 14:29:29 -0000",
        "Sat, 04 Mar 2023 12:03:23 -0000",
        "Sat, 04 Mar 2023 02:38:44 -0000",
        "Fri, 03 Mar 2023 21:15:04 -0000",
        "Fri, 03 Mar 2023 19:49:39 -0000",
        "Fri, 03 Mar 2023 15:51:00 -0000",
        "Thu, 02 Mar 2023 21:02:32 -0000",
        "Thu, 02 Mar 2023 18:40:41 -0000",
        "Thu, 02 Mar 2023 16:17:51 -0000",
        "Wed, 01 Mar 2023 19:17:41 -0000",
        "Wed, 01 Mar 2023 17:32:15 -0000",
        "Wed, 01 Mar 2023 15:32:14 -0000",
        "Wed, 01 Mar 2023 02:23:26 -0000",
        "Tue, 28 Feb 2023 21:57:36 -0000",
        "Tue, 28 Feb 2023 18:58:24 -0000",
        "Tue, 28 Feb 2023 18:05:04 -0000",
        "Tue, 28 Feb 2023 17:11:19 -0000",
        "Mon, 27 Feb 2023 20:43:52 -0000",
        "Mon, 27 Feb 2023 18:17:54 -0000",
        "Sun, 26 Feb 2023 19:07:23 -0000",
        "Sun, 26 Feb 2023 18:17:40 -0000",
        "Sun, 26 Feb 2023 16:52:52 -0000",
        "Sun, 26 Feb 2023 15:04:48 -0000",
        "Sat, 25 Feb 2023 20:54:21 -0000",
        "Sat, 25 Feb 2023 20:10:57 -0000",
        "Sat, 25 Feb 2023 19:55:22 -0000",
        "Sat, 25 Feb 2023 19:39:23 -0000",
        "Sat, 25 Feb 2023 19:32:35 -0000",
        "Sat, 25 Feb 2023 18:34:31 -0000",
        "Sat, 25 Feb 2023 18:08:56 -0000",
        "Sat, 25 Feb 2023 16:20:55 -0000",
        "Sat, 25 Feb 2023 14:57:47 -0000",
        "Sat, 25 Feb 2023 13:01:59 -0000",
        "Fri, 24 Feb 2023 20:43:58 -0000",
        "Fri, 24 Feb 2023 19:08:06 -0000",
        "Fri, 24 Feb 2023 16:23:59 -0000",
        "Thu, 23 Feb 2023 22:13:50 -0000",
        "Thu, 23 Feb 2023 18:35:00 -0000",
        "Thu, 23 Feb 2023 16:02:13 -0000",
        "Wed, 22 Feb 2023 19:17:52 -0000",
        "Wed, 22 Feb 2023 17:02:45 -0000",
        "Wed, 22 Feb 2023 15:21:33 -0000",
        "Wed, 22 Feb 2023 14:08:06 -0000",
        "Tue, 21 Feb 2023 17:51:01 -0000",
        "Tue, 21 Feb 2023 17:11:13 -0000",
        "Mon, 20 Feb 2023 20:55:32 -0000",
        "Mon, 20 Feb 2023 18:08:17 -0000",
        "Mon, 20 Feb 2023 02:53:58 -0000",
        "Sun, 19 Feb 2023 18:06:41 -0000",
        "Sun, 19 Feb 2023 17:10:44 -0000",
        "Sun, 19 Feb 2023 15:11:10 -0000",
        "Sun, 19 Feb 2023 02:25:27 -0000",
        "Sat, 18 Feb 2023 21:04:26 -0000",
        "Sat, 18 Feb 2023 20:52:16 -0000",
        "Sat, 18 Feb 2023 20:03:09 -0000",
        "Sat, 18 Feb 2023 19:39:51 -0000",
        "Sat, 18 Feb 2023 17:43:04 -0000",
        "Sat, 18 Feb 2023 17:37:03 -0000",
        "Sat, 18 Feb 2023 16:20:07 -0000",
        "Sat, 18 Feb 2023 14:52:15 -0000",
        "Sat, 18 Feb 2023 12:22:36 -0000",
        "Fri, 17 Feb 2023 20:27:55 -0000",
        "Fri, 17 Feb 2023 18:58:25 -0000",
        "Fri, 17 Feb 2023 15:58:51 -0000",
        "Thu, 16 Feb 2023 20:20:54 -0000",
        "Thu, 16 Feb 2023 17:49:18 -0000",
        "Thu, 16 Feb 2023 16:50:12 -0000",
        "Wed, 15 Feb 2023 19:12:18 -0000",
        "Wed, 15 Feb 2023 19:02:30 -0000",
        "Wed, 15 Feb 2023 16:49:14 -0000",
        "Wed, 15 Feb 2023 16:07:12 -0000",
        "Tue, 14 Feb 2023 18:56:32 -0000",
        "Tue, 14 Feb 2023 17:50:41 -0000",
        "Tue, 14 Feb 2023 16:49:21 -0000",
        "Mon, 13 Feb 2023 20:51:13 -0000",
        "Mon, 13 Feb 2023 18:10:40 -0000",
        "Sun, 12 Feb 2023 20:09:22 -0000",
        "Sun, 12 Feb 2023 19:03:23 -0000",
        "Sun, 12 Feb 2023 17:58:33 -0000",
        "Sun, 12 Feb 2023 16:15:18 -0000",
        "Sun, 12 Feb 2023 15:49:00 -0000",
        "Sat, 11 Feb 2023 21:04:52 -0000",
        "Sat, 11 Feb 2023 20:30:51 -0000",
        "Sat, 11 Feb 2023 20:23:11 -0000",
        "Sat, 11 Feb 2023 20:08:44 -0000",
        "Sat, 11 Feb 2023 19:43:11 -0000",
        "Sat, 11 Feb 2023 18:09:38 -0000",
        "Sat, 11 Feb 2023 17:07:10 -0000",
        "Sat, 11 Feb 2023 16:42:57 -0000",
        "Sat, 11 Feb 2023 15:57:58 -0000",
        "Sat, 11 Feb 2023 12:09:03 -0000",
        "Fri, 10 Feb 2023 20:24:29 -0000",
        "Fri, 10 Feb 2023 19:04:06 -0000",
        "Fri, 10 Feb 2023 15:42:38 -0000",
        "Thu, 09 Feb 2023 21:22:48 -0000",
        "Thu, 09 Feb 2023 17:54:06 -0000",
        "Thu, 09 Feb 2023 16:00:08 -0000",
        "Wed, 08 Feb 2023 20:14:01 -0000",
        "Wed, 08 Feb 2023 20:08:54 -0000",
        "Wed, 08 Feb 2023 18:46:17 -0000",
        "Wed, 08 Feb 2023 15:18:13 -0000",
        "Tue, 07 Feb 2023 20:41:47 -0000",
        "Tue, 07 Feb 2023 19:42:29 -0000"
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-03-11T04:55:10.969Z",
  "versionId": "fe85ebb0-0fcb-44da-86c1-71224acb82dd"
}