workflows/Erai Raws Notification.json
{
  "active": true,
  "connections": {
    "Only get new RSS": {
      "main": [
        [
          {
            "node": "Filter Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Only get new RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regex": {
      "main": [
        [
          {
            "node": "Discord Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Inputs": {
      "main": [
        [
          {
            "node": "Regex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-10-30T17:47:20.551Z",
  "id": "L9fedvgXMlbbwZjA",
  "meta": null,
  "name": "Erai Raws Notification",
  "nodes": [
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nconst newRSSIds = items.map(item => item.json[\"pubDate\"]);\nconst oldRSSIds = staticData.oldRSSIds; \n\nif (!oldRSSIds) {\n  staticData.oldRSSIds = newRSSIds;\n  return items;\n}\n\n\nconst actualNewRSSIds = newRSSIds.filter((id) => !oldRSSIds.includes(id));\nconst actualNewRSS = items.filter((data) => actualNewRSSIds.includes(data.json['pubDate']));\nstaticData.oldRSSIds = [...actualNewRSSIds, ...oldRSSIds];\n\nreturn actualNewRSS;\n"
      },
      "name": "Only get new RSS",
      "type": "n8n-nodes-base.function",
      "position": [
        320,
        380
      ],
      "typeVersion": 1,
      "id": "7ea43c87-e39c-4237-bd4d-e48d9e5c7c8c"
    },
    {
      "parameters": {
        "url": "https://nyaa.si/?page=rss&q=%5BErai-raws%5D+1080p&c=0_0&f=0",
        "options": {}
      },
      "id": "8dfbaeae-03f9-433e-8e66-069de8b915ff",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        140,
        380
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "c293e645-8510-46a9-89f8-7c7e9657ad30",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -40,
        380
      ]
    },
    {
      "parameters": {
        "channelId": "1041723229569552484",
        "embed": true,
        "title": "={{ $json[\"RegexName\"] }}",
        "url": "={{ $json[\"link\"] }}",
        "authorName": "=Erai-raws",
        "authorUrl": "https://www.erai-raws.info/",
        "description": "=",
        "imageUrl": "=",
        "footerText": "Powered By n8n",
        "timestamp": "={{ $json[\"Date\"] }}"
      },
      "id": "048ae911-252f-410c-ad39-91d65949a683",
      "name": "Discord Send",
      "type": "n8n-nodes-discord-fork.discord",
      "typeVersion": 1,
      "position": [
        820,
        380
      ],
      "credentials": {
        "discordApi": {
          "id": "yFh4KghxV1AtVSDF",
          "name": "Discord App account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\nconst inputString = item.json.title;\n\n// Define a mapping of language codes to emoji flags\nconst languageToEmoji = {\n    \"ENG\": \"[🇬🇧]\",\n    \"POR-BR\": \"[🇧🇷]\",\n    \"SPA-LA\": \"[🇪🇸]\",\n    \"SPA\": \"[🇪🇸]\",\n    \"ARA\": \"[🇸🇦]\",\n    \"FRE\": \"[🇫🇷]\",\n    \"GER\": \"[🇩🇪]\",\n    \"ITA\": \"[🇮🇹]\",\n    \"RUS\": \"[🇷🇺]\"\n};\n\n// Remove the \"[Erai-raws]\" portion and the following space\nconst stringWithoutEraiRawsAndMultipleSubtitle = inputString.replace(/\\[Erai-raws\\]\\s+/, '').replace(/\\[Multiple Subtitle\\]\\s+/, '');\n\n// Use a regular expression to extract the language codes\nconst languageCodes = stringWithoutEraiRawsAndMultipleSubtitle.match(/\\[[A-Z-]+\\]/g);\n\n// Replace language codes with emoji flags in square brackets\nconst outputString = stringWithoutEraiRawsAndMultipleSubtitle.replace(/\\[[A-Z-]+\\]/g, (match) => {\n    const languageCode = match.slice(1, -1); // Remove square brackets\n    const emojiFlag = languageToEmoji[languageCode];\n    return emojiFlag ? emojiFlag : match; // Use emoji flag if available, otherwise keep the original code\n});\n  \n  item.json.RegexName = outputString;\n}\n\n\nreturn $input.all();"
      },
      "id": "2d55723b-27e5-4a1f-8bd5-7a54400530bf",
      "name": "Regex",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        380
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "title",
              "value": "={{ $json[\"title\"] }}"
            },
            {
              "name": "link",
              "value": "={{ $json[\"link\"] }}"
            },
            {
              "name": "Date",
              "value": "={{ $json[\"isoDate\"] }}"
            },
            {
              "name": "contentSnippet",
              "value": "={{ $json[\"contentSnippet\"] }}"
            },
            {
              "name": "guid",
              "value": "={{ $json[\"guid\"] }}"
            },
            {
              "name": "categories",
              "value": "={{ $json[\"categories\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "288bcc19-f04b-417d-bc9c-10ce79591671",
      "name": "Filter Inputs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        500,
        380
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "aSBBM637H6nv57t8",
    "timezone": "America/Sao_Paulo"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "global": {
      "oldRSSIds": [
        "Sun, 17 Dec 2023 17:14:44 -0000",
        "Sat, 16 Dec 2023 20:08:33 -0000",
        "Sat, 16 Dec 2023 20:08:05 -0000",
        "Thu, 14 Dec 2023 19:15:54 -0000",
        "Thu, 14 Dec 2023 18:53:02 -0000",
        "Thu, 14 Dec 2023 18:19:31 -0000",
        "Thu, 14 Dec 2023 17:55:11 -0000",
        "Thu, 14 Dec 2023 17:19:30 -0000",
        "Thu, 14 Dec 2023 17:17:04 -0000",
        "Thu, 14 Dec 2023 16:11:29 -0000",
        "Thu, 14 Dec 2023 15:36:42 -0000",
        "Thu, 14 Dec 2023 15:06:04 -0000",
        "Wed, 13 Dec 2023 18:28:35 -0000",
        "Wed, 13 Dec 2023 18:02:41 -0000",
        "Wed, 13 Dec 2023 17:57:22 -0000",
        "Wed, 13 Dec 2023 17:05:50 -0000",
        "Wed, 13 Dec 2023 14:34:27 -0000",
        "Wed, 13 Dec 2023 14:30:25 -0000",
        "Wed, 13 Dec 2023 14:27:09 -0000",
        "Wed, 13 Dec 2023 13:08:57 -0000",
        "Tue, 12 Dec 2023 18:30:28 -0000",
        "Tue, 12 Dec 2023 16:39:58 -0000",
        "Tue, 12 Dec 2023 16:12:44 -0000",
        "Mon, 11 Dec 2023 18:36:53 -0000",
        "Mon, 11 Dec 2023 18:25:35 -0000",
        "Mon, 11 Dec 2023 17:32:10 -0000",
        "Mon, 11 Dec 2023 17:05:15 -0000",
        "Mon, 11 Dec 2023 17:00:27 -0000",
        "Mon, 11 Dec 2023 16:35:10 -0000",
        "Mon, 11 Dec 2023 15:51:47 -0000",
        "Mon, 11 Dec 2023 15:33:55 -0000",
        "Mon, 11 Dec 2023 14:37:34 -0000",
        "Mon, 11 Dec 2023 13:38:59 -0000",
        "Sun, 10 Dec 2023 17:46:25 -0000",
        "Sun, 10 Dec 2023 17:01:31 -0000",
        "Sun, 10 Dec 2023 17:00:28 -0000",
        "Sun, 10 Dec 2023 15:35:05 -0000",
        "Sun, 10 Dec 2023 15:34:16 -0000",
        "Sun, 10 Dec 2023 15:14:40 -0000",
        "Sun, 10 Dec 2023 12:18:39 -0000",
        "Sun, 10 Dec 2023 11:10:20 -0000",
        "Sun, 10 Dec 2023 10:37:44 -0000",
        "Sun, 10 Dec 2023 09:06:49 -0000",
        "Sun, 10 Dec 2023 05:28:30 -0000",
        "Sun, 10 Dec 2023 02:47:29 -0000",
        "Sun, 10 Dec 2023 02:22:55 -0000",
        "Sat, 09 Dec 2023 19:16:44 -0000",
        "Sat, 09 Dec 2023 19:16:00 -0000",
        "Sat, 09 Dec 2023 19:12:38 -0000",
        "Sat, 09 Dec 2023 19:03:27 -0000",
        "Sat, 09 Dec 2023 18:47:13 -0000",
        "Sat, 09 Dec 2023 18:16:20 -0000",
        "Sat, 09 Dec 2023 17:41:09 -0000",
        "Sat, 09 Dec 2023 17:35:08 -0000",
        "Sat, 09 Dec 2023 17:18:23 -0000",
        "Sat, 09 Dec 2023 16:37:12 -0000",
        "Sat, 09 Dec 2023 16:00:22 -0000",
        "Sat, 09 Dec 2023 14:32:10 -0000",
        "Sat, 09 Dec 2023 14:00:20 -0000",
        "Sat, 09 Dec 2023 12:00:52 -0000",
        "Sat, 09 Dec 2023 10:08:07 -0000",
        "Sat, 09 Dec 2023 03:36:28 -0000",
        "Fri, 08 Dec 2023 20:07:37 -0000",
        "Fri, 08 Dec 2023 19:39:32 -0000",
        "Fri, 08 Dec 2023 18:44:54 -0000",
        "Fri, 08 Dec 2023 17:35:52 -0000",
        "Fri, 08 Dec 2023 16:47:12 -0000",
        "Fri, 08 Dec 2023 16:30:42 -0000",
        "Fri, 08 Dec 2023 15:38:35 -0000",
        "Fri, 08 Dec 2023 14:37:18 -0000",
        "Fri, 08 Dec 2023 13:41:53 -0000",
        "Thu, 07 Dec 2023 23:39:17 -0000",
        "Thu, 07 Dec 2023 20:20:29 -0000",
        "Thu, 07 Dec 2023 19:48:03 -0000",
        "Thu, 07 Dec 2023 19:07:03 -0000",
        "Thu, 07 Dec 2023 18:59:05 -0000",
        "Thu, 07 Dec 2023 18:14:51 -0000",
        "Thu, 07 Dec 2023 18:00:24 -0000",
        "Thu, 07 Dec 2023 17:55:12 -0000",
        "Thu, 07 Dec 2023 17:02:37 -0000",
        "Thu, 07 Dec 2023 16:31:20 -0000",
        "Thu, 07 Dec 2023 15:34:13 -0000",
        "Thu, 07 Dec 2023 15:10:14 -0000",
        "Wed, 06 Dec 2023 18:39:52 -0000",
        "Wed, 06 Dec 2023 18:16:51 -0000",
        "Wed, 06 Dec 2023 17:50:03 -0000",
        "Wed, 06 Dec 2023 17:26:01 -0000",
        "Wed, 06 Dec 2023 17:05:54 -0000",
        "Wed, 06 Dec 2023 16:18:02 -0000",
        "Wed, 06 Dec 2023 14:30:26 -0000",
        "Wed, 06 Dec 2023 14:25:17 -0000",
        "Wed, 06 Dec 2023 14:12:46 -0000",
        "Wed, 06 Dec 2023 13:12:28 -0000",
        "Wed, 06 Dec 2023 05:15:58 -0000",
        "Tue, 05 Dec 2023 18:30:21 -0000",
        "Tue, 05 Dec 2023 16:54:10 -0000",
        "Tue, 05 Dec 2023 16:38:32 -0000",
        "Tue, 05 Dec 2023 12:10:33 -0000",
        "Tue, 05 Dec 2023 00:01:24 -0000",
        "Mon, 04 Dec 2023 18:35:01 -0000",
        "Mon, 04 Dec 2023 18:33:35 -0000",
        "Mon, 04 Dec 2023 18:30:21 -0000",
        "Mon, 04 Dec 2023 18:29:01 -0000",
        "Mon, 04 Dec 2023 18:27:20 -0000",
        "Mon, 04 Dec 2023 18:25:48 -0000",
        "Mon, 04 Dec 2023 18:23:33 -0000",
        "Mon, 04 Dec 2023 18:22:10 -0000",
        "Mon, 04 Dec 2023 18:21:50 -0000",
        "Mon, 04 Dec 2023 01:35:16 -0000",
        "Sun, 03 Dec 2023 17:31:48 -0000",
        "Sun, 03 Dec 2023 17:09:42 -0000",
        "Sun, 03 Dec 2023 17:00:33 -0000",
        "Sun, 03 Dec 2023 15:43:59 -0000",
        "Sun, 03 Dec 2023 15:39:43 -0000",
        "Sun, 03 Dec 2023 15:22:32 -0000",
        "Sun, 03 Dec 2023 10:32:20 -0000",
        "Sun, 03 Dec 2023 09:16:46 -0000",
        "Sun, 03 Dec 2023 07:17:12 -0000",
        "Sun, 03 Dec 2023 03:12:19 -0000",
        "Sun, 03 Dec 2023 02:42:18 -0000",
        "Sat, 02 Dec 2023 21:16:19 -0000",
        "Sat, 02 Dec 2023 21:11:32 -0000",
        "Sat, 02 Dec 2023 21:09:57 -0000",
        "Sat, 02 Dec 2023 21:06:40 -0000",
        "Sat, 02 Dec 2023 21:05:02 -0000",
        "Sat, 02 Dec 2023 21:02:06 -0000",
        "Sat, 02 Dec 2023 20:58:52 -0000",
        "Sat, 02 Dec 2023 20:55:57 -0000",
        "Sat, 02 Dec 2023 20:50:19 -0000",
        "Sat, 02 Dec 2023 20:46:22 -0000",
        "Sat, 02 Dec 2023 20:42:51 -0000",
        "Sat, 02 Dec 2023 12:36:49 -0000",
        "Sat, 02 Dec 2023 03:30:49 -0000",
        "Fri, 01 Dec 2023 20:13:09 -0000",
        "Fri, 01 Dec 2023 18:32:16 -0000",
        "Fri, 01 Dec 2023 18:06:42 -0000",
        "Fri, 01 Dec 2023 16:46:21 -0000",
        "Fri, 01 Dec 2023 16:08:01 -0000",
        "Fri, 01 Dec 2023 15:35:24 -0000",
        "Fri, 01 Dec 2023 14:41:32 -0000",
        "Fri, 01 Dec 2023 13:35:55 -0000",
        "Thu, 30 Nov 2023 19:31:12 -0000",
        "Thu, 30 Nov 2023 19:12:33 -0000",
        "Thu, 30 Nov 2023 18:05:41 -0000",
        "Thu, 30 Nov 2023 17:55:10 -0000",
        "Thu, 30 Nov 2023 17:21:15 -0000",
        "Thu, 30 Nov 2023 17:03:55 -0000",
        "Thu, 30 Nov 2023 16:26:28 -0000",
        "Thu, 30 Nov 2023 15:33:06 -0000",
        "Thu, 30 Nov 2023 15:10:47 -0000",
        "Thu, 30 Nov 2023 14:38:25 -0000",
        "Wed, 29 Nov 2023 20:18:21 -0000",
        "Wed, 29 Nov 2023 20:18:18 -0000",
        "Wed, 29 Nov 2023 20:15:23 -0000",
        "Wed, 29 Nov 2023 20:10:01 -0000",
        "Wed, 29 Nov 2023 20:09:52 -0000",
        "Wed, 29 Nov 2023 20:09:35 -0000",
        "Wed, 29 Nov 2023 20:08:44 -0000",
        "Tue, 28 Nov 2023 18:30:21 -0000",
        "Tue, 28 Nov 2023 16:35:42 -0000",
        "Tue, 28 Nov 2023 16:05:33 -0000",
        "Mon, 27 Nov 2023 18:46:39 -0000",
        "Mon, 27 Nov 2023 18:22:37 -0000",
        "Mon, 27 Nov 2023 17:32:10 -0000",
        "Mon, 27 Nov 2023 17:11:24 -0000",
        "Mon, 27 Nov 2023 17:00:21 -0000",
        "Mon, 27 Nov 2023 16:35:56 -0000",
        "Mon, 27 Nov 2023 15:47:39 -0000",
        "Mon, 27 Nov 2023 15:39:27 -0000",
        "Mon, 27 Nov 2023 14:35:50 -0000",
        "Mon, 27 Nov 2023 13:48:22 -0000",
        "Sun, 26 Nov 2023 17:07:07 -0000",
        "Sun, 26 Nov 2023 17:00:31 -0000",
        "Sun, 26 Nov 2023 16:40:54 -0000",
        "Sun, 26 Nov 2023 16:09:39 -0000",
        "Sun, 26 Nov 2023 15:30:44 -0000",
        "Sun, 26 Nov 2023 15:10:02 -0000",
        "Sun, 26 Nov 2023 10:36:48 -0000",
        "Sun, 26 Nov 2023 05:34:35 -0000",
        "Sun, 26 Nov 2023 05:30:39 -0000",
        "Sun, 26 Nov 2023 05:29:28 -0000",
        "Sun, 26 Nov 2023 02:51:31 -0000",
        "Sun, 26 Nov 2023 02:11:42 -0000",
        "Sat, 25 Nov 2023 19:26:57 -0000",
        "Sat, 25 Nov 2023 18:55:24 -0000",
        "Sat, 25 Nov 2023 18:52:00 -0000",
        "Sat, 25 Nov 2023 18:05:23 -0000",
        "Sat, 25 Nov 2023 18:01:27 -0000",
        "Sat, 25 Nov 2023 17:36:18 -0000",
        "Sat, 25 Nov 2023 17:24:26 -0000",
        "Sat, 25 Nov 2023 16:00:23 -0000",
        "Sat, 25 Nov 2023 14:41:38 -0000",
        "Sat, 25 Nov 2023 14:00:23 -0000",
        "Sat, 25 Nov 2023 11:49:28 -0000",
        "Sat, 25 Nov 2023 10:19:32 -0000",
        "Sat, 25 Nov 2023 03:50:45 -0000",
        "Fri, 24 Nov 2023 20:04:34 -0000",
        "Fri, 24 Nov 2023 18:44:58 -0000",
        "Fri, 24 Nov 2023 18:03:53 -0000",
        "Fri, 24 Nov 2023 17:37:05 -0000",
        "Fri, 24 Nov 2023 16:45:57 -0000",
        "Fri, 24 Nov 2023 16:12:34 -0000",
        "Fri, 24 Nov 2023 15:41:06 -0000",
        "Fri, 24 Nov 2023 14:37:08 -0000",
        "Fri, 24 Nov 2023 13:58:47 -0000",
        "Thu, 23 Nov 2023 19:05:59 -0000",
        "Thu, 23 Nov 2023 18:51:53 -0000",
        "Thu, 23 Nov 2023 18:06:44 -0000",
        "Thu, 23 Nov 2023 17:55:11 -0000",
        "Thu, 23 Nov 2023 17:18:30 -0000",
        "Thu, 23 Nov 2023 17:16:30 -0000",
        "Thu, 23 Nov 2023 16:12:38 -0000",
        "Thu, 23 Nov 2023 15:39:48 -0000",
        "Thu, 23 Nov 2023 15:06:52 -0000",
        "Wed, 22 Nov 2023 18:30:02 -0000",
        "Wed, 22 Nov 2023 18:24:18 -0000",
        "Wed, 22 Nov 2023 17:48:20 -0000",
        "Wed, 22 Nov 2023 17:20:37 -0000",
        "Wed, 22 Nov 2023 14:31:28 -0000",
        "Wed, 22 Nov 2023 14:30:27 -0000",
        "Wed, 22 Nov 2023 14:13:41 -0000",
        "Wed, 22 Nov 2023 10:13:10 -0000",
        "Wed, 22 Nov 2023 10:06:22 -0000",
        "Tue, 21 Nov 2023 18:30:16 -0000",
        "Tue, 21 Nov 2023 16:47:14 -0000",
        "Tue, 21 Nov 2023 16:05:55 -0000",
        "Mon, 20 Nov 2023 18:51:14 -0000",
        "Mon, 20 Nov 2023 18:24:16 -0000",
        "Mon, 20 Nov 2023 17:44:38 -0000",
        "Mon, 20 Nov 2023 17:04:29 -0000",
        "Mon, 20 Nov 2023 17:00:21 -0000",
        "Mon, 20 Nov 2023 16:54:22 -0000",
        "Mon, 20 Nov 2023 16:02:00 -0000",
        "Mon, 20 Nov 2023 15:38:16 -0000",
        "Mon, 20 Nov 2023 14:34:09 -0000",
        "Mon, 20 Nov 2023 13:36:37 -0000",
        "Sun, 19 Nov 2023 17:12:53 -0000",
        "Sun, 19 Nov 2023 17:00:27 -0000",
        "Sun, 19 Nov 2023 16:34:38 -0000",
        "Sun, 19 Nov 2023 16:12:47 -0000",
        "Sun, 19 Nov 2023 15:36:02 -0000",
        "Sun, 19 Nov 2023 15:09:14 -0000",
        "Sun, 19 Nov 2023 10:36:37 -0000",
        "Sun, 19 Nov 2023 09:06:22 -0000",
        "Sun, 19 Nov 2023 05:03:09 -0000",
        "Sun, 19 Nov 2023 04:51:27 -0000",
        "Sun, 19 Nov 2023 04:47:24 -0000",
        "Sun, 19 Nov 2023 02:50:55 -0000",
        "Sat, 18 Nov 2023 19:18:16 -0000",
        "Sat, 18 Nov 2023 19:15:22 -0000",
        "Sat, 18 Nov 2023 18:52:44 -0000",
        "Sat, 18 Nov 2023 18:12:32 -0000",
        "Sat, 18 Nov 2023 17:42:10 -0000",
        "Sat, 18 Nov 2023 17:39:28 -0000",
        "Sat, 18 Nov 2023 17:07:30 -0000",
        "Sat, 18 Nov 2023 16:35:11 -0000",
        "Sat, 18 Nov 2023 16:24:44 -0000",
        "Sat, 18 Nov 2023 15:05:02 -0000",
        "Sat, 18 Nov 2023 14:00:23 -0000",
        "Sat, 18 Nov 2023 12:39:29 -0000",
        "Sat, 18 Nov 2023 11:51:15 -0000",
        "Sat, 18 Nov 2023 10:14:45 -0000",
        "Fri, 17 Nov 2023 20:31:06 -0000",
        "Fri, 17 Nov 2023 19:01:24 -0000",
        "Fri, 17 Nov 2023 18:27:27 -0000",
        "Fri, 17 Nov 2023 17:46:14 -0000",
        "Fri, 17 Nov 2023 16:30:51 -0000",
        "Fri, 17 Nov 2023 16:22:42 -0000",
        "Fri, 17 Nov 2023 15:48:53 -0000",
        "Fri, 17 Nov 2023 14:53:50 -0000",
        "Fri, 17 Nov 2023 13:51:52 -0000",
        "Thu, 16 Nov 2023 19:21:19 -0000",
        "Thu, 16 Nov 2023 19:07:46 -0000",
        "Thu, 16 Nov 2023 18:42:58 -0000",
        "Thu, 16 Nov 2023 17:55:11 -0000",
        "Thu, 16 Nov 2023 17:36:22 -0000",
        "Thu, 16 Nov 2023 17:27:22 -0000",
        "Thu, 16 Nov 2023 16:26:17 -0000",
        "Thu, 16 Nov 2023 15:40:38 -0000",
        "Thu, 16 Nov 2023 15:10:02 -0000",
        "Wed, 15 Nov 2023 18:29:47 -0000",
        "Wed, 15 Nov 2023 18:08:57 -0000",
        "Wed, 15 Nov 2023 17:50:56 -0000",
        "Wed, 15 Nov 2023 17:12:49 -0000",
        "Wed, 15 Nov 2023 14:31:06 -0000",
        "Wed, 15 Nov 2023 14:30:24 -0000",
        "Wed, 15 Nov 2023 14:02:25 -0000",
        "Tue, 14 Nov 2023 18:30:31 -0000",
        "Tue, 14 Nov 2023 16:34:54 -0000",
        "Tue, 14 Nov 2023 16:05:40 -0000",
        "Mon, 13 Nov 2023 19:30:55 -0000",
        "Mon, 13 Nov 2023 19:00:32 -0000",
        "Mon, 13 Nov 2023 18:51:28 -0000",
        "Mon, 13 Nov 2023 17:12:59 -0000",
        "Mon, 13 Nov 2023 17:00:25 -0000",
        "Mon, 13 Nov 2023 16:33:59 -0000",
        "Mon, 13 Nov 2023 16:12:33 -0000",
        "Mon, 13 Nov 2023 15:35:19 -0000",
        "Mon, 13 Nov 2023 14:36:21 -0000",
        "Mon, 13 Nov 2023 13:35:59 -0000",
        "Sun, 12 Nov 2023 17:19:10 -0000",
        "Sun, 12 Nov 2023 17:00:38 -0000",
        "Sun, 12 Nov 2023 16:31:33 -0000",
        "Sun, 12 Nov 2023 15:32:06 -0000",
        "Sun, 12 Nov 2023 15:18:43 -0000",
        "Sun, 12 Nov 2023 15:12:13 -0000",
        "Sun, 12 Nov 2023 10:52:57 -0000",
        "Sun, 12 Nov 2023 09:11:56 -0000",
        "Sun, 12 Nov 2023 05:40:07 -0000",
        "Sun, 12 Nov 2023 03:06:26 -0000",
        "Sun, 12 Nov 2023 02:21:18 -0000",
        "Sun, 12 Nov 2023 02:18:58 -0000",
        "Sat, 11 Nov 2023 19:03:50 -0000",
        "Sat, 11 Nov 2023 19:03:26 -0000",
        "Sat, 11 Nov 2023 18:43:35 -0000",
        "Sat, 11 Nov 2023 18:28:09 -0000",
        "Sat, 11 Nov 2023 17:51:08 -0000",
        "Sat, 11 Nov 2023 17:17:45 -0000",
        "Sat, 11 Nov 2023 17:06:59 -0000",
        "Sat, 11 Nov 2023 16:36:59 -0000",
        "Sat, 11 Nov 2023 16:30:26 -0000",
        "Sat, 11 Nov 2023 14:34:39 -0000",
        "Sat, 11 Nov 2023 14:00:28 -0000",
        "Sat, 11 Nov 2023 12:40:54 -0000",
        "Sat, 11 Nov 2023 12:24:09 -0000",
        "Sat, 11 Nov 2023 10:07:34 -0000",
        "Sat, 11 Nov 2023 03:49:32 -0000",
        "Fri, 10 Nov 2023 20:06:28 -0000",
        "Fri, 10 Nov 2023 18:41:53 -0000",
        "Fri, 10 Nov 2023 18:34:26 -0000",
        "Fri, 10 Nov 2023 17:36:58 -0000",
        "Fri, 10 Nov 2023 16:46:53 -0000",
        "Fri, 10 Nov 2023 16:28:12 -0000",
        "Fri, 10 Nov 2023 15:42:16 -0000",
        "Fri, 10 Nov 2023 14:36:59 -0000",
        "Fri, 10 Nov 2023 13:36:15 -0000",
        "Thu, 09 Nov 2023 19:33:38 -0000",
        "Thu, 09 Nov 2023 19:05:48 -0000",
        "Thu, 09 Nov 2023 18:59:49 -0000",
        "Thu, 09 Nov 2023 17:55:11 -0000",
        "Thu, 09 Nov 2023 17:38:41 -0000",
        "Thu, 09 Nov 2023 17:03:25 -0000",
        "Thu, 09 Nov 2023 16:15:54 -0000",
        "Thu, 09 Nov 2023 15:37:35 -0000",
        "Thu, 09 Nov 2023 15:23:41 -0000",
        "Wed, 08 Nov 2023 18:40:41 -0000",
        "Wed, 08 Nov 2023 18:12:00 -0000",
        "Wed, 08 Nov 2023 18:06:40 -0000",
        "Wed, 08 Nov 2023 17:02:19 -0000",
        "Wed, 08 Nov 2023 14:30:39 -0000",
        "Wed, 08 Nov 2023 14:22:34 -0000",
        "Wed, 08 Nov 2023 14:22:26 -0000",
        "Wed, 08 Nov 2023 13:02:56 -0000",
        "Tue, 07 Nov 2023 18:30:20 -0000",
        "Tue, 07 Nov 2023 17:06:31 -0000",
        "Mon, 06 Nov 2023 19:39:14 -0000",
        "Mon, 06 Nov 2023 18:12:21 -0000",
        "Mon, 06 Nov 2023 17:54:17 -0000",
        "Mon, 06 Nov 2023 17:05:35 -0000",
        "Mon, 06 Nov 2023 17:00:35 -0000",
        "Mon, 06 Nov 2023 16:33:17 -0000",
        "Mon, 06 Nov 2023 16:00:04 -0000",
        "Mon, 06 Nov 2023 15:37:24 -0000",
        "Mon, 06 Nov 2023 14:38:40 -0000",
        "Mon, 06 Nov 2023 13:55:52 -0000",
        "Sun, 05 Nov 2023 17:15:44 -0000",
        "Sun, 05 Nov 2023 17:00:23 -0000",
        "Sun, 05 Nov 2023 16:38:51 -0000",
        "Sun, 05 Nov 2023 15:38:55 -0000",
        "Sun, 05 Nov 2023 15:20:25 -0000",
        "Sun, 05 Nov 2023 15:05:28 -0000",
        "Sun, 05 Nov 2023 10:48:24 -0000",
        "Sun, 05 Nov 2023 10:18:17 -0000",
        "Sun, 05 Nov 2023 02:08:03 -0000",
        "Sun, 05 Nov 2023 01:49:09 -0000",
        "Sun, 05 Nov 2023 00:07:46 -0000",
        "Sat, 04 Nov 2023 18:05:46 -0000",
        "Sat, 04 Nov 2023 18:01:54 -0000",
        "Sat, 04 Nov 2023 18:00:47 -0000",
        "Sat, 04 Nov 2023 17:23:47 -0000",
        "Sat, 04 Nov 2023 16:55:37 -0000",
        "Sat, 04 Nov 2023 16:30:40 -0000",
        "Sat, 04 Nov 2023 16:30:27 -0000",
        "Sat, 04 Nov 2023 16:15:16 -0000",
        "Sat, 04 Nov 2023 15:51:13 -0000",
        "Sat, 04 Nov 2023 14:00:35 -0000",
        "Sat, 04 Nov 2023 13:37:33 -0000",
        "Sat, 04 Nov 2023 11:59:05 -0000",
        "Sat, 04 Nov 2023 11:36:19 -0000",
        "Sat, 04 Nov 2023 09:07:24 -0000",
        "Sat, 04 Nov 2023 02:37:10 -0000",
        "Fri, 03 Nov 2023 19:05:57 -0000",
        "Fri, 03 Nov 2023 17:31:59 -0000",
        "Fri, 03 Nov 2023 17:18:53 -0000",
        "Fri, 03 Nov 2023 16:37:01 -0000",
        "Fri, 03 Nov 2023 15:51:27 -0000",
        "Fri, 03 Nov 2023 15:03:43 -0000",
        "Fri, 03 Nov 2023 14:39:55 -0000",
        "Fri, 03 Nov 2023 13:44:08 -0000",
        "Fri, 03 Nov 2023 12:38:51 -0000",
        "Thu, 02 Nov 2023 18:27:55 -0000",
        "Thu, 02 Nov 2023 18:24:19 -0000",
        "Thu, 02 Nov 2023 17:55:22 -0000",
        "Thu, 02 Nov 2023 17:39:03 -0000",
        "Thu, 02 Nov 2023 17:37:27 -0000",
        "Thu, 02 Nov 2023 17:34:48 -0000",
        "Thu, 02 Nov 2023 17:30:41 -0000",
        "Thu, 02 Nov 2023 17:28:32 -0000",
        "Thu, 02 Nov 2023 17:17:55 -0000",
        "Wed, 01 Nov 2023 17:37:01 -0000",
        "Wed, 01 Nov 2023 17:17:19 -0000",
        "Wed, 01 Nov 2023 16:53:53 -0000",
        "Wed, 01 Nov 2023 16:29:37 -0000",
        "Wed, 01 Nov 2023 14:30:25 -0000",
        "Wed, 01 Nov 2023 13:57:53 -0000",
        "Wed, 01 Nov 2023 13:22:33 -0000",
        "Wed, 01 Nov 2023 12:07:27 -0000",
        "Tue, 31 Oct 2023 18:30:24 -0000",
        "Tue, 31 Oct 2023 18:03:04 -0000",
        "Tue, 31 Oct 2023 15:30:59 -0000",
        "Tue, 31 Oct 2023 15:02:27 -0000",
        "Mon, 30 Oct 2023 17:45:51 -0000",
        "Mon, 30 Oct 2023 17:12:23 -0000",
        "Mon, 30 Oct 2023 17:00:18 -0000",
        "Mon, 30 Oct 2023 16:44:49 -0000",
        "Mon, 30 Oct 2023 16:24:33 -0000",
        "Mon, 30 Oct 2023 15:48:22 -0000",
        "Mon, 30 Oct 2023 14:52:14 -0000",
        "Mon, 30 Oct 2023 14:49:40 -0000",
        "Mon, 30 Oct 2023 13:35:54 -0000",
        "Mon, 30 Oct 2023 12:38:39 -0000",
        "Mon, 30 Oct 2023 04:47:23 -0000",
        "Sun, 29 Oct 2023 17:00:34 -0000",
        "Sun, 29 Oct 2023 16:13:37 -0000",
        "Sun, 29 Oct 2023 15:38:42 -0000",
        "Sun, 29 Oct 2023 14:34:27 -0000",
        "Sun, 29 Oct 2023 14:29:06 -0000",
        "Sun, 29 Oct 2023 14:13:41 -0000",
        "Sun, 29 Oct 2023 10:11:55 -0000",
        "Sun, 29 Oct 2023 09:00:55 -0000",
        "Sun, 29 Oct 2023 02:13:16 -0000",
        "Sun, 29 Oct 2023 01:39:43 -0000",
        "Sat, 28 Oct 2023 18:45:18 -0000",
        "Sat, 28 Oct 2023 18:43:35 -0000",
        "Sat, 28 Oct 2023 18:20:19 -0000",
        "Sat, 28 Oct 2023 18:06:51 -0000",
        "Sat, 28 Oct 2023 17:36:53 -0000",
        "Sat, 28 Oct 2023 17:11:09 -0000",
        "Sat, 28 Oct 2023 16:55:31 -0000",
        "Sat, 28 Oct 2023 16:29:13 -0000",
        "Sat, 28 Oct 2023 16:07:00 -0000",
        "Sat, 28 Oct 2023 15:41:04 -0000",
        "Sat, 28 Oct 2023 13:51:42 -0000",
        "Sat, 28 Oct 2023 11:52:03 -0000",
        "Sat, 28 Oct 2023 09:04:36 -0000",
        "Sat, 28 Oct 2023 02:31:50 -0000",
        "Fri, 27 Oct 2023 19:07:09 -0000",
        "Fri, 27 Oct 2023 17:34:30 -0000",
        "Fri, 27 Oct 2023 17:06:33 -0000",
        "Fri, 27 Oct 2023 16:34:42 -0000",
        "Fri, 27 Oct 2023 15:36:00 -0000",
        "Fri, 27 Oct 2023 15:22:06 -0000",
        "Fri, 27 Oct 2023 14:40:49 -0000",
        "Fri, 27 Oct 2023 13:37:08 -0000",
        "Fri, 27 Oct 2023 12:48:09 -0000",
        "Thu, 26 Oct 2023 18:11:41 -0000",
        "Thu, 26 Oct 2023 18:01:06 -0000",
        "Thu, 26 Oct 2023 17:55:23 -0000",
        "Thu, 26 Oct 2023 17:21:02 -0000",
        "Thu, 26 Oct 2023 16:22:47 -0000",
        "Thu, 26 Oct 2023 16:16:15 -0000",
        "Thu, 26 Oct 2023 15:26:22 -0000",
        "Thu, 26 Oct 2023 14:46:35 -0000",
        "Thu, 26 Oct 2023 14:09:41 -0000",
        "Wed, 25 Oct 2023 18:05:52 -0000",
        "Wed, 25 Oct 2023 18:02:26 -0000",
        "Wed, 25 Oct 2023 17:59:39 -0000",
        "Wed, 25 Oct 2023 17:57:12 -0000",
        "Wed, 25 Oct 2023 17:54:01 -0000",
        "Wed, 25 Oct 2023 17:37:25 -0000",
        "Wed, 25 Oct 2023 17:33:49 -0000",
        "Wed, 25 Oct 2023 17:31:33 -0000",
        "Wed, 25 Oct 2023 17:29:07 -0000",
        "Wed, 25 Oct 2023 17:26:50 -0000",
        "Wed, 25 Oct 2023 17:15:16 -0000",
        "Wed, 25 Oct 2023 17:12:10 -0000",
        "Wed, 25 Oct 2023 17:05:16 -0000",
        "Wed, 25 Oct 2023 16:00:52 -0000",
        "Wed, 25 Oct 2023 13:24:02 -0000",
        "Wed, 25 Oct 2023 13:06:36 -0000",
        "Tue, 24 Oct 2023 18:32:49 -0000",
        "Tue, 24 Oct 2023 18:30:20 -0000",
        "Tue, 24 Oct 2023 15:46:49 -0000",
        "Tue, 24 Oct 2023 15:12:00 -0000",
        "Mon, 23 Oct 2023 18:07:18 -0000",
        "Mon, 23 Oct 2023 17:00:22 -0000",
        "Mon, 30 Oct 2023 13:00:00 -0400",
        "Mon, 30 Oct 2023 12:21:36 -0400",
        "Mon, 30 Oct 2023 11:39:07 -0400",
        "Mon, 30 Oct 2023 11:00:00 -0400",
        "Mon, 30 Oct 2023 10:40:28 -0400",
        "Mon, 30 Oct 2023 10:20:52 -0400",
        "Mon, 30 Oct 2023 06:15:47 -0400",
        "Mon, 30 Oct 2023 04:57:30 -0400",
        "Mon, 30 Oct 2023 00:24:23 -0400",
        "Sun, 29 Oct 2023 23:31:43 -0400",
        "Sun, 29 Oct 2023 20:44:22 -0400",
        "Sun, 29 Oct 2023 20:13:06 -0400",
        "Sun, 29 Oct 2023 11:00:00 -0400",
        "Sun, 29 Oct 2023 09:15:00 -0400",
        "Sun, 29 Oct 2023 08:41:14 -0400",
        "Sun, 29 Oct 2023 08:31:09 -0400",
        "Sun, 29 Oct 2023 07:46:52 -0400",
        "Sun, 29 Oct 2023 07:15:00 -0400",
        "Sun, 29 Oct 2023 05:41:31 -0400",
        "Sun, 29 Oct 2023 03:08:40 -0400",
        "Sat, 28 Oct 2023 21:22:18 -0400",
        "Sat, 28 Oct 2023 20:04:50 -0400",
        "Sat, 28 Oct 2023 19:47:02 -0400",
        "Sat, 28 Oct 2023 03:25:30 -0400",
        "Sat, 28 Oct 2023 03:11:07 -0400",
        "Sat, 28 Oct 2023 00:31:45 -0400",
        "Fri, 27 Oct 2023 16:00:36 -0400",
        "Fri, 27 Oct 2023 15:20:46 -0400",
        "Fri, 27 Oct 2023 12:36:37 -0400",
        "Fri, 27 Oct 2023 11:55:15 -0400",
        "Fri, 27 Oct 2023 10:13:59 -0400",
        "Fri, 27 Oct 2023 10:00:00 -0400",
        "Fri, 27 Oct 2023 05:36:07 -0400",
        "Fri, 27 Oct 2023 05:01:49 -0400",
        "Thu, 26 Oct 2023 15:30:00 -0400",
        "Thu, 26 Oct 2023 14:30:00 -0400",
        "Thu, 26 Oct 2023 13:34:51 -0400",
        "Thu, 26 Oct 2023 12:00:00 -0400",
        "Thu, 26 Oct 2023 11:30:00 -0400",
        "Thu, 26 Oct 2023 10:45:00 -0400",
        "Thu, 26 Oct 2023 10:14:52 -0400",
        "Thu, 26 Oct 2023 08:30:00 -0400",
        "Thu, 26 Oct 2023 07:24:44 -0400",
        "Thu, 26 Oct 2023 06:22:25 -0400",
        "Thu, 26 Oct 2023 05:55:14 -0400",
        "Thu, 26 Oct 2023 05:15:00 -0400",
        "Thu, 26 Oct 2023 05:02:48 -0400",
        "Thu, 26 Oct 2023 04:47:45 -0400",
        "Thu, 26 Oct 2023 04:27:58 -0400",
        "Wed, 25 Oct 2023 23:58:59 -0400",
        "Wed, 25 Oct 2023 23:56:35 -0400",
        "Wed, 25 Oct 2023 23:51:14 -0400",
        "Wed, 25 Oct 2023 23:02:58 -0400",
        "Wed, 25 Oct 2023 22:54:08 -0400",
        "Wed, 25 Oct 2023 22:00:00 -0400",
        "Wed, 25 Oct 2023 21:06:02 -0400",
        "Wed, 25 Oct 2023 18:00:00 -0400",
        "Wed, 25 Oct 2023 17:00:00 -0400",
        "Wed, 25 Oct 2023 15:30:00 -0400",
        "Wed, 25 Oct 2023 14:51:56 -0400",
        "Wed, 25 Oct 2023 13:00:00 -0400",
        "Wed, 25 Oct 2023 12:23:33 -0400",
        "Wed, 25 Oct 2023 10:30:49 -0400",
        "Wed, 25 Oct 2023 08:17:11 -0400",
        "Wed, 25 Oct 2023 06:16:57 -0400",
        "Tue, 24 Oct 2023 23:54:40 -0400",
        "Tue, 24 Oct 2023 23:30:59 -0400",
        "Tue, 24 Oct 2023 13:00:00 -0400",
        "Tue, 24 Oct 2023 12:07:27 -0400",
        "Tue, 24 Oct 2023 11:40:00 -0400",
        "Tue, 24 Oct 2023 11:24:00 -0400",
        "Tue, 24 Oct 2023 10:43:12 -0400",
        "Tue, 24 Oct 2023 07:20:29 -0400",
        "Tue, 24 Oct 2023 06:30:58 -0400",
        "Tue, 24 Oct 2023 03:55:35 -0400",
        "Tue, 24 Oct 2023 00:51:11 -0400",
        "Mon, 23 Oct 2023 23:36:45 -0400",
        "Mon, 23 Oct 2023 23:00:00 -0400",
        "Mon, 23 Oct 2023 21:56:56 -0400",
        "Mon, 23 Oct 2023 16:03:00 -0400",
        "Mon, 23 Oct 2023 15:00:00 -0400",
        "Mon, 23 Oct 2023 11:00:00 -0400",
        "Mon, 23 Oct 2023 10:43:03 -0400",
        "Mon, 23 Oct 2023 08:46:51 -0400",
        "Mon, 23 Oct 2023 07:29:35 -0400",
        "Mon, 23 Oct 2023 07:15:58 -0400",
        "Mon, 23 Oct 2023 06:06:18 -0400",
        "Mon, 23 Oct 2023 04:53:53 -0400",
        "Mon, 23 Oct 2023 03:56:42 -0400",
        "Mon, 23 Oct 2023 03:34:23 -0400",
        "Mon, 23 Oct 2023 03:00:00 -0400",
        "Mon, 23 Oct 2023 03:00:00 -0400",
        "Mon, 23 Oct 2023 02:58:53 -0400",
        "Mon, 23 Oct 2023 01:39:11 -0400",
        "Sun, 22 Oct 2023 23:27:03 -0400",
        "Sun, 22 Oct 2023 22:58:47 -0400",
        "Sun, 22 Oct 2023 22:16:20 -0400",
        "Sun, 22 Oct 2023 20:51:14 -0400",
        "Sun, 22 Oct 2023 12:47:19 -0400",
        "Sun, 22 Oct 2023 11:17:06 -0400",
        "Sun, 22 Oct 2023 11:08:16 -0400",
        "Sun, 22 Oct 2023 09:46:26 -0400",
        "Sun, 22 Oct 2023 09:31:36 -0400",
        "Sun, 22 Oct 2023 08:26:19 -0400",
        "Sun, 22 Oct 2023 08:14:48 -0400",
        "Sun, 22 Oct 2023 07:30:01 -0400",
        "Sun, 22 Oct 2023 01:22:01 -0400",
        "Sun, 22 Oct 2023 00:30:38 -0400",
        "Sat, 21 Oct 2023 23:51:35 -0400",
        "Sat, 21 Oct 2023 19:28:26 -0400",
        "Sat, 21 Oct 2023 11:24:33 -0400",
        "Sat, 21 Oct 2023 10:15:00 -0400",
        "Sat, 21 Oct 2023 08:15:00 -0400",
        "Fri, 20 Oct 2023 16:30:44 -0400",
        "Fri, 20 Oct 2023 15:00:00 -0400",
        "Fri, 20 Oct 2023 12:30:00 -0400",
        "Fri, 20 Oct 2023 11:40:04 -0400",
        "Fri, 20 Oct 2023 09:58:58 -0400",
        "Fri, 20 Oct 2023 09:15:00 -0400",
        "Fri, 20 Oct 2023 08:17:08 -0400",
        "Fri, 20 Oct 2023 07:33:59 -0400",
        "Fri, 20 Oct 2023 07:19:55 -0400",
        "Fri, 20 Oct 2023 07:03:58 -0400",
        "Fri, 20 Oct 2023 06:22:03 -0400",
        "Fri, 20 Oct 2023 05:53:28 -0400",
        "Fri, 20 Oct 2023 03:34:16 -0400",
        "Fri, 20 Oct 2023 00:53:32 -0400",
        "Thu, 19 Oct 2023 22:31:47 -0400",
        "Thu, 19 Oct 2023 15:00:00 -0400",
        "Thu, 19 Oct 2023 14:35:47 -0400",
        "Thu, 19 Oct 2023 12:12:56 -0400",
        "Thu, 19 Oct 2023 11:00:00 -0400",
        "Thu, 19 Oct 2023 10:15:00 -0400",
        "Thu, 19 Oct 2023 10:04:20 -0400",
        "Thu, 19 Oct 2023 09:15:00 -0400",
        "Thu, 19 Oct 2023 06:47:00 -0400",
        "Thu, 19 Oct 2023 06:24:21 -0400",
        "Thu, 19 Oct 2023 05:00:00 -0400",
        "Thu, 19 Oct 2023 04:39:02 -0400",
        "Thu, 19 Oct 2023 04:21:20 -0400",
        "Thu, 19 Oct 2023 03:51:55 -0400",
        "Wed, 18 Oct 2023 23:46:58 -0400",
        "Wed, 18 Oct 2023 23:29:12 -0400",
        "Wed, 18 Oct 2023 22:12:23 -0400",
        "Wed, 18 Oct 2023 21:48:48 -0400",
        "Wed, 18 Oct 2023 19:00:00 -0400",
        "Wed, 18 Oct 2023 18:00:00 -0400",
        "Wed, 18 Oct 2023 17:30:00 -0400",
        "Wed, 18 Oct 2023 17:00:00 -0400",
        "Wed, 18 Oct 2023 16:30:00 -0400",
        "Wed, 18 Oct 2023 15:00:00 -0400",
        "Wed, 18 Oct 2023 10:57:31 -0400",
        "Wed, 18 Oct 2023 10:34:02 -0400",
        "Wed, 18 Oct 2023 06:59:02 -0400",
        "Tue, 17 Oct 2023 22:50:05 -0400",
        "Tue, 17 Oct 2023 21:52:36 -0400",
        "Tue, 17 Oct 2023 15:00:00 -0400",
        "Tue, 17 Oct 2023 14:00:00 -0400",
        "Tue, 17 Oct 2023 13:45:00 -0400",
        "Tue, 17 Oct 2023 13:00:00 -0400",
        "Tue, 17 Oct 2023 12:23:02 -0400",
        "Tue, 17 Oct 2023 12:00:00 -0400",
        "Tue, 17 Oct 2023 11:16:52 -0400",
        "Tue, 17 Oct 2023 10:34:54 -0400",
        "Tue, 17 Oct 2023 10:07:56 -0400",
        "Tue, 17 Oct 2023 06:55:50 -0400",
        "Tue, 17 Oct 2023 06:46:28 -0400",
        "Tue, 17 Oct 2023 06:19:47 -0400",
        "Tue, 17 Oct 2023 04:30:00 -0400",
        "Tue, 17 Oct 2023 02:09:50 -0400",
        "Tue, 17 Oct 2023 01:19:17 -0400",
        "Tue, 17 Oct 2023 00:43:29 -0400",
        "Mon, 16 Oct 2023 23:43:35 -0400",
        "Mon, 16 Oct 2023 21:28:07 -0400",
        "Mon, 16 Oct 2023 20:54:25 -0400",
        "Mon, 16 Oct 2023 17:30:00 -0400",
        "Mon, 16 Oct 2023 16:45:20 -0400",
        "Mon, 16 Oct 2023 16:22:02 -0400",
        "Mon, 16 Oct 2023 14:00:00 -0400",
        "Mon, 16 Oct 2023 13:09:17 -0400",
        "Mon, 16 Oct 2023 12:03:14 -0400",
        "Mon, 16 Oct 2023 11:42:07 -0400",
        "Mon, 16 Oct 2023 11:15:00 -0400",
        "Mon, 16 Oct 2023 11:00:11 -0400",
        "Mon, 16 Oct 2023 10:20:51 -0400",
        "Mon, 16 Oct 2023 10:05:00 -0400",
        "Mon, 16 Oct 2023 08:05:00 -0400",
        "Mon, 16 Oct 2023 05:52:30 -0400",
        "Mon, 16 Oct 2023 05:41:17 -0400",
        "Mon, 16 Oct 2023 04:50:35 -0400",
        "Mon, 16 Oct 2023 04:29:32 -0400",
        "Mon, 16 Oct 2023 03:15:00 -0400",
        "Sun, 15 Oct 2023 13:11:00 -0400",
        "Sun, 15 Oct 2023 12:40:45 -0400",
        "Sun, 15 Oct 2023 11:51:03 -0400",
        "Sun, 15 Oct 2023 10:00:00 -0400",
        "Sun, 15 Oct 2023 09:11:27 -0400",
        "Sun, 15 Oct 2023 08:55:40 -0400",
        "Sun, 15 Oct 2023 08:44:51 -0400",
        "Sun, 15 Oct 2023 02:46:53 -0400",
        "Sat, 14 Oct 2023 20:43:44 -0400",
        "Sat, 14 Oct 2023 19:02:49 -0400",
        "Sat, 14 Oct 2023 16:30:00 -0400",
        "Sat, 14 Oct 2023 16:00:00 -0400",
        "Sat, 14 Oct 2023 14:00:00 -0400",
        "Sat, 14 Oct 2023 12:36:02 -0400",
        "Sat, 14 Oct 2023 12:00:00 -0400",
        "Sat, 14 Oct 2023 10:35:03 -0400",
        "Sat, 14 Oct 2023 08:32:49 -0400",
        "Sat, 14 Oct 2023 08:13:34 -0400",
        "Sat, 14 Oct 2023 06:17:26 -0400",
        "Sat, 14 Oct 2023 04:30:00 -0400",
        "Sat, 14 Oct 2023 04:00:00 -0400",
        "Sat, 14 Oct 2023 03:15:08 -0400",
        "Sat, 14 Oct 2023 03:00:00 -0400",
        "Sat, 14 Oct 2023 01:40:00 -0400",
        "Sat, 14 Oct 2023 01:32:07 -0400",
        "Sat, 14 Oct 2023 00:49:05 -0400",
        "Fri, 13 Oct 2023 17:05:48 -0400",
        "Fri, 13 Oct 2023 16:00:00 -0400",
        "Fri, 13 Oct 2023 15:51:02 -0400",
        "Fri, 13 Oct 2023 15:11:22 -0400",
        "Fri, 13 Oct 2023 12:30:16 -0400",
        "Fri, 13 Oct 2023 12:00:00 -0400",
        "Fri, 13 Oct 2023 11:48:43 -0400",
        "Fri, 13 Oct 2023 09:15:00 -0400",
        "Fri, 13 Oct 2023 07:45:11 -0400",
        "Fri, 13 Oct 2023 07:01:56 -0400",
        "Fri, 13 Oct 2023 06:48:56 -0400",
        "Fri, 13 Oct 2023 06:04:19 -0400",
        "Fri, 13 Oct 2023 05:54:47 -0400",
        "Fri, 13 Oct 2023 05:47:16 -0400",
        "Fri, 13 Oct 2023 03:59:09 -0400",
        "Fri, 13 Oct 2023 02:43:24 -0400",
        "Thu, 12 Oct 2023 23:11:03 -0400",
        "Thu, 12 Oct 2023 22:34:38 -0400",
        "Thu, 12 Oct 2023 16:24:14 -0400",
        "Thu, 12 Oct 2023 15:30:00 -0400",
        "Thu, 12 Oct 2023 14:49:18 -0400",
        "Thu, 12 Oct 2023 13:46:38 -0400",
        "Thu, 12 Oct 2023 13:14:20 -0400",
        "Thu, 12 Oct 2023 12:26:44 -0400",
        "Thu, 12 Oct 2023 10:00:00 -0400",
        "Thu, 12 Oct 2023 08:04:33 -0400",
        "Thu, 12 Oct 2023 06:48:21 -0400",
        "Thu, 12 Oct 2023 06:14:38 -0400",
        "Wed, 11 Oct 2023 23:23:17 -0400",
        "Wed, 11 Oct 2023 21:11:19 -0400",
        "Wed, 11 Oct 2023 19:30:18 -0400",
        "Wed, 11 Oct 2023 19:00:00 -0400",
        "Wed, 11 Oct 2023 18:00:00 -0400",
        "Wed, 11 Oct 2023 17:00:00 -0400",
        "Wed, 11 Oct 2023 16:00:02 -0400",
        "Wed, 11 Oct 2023 16:00:00 -0400",
        "Wed, 11 Oct 2023 15:00:00 -0400",
        "Wed, 11 Oct 2023 14:00:00 -0400",
        "Wed, 11 Oct 2023 11:30:00 -0400",
        "Wed, 11 Oct 2023 11:21:03 -0400",
        "Wed, 11 Oct 2023 10:50:00 -0400",
        "Wed, 11 Oct 2023 10:04:33 -0400",
        "Wed, 11 Oct 2023 08:28:01 -0400",
        "Wed, 11 Oct 2023 07:28:42 -0400",
        "Wed, 11 Oct 2023 00:52:29 -0400",
        "Tue, 10 Oct 2023 23:58:16 -0400",
        "Tue, 10 Oct 2023 23:20:04 -0400",
        "Tue, 10 Oct 2023 22:24:08 -0400",
        "Tue, 10 Oct 2023 21:47:54 -0400",
        "Tue, 10 Oct 2023 21:36:26 -0400",
        "Tue, 10 Oct 2023 16:49:40 -0400",
        "Tue, 10 Oct 2023 16:21:15 -0400",
        "Tue, 10 Oct 2023 16:00:04 -0400",
        "Tue, 10 Oct 2023 13:12:11 -0400",
        "Tue, 10 Oct 2023 12:41:41 -0400",
        "Tue, 10 Oct 2023 12:00:00 -0400",
        "Tue, 10 Oct 2023 11:00:00 -0400",
        "Tue, 10 Oct 2023 10:00:00 -0400",
        "Tue, 10 Oct 2023 03:20:19 -0400",
        "Tue, 10 Oct 2023 01:23:44 -0400",
        "Tue, 10 Oct 2023 00:00:00 -0400",
        "Mon, 09 Oct 2023 23:29:31 -0400",
        "Mon, 09 Oct 2023 16:01:00 -0400",
        "Mon, 09 Oct 2023 15:45:00 -0400",
        "Mon, 09 Oct 2023 12:32:47 -0400",
        "Mon, 09 Oct 2023 11:39:51 -0400",
        "Mon, 09 Oct 2023 11:00:00 -0400",
        "Mon, 09 Oct 2023 10:50:17 -0400",
        "Mon, 09 Oct 2023 06:52:02 -0400",
        "Mon, 09 Oct 2023 04:16:50 -0400",
        "Mon, 09 Oct 2023 03:51:47 -0400",
        "Sun, 08 Oct 2023 06:59:28 -0400",
        "Sun, 08 Oct 2023 05:22:12 -0400",
        "Sun, 08 Oct 2023 05:10:45 -0400",
        "Sun, 08 Oct 2023 01:28:14 -0400",
        "Sat, 07 Oct 2023 22:51:20 -0400",
        "Sat, 07 Oct 2023 10:15:00 -0400",
        "Sat, 07 Oct 2023 08:15:00 -0400",
        "Sat, 07 Oct 2023 05:01:30 -0400",
        "Sat, 07 Oct 2023 03:21:22 -0400",
        "Fri, 06 Oct 2023 16:00:00 -0400",
        "Fri, 06 Oct 2023 15:30:00 -0400",
        "Fri, 06 Oct 2023 14:30:22 -0400",
        "Fri, 06 Oct 2023 14:00:00 -0400",
        "Fri, 06 Oct 2023 13:00:00 -0400",
        "Fri, 06 Oct 2023 12:11:17 -0400",
        "Fri, 06 Oct 2023 12:00:00 -0400",
        "Fri, 06 Oct 2023 11:00:00 -0400",
        "Fri, 06 Oct 2023 08:09:12 -0400",
        "Fri, 06 Oct 2023 06:56:11 -0400",
        "Fri, 06 Oct 2023 06:14:39 -0400",
        "Fri, 06 Oct 2023 06:00:44 -0400",
        "Fri, 06 Oct 2023 05:09:11 -0400",
        "Fri, 06 Oct 2023 03:54:06 -0400",
        "Fri, 06 Oct 2023 03:39:11 -0400",
        "Fri, 06 Oct 2023 00:27:50 -0400",
        "Fri, 06 Oct 2023 00:02:31 -0400",
        "Thu, 05 Oct 2023 22:55:49 -0400",
        "Thu, 05 Oct 2023 15:41:29 -0400",
        "Thu, 05 Oct 2023 14:35:23 -0400",
        "Thu, 05 Oct 2023 14:03:33 -0400",
        "Thu, 05 Oct 2023 12:40:38 -0400",
        "Thu, 05 Oct 2023 12:30:00 -0400",
        "Thu, 05 Oct 2023 11:58:10 -0400",
        "Thu, 05 Oct 2023 11:01:27 -0400",
        "Thu, 05 Oct 2023 10:15:00 -0400",
        "Thu, 05 Oct 2023 09:59:30 -0400",
        "Thu, 05 Oct 2023 09:00:00 -0400",
        "Thu, 05 Oct 2023 08:15:00 -0400",
        "Thu, 05 Oct 2023 07:37:38 -0400",
        "Thu, 05 Oct 2023 06:05:04 -0400",
        "Thu, 05 Oct 2023 05:14:34 -0400",
        "Thu, 05 Oct 2023 04:28:46 -0400",
        "Thu, 05 Oct 2023 03:43:22 -0400",
        "Thu, 05 Oct 2023 03:32:52 -0400",
        "Wed, 04 Oct 2023 23:46:23 -0400",
        "Wed, 04 Oct 2023 23:39:47 -0400",
        "Wed, 04 Oct 2023 21:55:39 -0400",
        "Wed, 04 Oct 2023 17:00:00 -0400",
        "Wed, 04 Oct 2023 16:30:00 -0400",
        "Wed, 04 Oct 2023 15:57:19 -0400",
        "Wed, 04 Oct 2023 15:30:00 -0400",
        "Wed, 04 Oct 2023 15:00:00 -0400",
        "Wed, 04 Oct 2023 14:30:00 -0400",
        "Wed, 04 Oct 2023 14:00:00 -0400",
        "Wed, 04 Oct 2023 13:30:00 -0400",
        "Wed, 04 Oct 2023 12:38:05 -0400",
        "Wed, 04 Oct 2023 11:37:53 -0400",
        "Wed, 04 Oct 2023 10:53:07 -0400",
        "Wed, 04 Oct 2023 08:33:31 -0400",
        "Wed, 04 Oct 2023 07:45:18 -0400",
        "Wed, 04 Oct 2023 07:14:30 -0400",
        "Wed, 04 Oct 2023 06:54:54 -0400",
        "Wed, 04 Oct 2023 06:24:19 -0400",
        "Wed, 04 Oct 2023 05:56:47 -0400",
        "Wed, 04 Oct 2023 01:00:00 -0400",
        "Tue, 03 Oct 2023 23:48:47 -0400",
        "Tue, 03 Oct 2023 23:11:44 -0400",
        "Tue, 03 Oct 2023 17:00:00 -0400",
        "Tue, 03 Oct 2023 16:00:00 -0400",
        "Tue, 03 Oct 2023 15:00:00 -0400",
        "Tue, 03 Oct 2023 14:00:00 -0400",
        "Tue, 03 Oct 2023 13:00:00 -0400",
        "Tue, 03 Oct 2023 12:03:24 -0400",
        "Tue, 03 Oct 2023 11:00:00 -0400",
        "Tue, 03 Oct 2023 10:57:29 -0400",
        "Tue, 03 Oct 2023 00:56:33 -0400",
        "Mon, 02 Oct 2023 23:30:10 -0400",
        "Mon, 02 Oct 2023 22:17:28 -0400",
        "Mon, 02 Oct 2023 16:30:00 -0400",
        "Mon, 02 Oct 2023 15:30:00 -0400",
        "Mon, 02 Oct 2023 15:18:06 -0400",
        "Mon, 02 Oct 2023 14:30:00 -0400",
        "Mon, 02 Oct 2023 12:45:20 -0400",
        "Mon, 02 Oct 2023 12:16:04 -0400",
        "Mon, 02 Oct 2023 11:30:00 -0400",
        "Mon, 02 Oct 2023 11:00:00 -0400",
        "Mon, 02 Oct 2023 08:30:00 -0400",
        "Mon, 02 Oct 2023 07:48:39 -0400",
        "Mon, 02 Oct 2023 05:57:29 -0400",
        "Mon, 02 Oct 2023 05:38:26 -0400",
        "Mon, 02 Oct 2023 05:19:26 -0400",
        "Mon, 02 Oct 2023 03:36:49 -0400",
        "Sun, 01 Oct 2023 23:19:31 -0400",
        "Sun, 01 Oct 2023 23:13:52 -0400",
        "Sun, 01 Oct 2023 22:30:00 -0400",
        "Sun, 01 Oct 2023 22:06:41 -0400",
        "Sun, 01 Oct 2023 21:03:40 -0400",
        "Sun, 01 Oct 2023 20:46:52 -0400",
        "Sun, 01 Oct 2023 12:16:19 -0400",
        "Sun, 01 Oct 2023 09:15:00 -0400",
        "Sun, 01 Oct 2023 06:30:00 -0400",
        "Sun, 01 Oct 2023 04:37:17 -0400",
        "Sun, 01 Oct 2023 02:30:47 -0400",
        "Sun, 01 Oct 2023 02:30:00 -0400",
        "Sun, 01 Oct 2023 01:30:00 -0400",
        "Sun, 01 Oct 2023 00:20:20 -0400",
        "Sat, 30 Sep 2023 17:06:27 -0400",
        "Sat, 30 Sep 2023 11:41:15 -0400",
        "Sat, 30 Sep 2023 09:15:00 -0400",
        "Sat, 30 Sep 2023 09:10:05 -0400",
        "Sat, 30 Sep 2023 08:26:24 -0400",
        "Sat, 30 Sep 2023 08:16:23 -0400",
        "Sat, 30 Sep 2023 07:15:00 -0400",
        "Sat, 30 Sep 2023 06:38:57 -0400",
        "Sat, 30 Sep 2023 03:30:20 -0400",
        "Sat, 30 Sep 2023 03:03:06 -0400",
        "Fri, 29 Sep 2023 17:00:00 -0400",
        "Fri, 29 Sep 2023 16:30:00 -0400",
        "Fri, 29 Sep 2023 13:56:41 -0400",
        "Fri, 29 Sep 2023 11:47:43 -0400",
        "Fri, 29 Sep 2023 11:00:37 -0400",
        "Fri, 29 Sep 2023 07:59:36 -0400",
        "Fri, 29 Sep 2023 07:23:31 -0400",
        "Fri, 29 Sep 2023 06:29:08 -0400",
        "Fri, 29 Sep 2023 06:15:03 -0400",
        "Fri, 29 Sep 2023 05:35:38 -0400",
        "Fri, 29 Sep 2023 04:45:40 -0400",
        "Fri, 29 Sep 2023 03:19:04 -0400",
        "Fri, 29 Sep 2023 02:28:47 -0400",
        "Fri, 29 Sep 2023 02:15:17 -0400",
        "Thu, 28 Sep 2023 15:43:08 -0400",
        "Thu, 28 Sep 2023 14:00:17 -0400",
        "Thu, 28 Sep 2023 13:40:22 -0400",
        "Thu, 28 Sep 2023 12:45:48 -0400",
        "Thu, 28 Sep 2023 11:45:22 -0400",
        "Thu, 28 Sep 2023 11:00:08 -0400",
        "Thu, 28 Sep 2023 10:18:04 -0400",
        "Thu, 28 Sep 2023 09:57:59 -0400",
        "Thu, 28 Sep 2023 07:04:51 -0400",
        "Thu, 28 Sep 2023 06:30:13 -0400",
        "Thu, 28 Sep 2023 06:03:46 -0400",
        "Thu, 28 Sep 2023 05:32:03 -0400",
        "Thu, 28 Sep 2023 04:51:48 -0400",
        "Thu, 28 Sep 2023 04:02:50 -0400",
        "Wed, 27 Sep 2023 23:44:58 -0400",
        "Wed, 27 Sep 2023 20:29:25 -0400",
        "Wed, 27 Sep 2023 16:30:00 -0400",
        "Wed, 27 Sep 2023 16:00:00 -0400",
        "Wed, 27 Sep 2023 15:41:38 -0400",
        "Wed, 27 Sep 2023 14:20:35 -0400",
        "Wed, 27 Sep 2023 14:05:34 -0400",
        "Wed, 27 Sep 2023 12:47:40 -0400",
        "Wed, 27 Sep 2023 12:28:15 -0400",
        "Wed, 27 Sep 2023 12:01:19 -0400",
        "Wed, 27 Sep 2023 11:35:55 -0400",
        "Wed, 27 Sep 2023 11:00:00 -0400",
        "Wed, 27 Sep 2023 10:30:39 -0400",
        "Wed, 27 Sep 2023 07:27:44 -0400",
        "Wed, 27 Sep 2023 06:36:07 -0400",
        "Wed, 27 Sep 2023 05:35:00 -0400",
        "Wed, 27 Sep 2023 05:00:00 -0400",
        "Wed, 27 Sep 2023 03:12:25 -0400",
        "Tue, 26 Sep 2023 20:45:00 -0400",
        "Tue, 26 Sep 2023 17:00:00 -0400",
        "Tue, 26 Sep 2023 16:28:54 -0400",
        "Tue, 26 Sep 2023 15:30:00 -0400",
        "Tue, 26 Sep 2023 14:30:00 -0400",
        "Tue, 26 Sep 2023 13:30:00 -0400",
        "Tue, 26 Sep 2023 12:30:00 -0400",
        "Tue, 26 Sep 2023 11:24:28 -0400",
        "Tue, 26 Sep 2023 11:00:14 -0400",
        "Tue, 26 Sep 2023 10:35:33 -0400",
        "Tue, 26 Sep 2023 09:50:30 -0400",
        "Tue, 26 Sep 2023 07:14:26 -0400",
        "Tue, 26 Sep 2023 06:23:45 -0400",
        "Tue, 26 Sep 2023 06:00:53 -0400",
        "Mon, 25 Sep 2023 23:24:57 -0400",
        "Mon, 25 Sep 2023 22:59:45 -0400",
        "Mon, 25 Sep 2023 21:19:37 -0400",
        "Mon, 25 Sep 2023 19:31:49 -0400",
        "Mon, 25 Sep 2023 18:00:00 -0400",
        "Mon, 25 Sep 2023 17:00:00 -0400",
        "Mon, 25 Sep 2023 16:00:00 -0400",
        "Mon, 25 Sep 2023 15:30:00 -0400",
        "Mon, 25 Sep 2023 14:30:00 -0400",
        "Mon, 25 Sep 2023 12:32:32 -0400",
        "Mon, 25 Sep 2023 12:01:01 -0400",
        "Mon, 25 Sep 2023 11:00:00 -0400",
        "Mon, 25 Sep 2023 10:30:17 -0400",
        "Mon, 25 Sep 2023 10:00:00 -0400",
        "Mon, 25 Sep 2023 09:15:00 -0400",
        "Mon, 25 Sep 2023 08:15:00 -0400",
        "Mon, 25 Sep 2023 06:09:11 -0400",
        "Mon, 25 Sep 2023 04:29:18 -0400",
        "Mon, 25 Sep 2023 02:20:04 -0400"
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-12-18T02:59:54.524Z",
  "versionId": "79a0480d-9eaa-44ae-98ff-e17b57fa718d"
}