workflows/RSS to Discord.json
{
  "active": true,
  "connections": {
    "HTML Extract": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "regexURL erai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Erai Raws": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Discord Erai Raws": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Discord Erai Raws",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches2": {
      "main": [
        [
          {
            "node": "Discord DKB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord DKB": {
      "main": [
        [
          {
            "node": "Split In Batches2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches3": {
      "main": [
        [
          {
            "node": "Discord NcRaws",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nc-Raws RSS": {
      "main": [
        [
          {
            "node": "Filter Nc-Raws",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Nc-Raws": {
      "main": [
        [
          {
            "node": "Split In Batches3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord NcRaws": {
      "main": [
        [
          {
            "node": "Split In Batches3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "regexURL erai": {
      "main": [
        [
          {
            "node": "Filter Erai2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "regexURL DKB": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Erai2": {
      "main": [
        [
          {
            "node": "Filter Global1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Global": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split In Batches2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Global1": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML Extract1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract1": {
      "main": [
        [
          {
            "node": "Filter Erai Raws1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Filter Global",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Erai Raws1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filter DKB": {
      "main": [
        [
          {
            "node": "regexURL DKB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erai -Raws": {
      "main": [
        [
          {
            "node": "Filter Erai Raws",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DKB": {
      "main": [
        [
          {
            "node": "Filter DKB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-11-14T14:23:31.634Z",
  "id": "3",
  "name": "RSS to Discord",
  "nodes": [
    {
      "parameters": {
        "dataPropertyName": "content",
        "extractionValues": {
          "values": [
            {
              "key": "link",
              "cssSelector": "a",
              "returnValue": "attribute",
              "attribute": "href"
            }
          ]
        },
        "options": {}
      },
      "id": "8991e696-2e03-487f-a7aa-faa0de757977",
      "name": "HTML Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        1180,
        120
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "15e06094-7484-49d4-a460-a42791f80e5c",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1380,
        260
      ]
    },
    {
      "parameters": {
        "channelId": "1041723229569552484",
        "embed": true,
        "color": "#D31A1A",
        "title": "={{ $json[\"title\"] }}",
        "url": "={{ $json[\"link2\"] }}",
        "authorName": "Erai-Raws",
        "authorUrl": "https://www.erai-raws.info/",
        "description": "=",
        "timestamp": "={{ $json[\"Date\"] }}"
      },
      "id": "fc7b0084-86c3-4073-a0cb-b6caa2841371",
      "name": "Discord Erai Raws",
      "type": "n8n-nodes-discord.discord",
      "typeVersion": 1,
      "position": [
        2420,
        200
      ],
      "credentials": {
        "discordApi": {
          "id": "3",
          "name": "Discord n8n Bot"
        }
      }
    },
    {
      "parameters": {
        "channelId": "1041723229569552484",
        "embed": true,
        "color": "#E66F0D",
        "title": "={{ $json[\"title\"] }}",
        "url": "={{ $json[\"link2\"] }}",
        "authorName": "DKB",
        "authorUrl": "https://www.dkb.si/",
        "timestamp": "={{ $json[\"Date\"] }}"
      },
      "id": "26bf1a05-0c0e-40b4-b976-2bfa3ffaeb44",
      "name": "Discord DKB",
      "type": "n8n-nodes-discord.discord",
      "typeVersion": 1,
      "position": [
        2480,
        680
      ],
      "credentials": {
        "discordApi": {
          "id": "3",
          "name": "Discord n8n Bot"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Title",
              "value": "={{$json[\"title\"]}}"
            },
            {
              "name": "URL",
              "value": "={{$json[\"link\"]}}"
            },
            {
              "name": "Date",
              "value": "={{$json[\"isoDate\"]}}"
            },
            {
              "name": "contentSnippet",
              "value": "={{$json[\"contentSnippet\"]}}"
            },
            {
              "name": "content",
              "value": "={{ $json[\"content\"] }}"
            },
            {
              "name": "magnet",
              "value": "={{ $json[\"link\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "name": "Filter Erai Raws",
      "type": "n8n-nodes-base.set",
      "position": [
        1000,
        280
      ],
      "typeVersion": 1,
      "id": "e3b425c6-0c4c-4031-a27d-f2b3f6e4fbf8"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "bdd5692b-95fe-4493-977c-7a06695a8f43",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        2260,
        200
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "fe05e804-d436-4139-ac71-37211707d9e1",
      "name": "Split In Batches2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        2260,
        680
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "109dbf3f-bfc2-4681-906a-b80b7d299014",
      "name": "Split In Batches3",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1160,
        800
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "feedUrl": "https://nyaa.si/?page=rss&q=CR+1920x1080&c=0_0&f=0&u=BraveSail"
      },
      "id": "db1d7baa-ae0f-4784-addd-18f8bb4db64a",
      "name": "Nc-Raws RSS",
      "type": "n8n-nodes-rss-feed-trigger.rssFeedTrigger",
      "typeVersion": 1,
      "position": [
        800,
        800
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "title",
              "value": "={{ $json[\"title\"] }}"
            },
            {
              "name": "link",
              "value": "={{ $json[\"guid\"] }}"
            },
            {
              "name": "Date",
              "value": "={{ $json[\"isoDate\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "8db08559-3f76-481f-b2b5-e137b38f5d04",
      "name": "Filter Nc-Raws",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1000,
        800
      ]
    },
    {
      "parameters": {
        "channelId": "1041723229569552484",
        "embed": true,
        "color": "#36E60B",
        "title": "={{ $json[\"title\"] }}",
        "url": "={{ $json[\"link\"] }}",
        "authorName": "Nc-Raws",
        "authorUrl": "https://nc-raws.org/",
        "timestamp": "={{ $json[\"Date\"] }}"
      },
      "id": "b0804f1c-c780-4eda-8c7a-2cc531c11d0d",
      "name": "Discord NcRaws",
      "type": "n8n-nodes-discord.discord",
      "typeVersion": 1,
      "position": [
        1320,
        800
      ],
      "credentials": {
        "discordApi": {
          "id": "3",
          "name": "Discord n8n Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  var text = item.json.Title;\n  var regex = /\\[Magnet\\]|\\W1080p.*$/gm;\n  item.json.regexURL = text.replace(regex, '').trim();\n}\nreturn $input.all();"
      },
      "id": "534e8354-ca5e-4e73-a52e-fa6bf276b389",
      "name": "regexURL erai",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1600,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  var text = item.json.title;\n  var regex = /\\[DKB\\]|\\W1080p.*$/gm;\n  item.json.regexURL = text.replace(regex, '').trim();\n}\nreturn $input.all();"
      },
      "id": "badaf85c-6c7f-4c69-a200-2c2cf51ccfb4",
      "name": "regexURL DKB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1220,
        460
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=insert into public.releases (nome,link,pubdate,hevc) values (' {{ $json[\"title\"] }} ', ' {{ $json[\"link\"] }} ', ' {{ $json[\"Date\"] }} ', {{ $json[\"hevc\"] }})",
        "additionalFields": {
          "mode": "independently"
        }
      },
      "id": "64244757-2e17-45ed-a5e6-afb352cde949",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2440,
        460
      ],
      "credentials": {
        "postgres": {
          "id": "16",
          "name": "Postgres BuffonAnimes"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "link",
              "value": "={{ $json[\"URL\"] }}"
            },
            {
              "name": "Date",
              "value": "={{ $json[\"Date\"] }}"
            },
            {
              "name": "regexURL",
              "value": "={{ $json[\"regexURL\"] }}"
            },
            {
              "name": "link2",
              "value": "={{ $json[\"link\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "b805ed29-0575-4c96-961f-2ac717827f22",
      "name": "Filter Erai2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1900,
        100
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "title",
              "value": "={{ $json[\"regexURL\"] }}"
            },
            {
              "name": "link",
              "value": "={{ $json[\"magnet\"] }}"
            },
            {
              "name": "Date",
              "value": "={{ $json[\"Date\"] }}"
            },
            {
              "name": "link2",
              "value": "={{ $json[\"link\"] }}"
            }
          ],
          "boolean": [
            {
              "name": "hevc",
              "value": true
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "a7a72bf0-509d-4b88-90fb-edc4fbe3feee",
      "name": "Filter Global",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2260,
        460
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO releases (nome,link,pubdate,hevc) VALUES ('{{ $json[\"title\"] }}','{{ $json[\"link\"] }}', '{{ $json[\"Date\"] }}', {{ $json[\"hevc\"] }});",
        "additionalFields": {}
      },
      "id": "df215472-8c07-459b-890a-debd184155c6",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2260,
        -20
      ],
      "credentials": {
        "postgres": {
          "id": "16",
          "name": "Postgres BuffonAnimes"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "title",
              "value": "={{ $json[\"regexURL\"] }}"
            },
            {
              "name": "link",
              "value": "={{ $json[\"link\"] }}"
            },
            {
              "name": "Date",
              "value": "={{ $json[\"Date\"] }}"
            },
            {
              "name": "hevc",
              "value": "false"
            },
            {
              "name": "link2",
              "value": "={{ $json[\"link2\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "a07ec23a-2bfb-4cfe-9970-b24e650db31e",
      "name": "Filter Global1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2080,
        100
      ]
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "magnet",
              "cssSelector": "a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "749c8264-0014-4d34-90e2-7fc76ddb4bee",
      "name": "HTML Extract1",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        1580,
        560
      ]
    },
    {
      "parameters": {
        "url": "={{ $json[\"link\"] }}",
        "options": {}
      },
      "id": "ff3ec364-cd08-40a3-866f-c99dabd89d2e",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1400,
        560
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "11e32757-14c3-426b-8b9f-a238e776a308",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2040,
        460
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "magnet",
              "value": "={{ $json[\"magnet\"][17] }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "name": "Filter Erai Raws1",
      "type": "n8n-nodes-base.set",
      "position": [
        1760,
        560
      ],
      "typeVersion": 1,
      "id": "ea8ed020-efa2-4d2f-ae98-bc5ca9ddea3b"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "title",
              "value": "={{ $json[\"title\"] }}"
            },
            {
              "name": "link",
              "value": "={{ $json[\"guid\"] }}"
            },
            {
              "name": "Date",
              "value": "={{ $json[\"isoDate\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "12695e30-c90f-4b9d-89bb-9b774bc8d49a",
      "name": "Filter DKB",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1000,
        600
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "feedUrl": "https://www.erai-raws.info/feed/?res=1080p&type=magnet&0879fd62733b8db8535eb1be24e23f6d"
      },
      "id": "f04e1429-bbd7-4dea-97a5-fbb8b2b63a8f",
      "name": "Erai -Raws",
      "type": "n8n-nodes-rss-feed-trigger.rssFeedTrigger",
      "typeVersion": 1,
      "position": [
        820,
        280
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "feedUrl": "https://nyaa.si/?page=rss&u=DKB0512"
      },
      "id": "578d884f-4d56-4dc3-9fc0-ca2118b78598",
      "name": "DKB",
      "type": "n8n-nodes-rss-feed-trigger.rssFeedTrigger",
      "typeVersion": 1,
      "position": [
        800,
        600
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "timezone": "America/Sao_Paulo",
    "saveExecutionProgress": "DEFAULT",
    "saveManualExecutions": false,
    "callerPolicy": "any",
    "errorWorkflow": "11"
  },
  "staticData": {
    "global": {
      "oldRSSIds": [
        "2023-01-30T21:23:37.000Z",
        "2023-01-30T19:53:07.000Z",
        "2023-01-30T18:24:30.000Z",
        "2023-01-29T19:24:30.000Z",
        "2023-01-29T17:50:00.000Z",
        "2023-01-29T16:57:43.000Z",
        "2023-01-29T15:52:29.000Z",
        "2023-01-28T23:15:07.000Z",
        "2023-01-28T22:23:55.000Z",
        "2023-01-28T22:09:55.000Z",
        "2023-01-28T22:02:19.000Z",
        "2023-01-28T21:49:00.000Z",
        "2023-01-28T20:29:05.000Z",
        "2023-01-28T19:05:49.000Z",
        "2023-01-28T17:22:50.000Z",
        "2023-01-28T17:18:08.000Z",
        "2023-01-28T14:27:48.000Z",
        "2023-01-28T02:20:54.000Z",
        "2023-01-28T00:42:06.000Z",
        "2023-01-27T19:07:43.000Z",
        "2023-01-27T17:37:58.000Z",
        "2023-01-26T20:58:06.000Z",
        "2023-01-26T17:49:31.000Z",
        "2023-01-26T16:44:26.000Z",
        "2023-01-25T21:25:28.000Z",
        "2023-01-25T20:04:44.000Z",
        "2023-01-25T17:14:46.000Z",
        "2023-01-25T15:43:05.000Z",
        "2023-01-24T19:17:02.000Z",
        "2023-01-24T17:44:38.000Z",
        "2023-01-24T17:03:44.000Z",
        "2023-01-23T20:57:20.000Z",
        "2023-01-23T20:06:52.000Z",
        "2023-01-23T17:53:37.000Z",
        "2023-01-22T19:07:17.000Z",
        "2023-01-22T18:05:24.000Z",
        "2023-01-22T17:20:14.000Z",
        "2023-01-22T16:18:27.000Z",
        "2023-01-21T22:11:15.000Z",
        "2023-01-21T21:45:00.000Z",
        "2023-01-21T21:32:30.000Z",
        "2023-01-21T21:24:44.000Z",
        "2023-01-21T20:04:42.000Z",
        "2023-01-21T19:48:57.000Z",
        "2023-01-21T19:40:42.000Z",
        "2023-01-21T19:29:32.000Z",
        "2023-01-21T18:14:15.000Z",
        "2023-01-21T16:48:43.000Z",
        "2023-01-21T15:44:43.000Z",
        "2023-01-21T03:06:09.000Z",
        "2023-01-20T20:04:24.000Z",
        "2023-01-20T17:20:28.000Z",
        "2023-01-20T16:40:30.000Z",
        "2023-01-19T20:38:19.000Z",
        "2023-01-19T19:32:39.000Z",
        "2023-01-19T18:19:32.000Z",
        "2023-01-19T17:15:26.000Z",
        "2023-01-18T19:22:30.000Z",
        "2023-01-18T17:55:26.000Z",
        "2023-01-18T16:50:26.000Z",
        "2023-01-18T16:13:22.000Z",
        "2023-01-18T16:02:06.000Z",
        "2023-01-18T15:28:38.000Z",
        "2023-01-17T19:08:33.000Z",
        "2023-01-17T17:34:13.000Z",
        "2023-01-17T17:27:07.000Z",
        "2023-01-16T23:11:55.000Z",
        "2023-01-16T23:08:07.000Z",
        "2023-01-16T18:05:51.000Z",
        "2023-01-15T18:46:31.000Z",
        "2023-01-15T17:51:49.000Z",
        "2023-01-15T17:01:37.000Z",
        "2023-01-15T15:19:56.000Z",
        "2023-01-15T03:21:28.000Z",
        "2023-01-14T22:53:01.000Z",
        "2023-01-14T22:11:24.000Z",
        "2023-01-14T21:49:30.000Z",
        "2023-01-14T21:34:59.000Z",
        "2023-01-14T21:11:44.000Z",
        "2023-01-14T18:16:56.000Z",
        "2023-01-14T17:34:16.000Z",
        "2023-01-14T17:03:05.000Z",
        "Sat, 28 Jan 2023 23:15:07 -0000",
        "Sat, 28 Jan 2023 22:23:55 -0000",
        "Sat, 28 Jan 2023 22:09:55 -0000",
        "Sat, 28 Jan 2023 22:02:19 -0000",
        "Sat, 28 Jan 2023 21:49:00 -0000",
        "Sat, 28 Jan 2023 20:29:05 -0000",
        "Sat, 28 Jan 2023 19:05:49 -0000",
        "Sat, 28 Jan 2023 18:22:42 +0000",
        "Sat, 28 Jan 2023 18:06:22 +0000",
        "Sat, 28 Jan 2023 17:22:50 -0000",
        "Sat, 28 Jan 2023 17:18:08 -0000",
        "Sat, 28 Jan 2023 14:27:48 -0000",
        "Sat, 28 Jan 2023 02:20:54 -0000",
        "Sat, 28 Jan 2023 00:42:06 -0000",
        "Fri, 27 Jan 2023 19:07:43 -0000",
        "Fri, 27 Jan 2023 17:37:58 -0000",
        "Thu, 26 Jan 2023 20:58:06 -0000",
        "Thu, 26 Jan 2023 17:49:31 -0000",
        "Thu, 26 Jan 2023 16:44:26 -0000",
        "Wed, 25 Jan 2023 21:25:28 -0000",
        "Wed, 25 Jan 2023 20:04:44 -0000",
        "Wed, 25 Jan 2023 17:14:46 -0000",
        "Wed, 25 Jan 2023 15:43:05 -0000",
        "Tue, 24 Jan 2023 19:17:02 -0000",
        "Tue, 24 Jan 2023 17:44:38 -0000",
        "Tue, 24 Jan 2023 17:03:44 -0000",
        "Mon, 23 Jan 2023 20:57:20 -0000",
        "Mon, 23 Jan 2023 20:06:52 -0000",
        "Mon, 23 Jan 2023 17:53:37 -0000",
        "Sun, 22 Jan 2023 19:07:17 -0000",
        "Sun, 22 Jan 2023 18:05:24 -0000",
        "Sun, 22 Jan 2023 17:20:14 -0000",
        "Sun, 22 Jan 2023 16:18:27 -0000",
        "Sat, 21 Jan 2023 22:11:15 -0000",
        "Sat, 21 Jan 2023 21:45:00 -0000",
        "Sat, 21 Jan 2023 21:32:30 -0000",
        "Sat, 21 Jan 2023 21:24:44 -0000",
        "Sat, 21 Jan 2023 20:04:42 -0000",
        "Sat, 21 Jan 2023 19:48:57 -0000",
        "Sat, 21 Jan 2023 19:40:42 -0000",
        "Sat, 21 Jan 2023 19:29:32 -0000",
        "Sat, 21 Jan 2023 18:14:15 -0000",
        "Sat, 21 Jan 2023 16:48:43 -0000",
        "Sat, 21 Jan 2023 15:44:43 -0000",
        "Sat, 21 Jan 2023 03:06:09 -0000",
        "Fri, 20 Jan 2023 20:04:24 -0000",
        "Fri, 20 Jan 2023 17:20:28 -0000",
        "Fri, 20 Jan 2023 16:40:30 -0000",
        "Thu, 19 Jan 2023 20:38:19 -0000",
        "Thu, 19 Jan 2023 19:32:39 -0000",
        "Thu, 19 Jan 2023 18:19:32 -0000",
        "Thu, 19 Jan 2023 17:15:26 -0000",
        "Wed, 18 Jan 2023 19:22:30 -0000",
        "Wed, 18 Jan 2023 17:55:26 -0000",
        "Wed, 18 Jan 2023 16:50:26 -0000",
        "Wed, 18 Jan 2023 16:13:22 -0000",
        "Wed, 18 Jan 2023 16:02:06 -0000",
        "Wed, 18 Jan 2023 15:28:38 -0000",
        "Tue, 17 Jan 2023 19:08:33 -0000",
        "Tue, 17 Jan 2023 17:34:13 -0000",
        "Tue, 17 Jan 2023 17:27:07 -0000",
        "Mon, 16 Jan 2023 23:11:55 -0000",
        "Mon, 16 Jan 2023 23:08:07 -0000",
        "Mon, 16 Jan 2023 18:05:51 -0000",
        "Sun, 15 Jan 2023 18:46:31 -0000",
        "Sun, 15 Jan 2023 17:51:49 -0000",
        "Sun, 15 Jan 2023 17:01:37 -0000",
        "Sun, 15 Jan 2023 15:19:56 -0000",
        "Sun, 15 Jan 2023 03:21:28 -0000",
        "Sat, 14 Jan 2023 22:53:01 -0000",
        "Sat, 14 Jan 2023 22:11:24 -0000",
        "Sat, 14 Jan 2023 21:49:30 -0000",
        "Sat, 14 Jan 2023 21:34:59 -0000",
        "Sat, 14 Jan 2023 21:11:44 -0000",
        "Sat, 14 Jan 2023 18:16:56 -0000",
        "Sat, 14 Jan 2023 17:34:16 -0000",
        "Sat, 14 Jan 2023 17:03:05 -0000",
        "Sat, 14 Jan 2023 14:40:30 -0000",
        "Sat, 14 Jan 2023 12:15:04 -0000",
        "Fri, 13 Jan 2023 23:44:33 -0000",
        "Fri, 13 Jan 2023 17:34:13 -0000",
        "Fri, 13 Jan 2023 13:47:50 -0000",
        "Thu, 12 Jan 2023 20:33:22 -0000",
        "Thu, 12 Jan 2023 18:03:07 -0000",
        "Sat, 28 Jan 2023 16:36:46 +0000",
        "Sat, 28 Jan 2023 16:20:23 +0000",
        "Sat, 28 Jan 2023 16:09:15 +0000",
        "Sat, 28 Jan 2023 15:37:25 +0000",
        "Sat, 28 Jan 2023 13:06:26 +0000",
        "Sat, 28 Jan 2023 12:36:33 +0000",
        "Sat, 28 Jan 2023 10:36:34 +0000",
        "Sat, 28 Jan 2023 03:37:20 +0000",
        "Sat, 28 Jan 2023 00:10:36 +0000",
        "Fri, 27 Jan 2023 21:19:50 +0000",
        "Fri, 27 Jan 2023 19:06:27 +0000",
        "Fri, 27 Jan 2023 18:25:21 +0000",
        "Fri, 27 Jan 2023 17:36:34 +0000",
        "Fri, 27 Jan 2023 17:30:26 +0000",
        "Fri, 27 Jan 2023 14:40:03 +0000",
        "Fri, 27 Jan 2023 14:37:49 +0000",
        "Fri, 27 Jan 2023 14:20:25 +0000",
        "Fri, 27 Jan 2023 14:06:29 +0000",
        "Fri, 27 Jan 2023 13:00:25 +0000",
        "Fri, 27 Jan 2023 10:30:09 +0000",
        "Fri, 27 Jan 2023 10:30:06 +0000",
        "Thu, 26 Jan 2023 19:06:44 +0000",
        "Thu, 26 Jan 2023 18:59:08 +0000",
        "Thu, 26 Jan 2023 17:55:07 +0000",
        "Thu, 26 Jan 2023 17:35:39 +0000",
        "Thu, 26 Jan 2023 17:17:37 +0000",
        "Thu, 26 Jan 2023 15:30:13 +0000",
        "Thu, 26 Jan 2023 14:36:50 +0000",
        "Thu, 26 Jan 2023 14:30:33 +0000",
        "Thu, 26 Jan 2023 05:44:06 +0000",
        "Wed, 25 Jan 2023 18:31:38 +0000",
        "Wed, 25 Jan 2023 18:05:43 +0000",
        "Wed, 25 Jan 2023 17:35:59 +0000",
        "Wed, 25 Jan 2023 16:35:41 +0000",
        "Wed, 25 Jan 2023 15:35:43 +0000",
        "Wed, 25 Jan 2023 14:06:23 +0000",
        "Wed, 25 Jan 2023 13:35:40 +0000",
        "Tue, 24 Jan 2023 22:57:18 +0000",
        "Tue, 24 Jan 2023 17:37:05 +0000",
        "Tue, 24 Jan 2023 17:01:21 +0000",
        "Tue, 24 Jan 2023 17:00:20 +0000",
        "Tue, 24 Jan 2023 16:06:21 +0000",
        "Tue, 24 Jan 2023 15:33:28 +0000",
        "Tue, 24 Jan 2023 15:30:20 +0000",
        "Mon, 23 Jan 2023 19:22:08 +0000",
        "Mon, 23 Jan 2023 19:05:45 +0000",
        "Mon, 23 Jan 2023 18:38:36 +0000",
        "Mon, 23 Jan 2023 18:06:22 +0000",
        "Mon, 23 Jan 2023 16:39:13 +0000",
        "Mon, 23 Jan 2023 15:06:19 +0000",
        "Mon, 23 Jan 2023 13:36:25 +0000",
        "Sun, 22 Jan 2023 17:36:40 +0000",
        "Sun, 22 Jan 2023 17:35:53 +0000",
        "Sun, 22 Jan 2023 16:31:27 +0000",
        "Sun, 22 Jan 2023 15:31:39 +0000",
        "Sun, 22 Jan 2023 14:57:37 +0000",
        "Sun, 22 Jan 2023 14:06:43 +0000",
        "Sun, 22 Jan 2023 13:36:27 +0000",
        "Sun, 22 Jan 2023 09:07:20 +0000",
        "Sun, 22 Jan 2023 05:47:27 +0000",
        "Sun, 22 Jan 2023 05:39:22 +0000",
        "Sun, 22 Jan 2023 05:34:14 +0000",
        "Sun, 22 Jan 2023 05:33:34 +0000",
        "Sun, 22 Jan 2023 05:26:43 +0000",
        "Sun, 22 Jan 2023 05:24:11 +0000",
        "Sun, 22 Jan 2023 05:22:30 +0000",
        "Sun, 22 Jan 2023 05:20:48 +0000",
        "Sun, 22 Jan 2023 05:18:58 +0000",
        "Sun, 22 Jan 2023 05:16:24 +0000",
        "Sun, 22 Jan 2023 05:11:35 +0000",
        "Sun, 22 Jan 2023 05:09:16 +0000",
        "Sun, 22 Jan 2023 04:57:03 +0000",
        "Sun, 22 Jan 2023 04:54:54 +0000",
        "Sun, 22 Jan 2023 04:52:12 +0000",
        "Sun, 22 Jan 2023 04:50:24 +0000",
        "Sun, 22 Jan 2023 04:47:18 +0000",
        "Sun, 22 Jan 2023 04:44:13 +0000",
        "Sun, 22 Jan 2023 04:41:05 +0000",
        "Sun, 22 Jan 2023 03:44:19 +0000",
        "Fri, 20 Jan 2023 21:06:31 +0000",
        "Fri, 20 Jan 2023 20:39:40 +0000",
        "Fri, 20 Jan 2023 20:39:37 +0000",
        "Fri, 20 Jan 2023 18:25:27 +0000",
        "Fri, 20 Jan 2023 17:30:26 +0000",
        "Fri, 20 Jan 2023 14:20:29 +0000",
        "Fri, 20 Jan 2023 14:06:30 +0000",
        "Fri, 20 Jan 2023 13:05:35 +0000",
        "Fri, 20 Jan 2023 13:00:27 +0000",
        "Fri, 20 Jan 2023 10:30:10 +0000",
        "Fri, 20 Jan 2023 10:30:07 +0000",
        "Fri, 20 Jan 2023 03:05:18 +0000",
        "Fri, 20 Jan 2023 02:37:53 +0000",
        "Fri, 20 Jan 2023 02:10:34 +0000",
        "Fri, 20 Jan 2023 02:02:54 +0000",
        "Fri, 20 Jan 2023 02:00:02 +0000",
        "Fri, 20 Jan 2023 01:52:13 +0000",
        "Thu, 19 Jan 2023 19:20:50 +0000",
        "Thu, 19 Jan 2023 17:55:07 +0000",
        "Thu, 19 Jan 2023 17:35:40 +0000",
        "Thu, 19 Jan 2023 15:30:13 +0000",
        "2022-12-21T14:51:15.000Z",
        "2022-12-21T14:36:25.000Z",
        "2022-12-21T14:30:35.000Z",
        "2022-12-21T14:30:33.000Z",
        "2022-12-21T14:31:54.000Z",
        "2022-12-21T14:31:37.000Z",
        "2022-12-20T18:20:33.000Z",
        "2022-12-20T17:07:59.000Z",
        "2022-12-20T17:03:34.000Z",
        "2022-12-20T16:00:52.000Z",
        "2022-12-20T16:00:54.000Z",
        "2022-12-20T15:36:30.000Z",
        "2022-12-20T15:31:32.000Z",
        "2022-12-20T14:06:26.000Z",
        "2022-12-20T14:01:19.000Z",
        "2022-12-19T19:07:26.000Z",
        "2022-12-19T19:07:17.000Z",
        "2022-12-19T19:00:52.000Z",
        "2022-12-19T13:00:36.000Z",
        "2022-12-19T13:00:42.000Z",
        "2022-12-19T09:13:14.000Z",
        "2022-12-19T09:10:03.000Z",
        "2022-12-18T16:45:00.000Z",
        "2022-12-18T16:30:20.000Z",
        "2022-12-18T16:30:31.000Z",
        "2022-12-18T15:36:37.000Z",
        "2022-12-18T15:32:08.000Z",
        "2022-12-18T15:06:45.000Z",
        "2022-12-18T15:04:42.000Z",
        "2022-12-18T15:01:26.000Z",
        "2022-12-18T13:37:18.000Z",
        "2022-12-18T13:31:12.000Z",
        "2022-12-18T09:07:08.000Z",
        "2022-12-18T09:01:35.000Z",
        "2022-12-18T07:56:36.000Z",
        "2022-12-18T05:53:08.000Z",
        "2022-12-18T02:36:31.000Z",
        "2022-12-18T02:31:26.000Z",
        "2022-12-18T01:37:20.000Z",
        "2022-12-18T01:31:18.000Z",
        "2022-12-17T22:19:47.000Z",
        "2022-12-17T21:34:17.000Z",
        "2022-12-17T20:48:31.000Z",
        "2022-12-17T20:48:17.000Z",
        "2022-12-17T20:00:31.000Z",
        "2022-12-17T19:36:46.000Z",
        "2022-12-17T19:31:28.000Z",
        "2022-12-17T19:17:00.000Z",
        "2022-12-17T19:07:31.000Z",
        "2022-12-17T19:01:30.000Z",
        "2022-12-17T18:36:22.000Z",
        "2022-12-17T18:31:38.000Z",
        "2022-12-17T18:06:26.000Z",
        "2022-12-17T18:01:29.000Z",
        "2022-12-17T17:52:44.000Z",
        "2022-12-17T17:51:28.000Z",
        "2022-12-17T17:46:24.000Z",
        "2022-12-17T17:36:30.000Z",
        "2022-12-17T17:31:27.000Z",
        "2022-12-17T17:06:30.000Z",
        "2022-12-17T17:01:23.000Z",
        "2022-12-17T16:53:09.000Z",
        "2022-12-17T16:36:27.000Z",
        "2022-12-17T16:31:34.000Z",
        "2022-12-17T16:06:56.000Z",
        "2022-12-17T16:01:26.000Z",
        "2022-12-17T15:36:56.000Z",
        "2022-12-17T15:31:16.000Z",
        "2022-12-17T14:39:00.000Z",
        "2022-12-17T13:30:25.000Z",
        "2022-12-17T13:30:44.000Z",
        "2022-12-17T13:07:05.000Z",
        "2022-12-17T13:01:23.000Z",
        "2022-12-17T12:42:54.000Z",
        "2022-12-17T10:37:13.000Z",
        "2022-12-17T10:31:06.000Z",
        "2022-12-17T07:36:54.000Z",
        "2022-12-17T07:32:32.000Z",
        "2022-12-17T06:33:36.000Z",
        "2022-12-17T03:36:54.000Z",
        "2022-12-17T03:31:27.000Z",
        "2022-12-17T00:01:55.000Z",
        "2022-12-16T23:05:13.000Z",
        "2022-12-16T22:02:34.000Z",
        "2022-12-16T21:08:49.000Z",
        "2022-12-16T21:04:13.000Z",
        "2022-12-16T20:40:14.000Z",
        "2022-12-16T20:22:28.000Z",
        "2022-12-16T19:51:45.000Z",
        "2022-12-16T19:46:37.000Z",
        "2022-12-16T19:21:29.000Z",
        "2022-12-16T19:16:37.000Z",
        "2022-12-16T19:12:04.000Z",
        "2022-12-16T19:00:11.000Z",
        "2022-12-16T18:06:55.000Z",
        "2022-12-16T18:01:19.000Z",
        "2022-12-16T16:36:43.000Z",
        "2022-12-16T16:31:09.000Z",
        "2022-12-16T14:30:26.000Z",
        "2022-12-16T14:30:39.000Z",
        "2022-12-16T12:17:26.000Z",
        "2022-12-16T12:17:25.000Z",
        "2022-12-16T00:06:23.000Z",
        "2022-12-16T00:01:57.000Z",
        "2022-12-15T20:30:04.000Z",
        "2022-12-15T18:47:55.000Z",
        "2022-12-15T17:55:16.000Z",
        "2022-12-15T17:55:57.000Z",
        "2022-12-15T17:54:29.000Z",
        "2022-12-15T17:45:29.000Z",
        "2022-12-15T17:37:24.000Z",
        "2022-12-15T17:31:34.000Z",
        "2022-12-15T17:05:36.000Z",
        "2022-12-15T17:02:01.000Z",
        "2022-12-15T15:00:42.000Z",
        "2022-12-15T14:30:30.000Z",
        "2022-12-15T14:31:05.000Z",
        "2022-12-14T18:32:15.000Z",
        "2022-12-14T18:06:42.000Z",
        "2022-12-14T18:26:34.000Z",
        "2022-12-14T19:38:09.000Z",
        "2022-12-14T18:40:55.000Z",
        "2022-12-14T18:01:47.000Z",
        "2022-12-14T17:06:47.000Z",
        "2022-12-14T17:01:32.000Z",
        "2022-12-14T16:05:42.000Z",
        "2022-12-14T16:06:13.000Z",
        "2022-12-14T14:36:30.000Z",
        "2022-12-14T14:30:51.000Z",
        "2022-12-14T14:30:51.000Z",
        "2022-12-14T14:32:16.000Z",
        "2022-12-14T14:31:49.000Z",
        "2022-12-14T14:31:47.000Z",
        "2022-12-14T09:41:24.000Z",
        "2022-12-14T07:38:25.000Z",
        "2022-12-13T18:31:22.000Z",
        "2022-12-13T17:07:30.000Z",
        "2022-12-13T17:02:02.000Z",
        "2022-12-13T16:01:22.000Z",
        "2022-12-13T16:00:41.000Z",
        "2022-12-13T15:36:42.000Z",
        "2022-12-13T15:31:24.000Z",
        "2022-12-13T14:08:08.000Z",
        "2022-12-13T14:01:14.000Z",
        "2022-12-12T19:05:52.000Z",
        "2022-12-12T19:00:53.000Z",
        "2022-12-12T18:08:51.000Z",
        "2022-12-12T13:00:42.000Z",
        "2022-12-12T13:01:29.000Z",
        "2022-12-12T00:28:12.000Z",
        "2022-12-11T16:31:19.000Z",
        "2022-12-11T16:30:27.000Z",
        "2022-12-11T16:19:48.000Z",
        "2022-12-11T15:36:42.000Z",
        "2022-12-11T15:31:34.000Z",
        "2022-12-11T15:13:32.000Z",
        "2022-12-11T15:08:20.000Z",
        "2022-12-11T15:04:25.000Z",
        "2022-12-11T13:36:32.000Z",
        "2022-12-11T13:31:17.000Z",
        "2022-12-11T12:22:23.000Z",
        "2022-12-11T12:06:30.000Z",
        "2022-12-11T10:36:42.000Z",
        "2022-12-11T10:31:25.000Z",
        "2022-12-11T09:06:40.000Z",
        "2022-12-11T09:01:29.000Z",
        "2022-12-11T07:25:07.000Z",
        "2022-12-11T06:01:18.000Z",
        "2022-12-11T02:37:19.000Z",
        "2022-12-11T02:31:23.000Z",
        "2022-12-11T02:06:46.000Z",
        "2022-12-11T02:01:24.000Z",
        "2022-12-11T01:38:02.000Z",
        "2022-12-11T01:31:17.000Z",
        "2022-12-10T22:49:17.000Z",
        "2022-12-10T21:08:35.000Z",
        "2022-12-10T19:58:40.000Z",
        "2022-12-10T19:51:47.000Z",
        "2022-12-10T19:46:22.000Z",
        "2022-12-10T19:06:43.000Z",
        "2022-12-10T19:01:32.000Z",
        "2022-12-10T18:44:56.000Z",
        "2022-12-10T18:36:33.000Z",
        "2022-12-10T18:31:24.000Z",
        "2022-12-10T18:24:34.000Z",
        "2022-12-10T18:06:37.000Z",
        "2022-12-10T17:47:00.000Z",
        "2022-12-10T18:01:27.000Z",
        "2022-12-10T17:46:24.000Z",
        "2022-12-10T17:42:27.000Z",
        "2022-12-10T17:38:05.000Z",
        "2022-12-10T17:31:24.000Z",
        "2022-12-10T17:06:31.000Z",
        "2022-12-10T17:01:31.000Z",
        "2022-12-10T16:50:01.000Z",
        "2022-12-10T16:36:28.000Z",
        "2022-12-10T16:38:51.000Z",
        "2022-12-10T16:31:23.000Z",
        "2022-12-10T16:07:13.000Z",
        "2022-12-10T16:01:24.000Z",
        "2022-12-10T15:36:28.000Z",
        "2022-12-10T15:31:12.000Z",
        "2022-12-10T15:07:56.000Z",
        "2022-12-10T15:01:29.000Z",
        "2022-12-10T14:27:10.000Z",
        "2022-12-10T13:30:33.000Z",
        "2022-12-10T13:31:14.000Z",
        "2022-12-10T13:07:41.000Z",
        "2022-12-10T13:01:04.000Z",
        "2022-12-10T12:42:10.000Z",
        "2022-12-10T10:36:43.000Z",
        "2022-12-10T10:31:11.000Z",
        "2022-12-10T03:37:04.000Z",
        "2022-12-10T03:31:23.000Z",
        "2022-12-09T23:06:09.000Z",
        "2022-12-09T21:01:05.000Z",
        "2022-12-09T20:57:39.000Z",
        "2022-12-09T19:51:32.000Z",
        "2022-12-09T19:46:26.000Z",
        "2022-12-09T19:38:54.000Z",
        "2022-12-09T19:22:04.000Z",
        "2022-12-09T19:16:50.000Z",
        "2022-12-09T18:06:28.000Z",
        "2022-12-09T18:01:37.000Z",
        "2022-12-09T17:08:04.000Z",
        "2022-12-09T16:36:54.000Z",
        "2022-12-09T16:31:18.000Z",
        "2022-12-09T15:29:27.000Z",
        "2022-12-09T15:20:49.000Z",
        "2022-12-09T14:31:16.000Z",
        "2022-12-09T14:30:34.000Z",
        "2022-12-09T11:13:42.000Z",
        "2022-12-09T11:08:35.000Z",
        "2022-12-09T07:35:43.000Z",
        "2022-12-09T00:06:44.000Z",
        "2022-12-09T00:01:48.000Z",
        "2022-12-08T20:01:25.000Z",
        "2022-12-08T18:50:23.000Z",
        "2022-12-08T17:55:18.000Z",
        "2022-12-08T17:55:56.000Z",
        "2022-12-08T17:35:46.000Z",
        "2022-12-08T17:35:54.000Z",
        "2022-12-08T17:29:47.000Z",
        "2022-12-08T17:09:49.000Z",
        "2022-12-08T15:00:33.000Z",
        "2022-12-08T14:30:29.000Z",
        "2022-12-08T14:30:59.000Z",
        "2022-12-08T08:10:42.000Z",
        "2022-12-08T08:07:39.000Z",
        "2022-12-07T21:50:32.000Z",
        "2022-12-07T20:39:48.000Z",
        "2022-12-07T18:31:34.000Z",
        "2022-12-07T18:26:27.000Z",
        "2022-12-07T18:25:31.000Z",
        "2022-12-07T18:06:51.000Z",
        "2022-12-07T18:01:22.000Z",
        "2022-12-07T17:07:18.000Z",
        "2022-12-07T17:01:28.000Z",
        "2022-12-07T16:05:33.000Z",
        "2022-12-07T16:06:02.000Z",
        "2022-12-07T14:37:05.000Z",
        "2022-12-07T14:31:39.000Z",
        "2022-12-07T14:31:26.000Z",
        "2022-12-07T14:31:26.000Z",
        "2022-12-07T14:30:38.000Z",
        "2022-12-07T14:30:36.000Z",
        "2022-12-06T18:28:23.000Z",
        "2022-12-06T17:06:32.000Z",
        "2022-12-06T17:01:39.000Z",
        "2022-12-06T16:00:37.000Z",
        "2022-12-06T16:01:15.000Z",
        "2022-12-06T15:36:39.000Z",
        "2022-12-06T15:31:34.000Z",
        "2022-12-06T14:06:55.000Z",
        "2022-12-06T14:07:11.000Z",
        "2022-12-05T19:06:03.000Z",
        "2022-12-05T19:00:48.000Z",
        "2022-12-05T17:58:56.000Z",
        "2022-12-04T18:20:42.000Z",
        "2022-12-04T17:04:49.000Z",
        "2022-12-04T16:39:07.000Z",
        "2022-12-04T15:38:36.000Z",
        "2022-12-04T14:26:54.000Z",
        "2022-12-03T23:01:43.000Z",
        "2022-12-03T20:49:42.000Z",
        "2022-12-03T19:34:49.000Z",
        "2022-12-03T19:18:35.000Z",
        "2022-12-03T19:00:56.000Z",
        "2022-12-03T17:46:11.000Z",
        "2022-12-03T16:53:41.000Z",
        "2022-12-03T15:24:57.000Z",
        "2022-12-03T12:56:44.000Z",
        "2022-12-02T21:51:56.000Z",
        "2022-12-02T21:44:49.000Z",
        "2022-12-02T19:14:58.000Z",
        "2022-12-01T18:45:47.000Z",
        "2022-11-30T19:30:27.000Z",
        "2022-11-30T18:35:24.000Z",
        "2022-11-29T18:22:18.000Z",
        "2022-11-28T18:41:31.000Z",
        "2022-11-28T17:47:09.000Z",
        "2022-11-27T17:09:23.000Z",
        "2022-11-27T16:12:07.000Z",
        "2022-11-27T12:28:18.000Z",
        "2022-11-26T21:19:31.000Z",
        "2022-11-26T21:14:51.000Z",
        "2022-11-26T20:45:07.000Z",
        "2022-11-26T19:43:42.000Z",
        "2022-11-26T19:16:31.000Z",
        "2022-11-26T18:14:42.000Z",
        "2022-11-26T16:37:38.000Z",
        "2022-11-26T15:22:37.000Z",
        "2022-11-26T15:19:13.000Z",
        "2022-11-26T04:08:46.000Z",
        "2022-11-25T21:30:05.000Z",
        "2022-11-25T19:25:58.000Z",
        "2022-11-24T20:51:08.000Z",
        "2022-11-24T18:38:13.000Z",
        "2022-11-23T19:23:23.000Z",
        "2022-11-23T18:20:32.000Z",
        "2022-11-22T18:20:53.000Z",
        "2022-11-21T18:38:51.000Z",
        "2022-11-21T16:22:37.000Z",
        "2022-11-20T16:52:01.000Z",
        "2022-11-20T16:45:33.000Z",
        "2022-11-20T15:03:02.000Z",
        "2022-11-19T22:37:09.000Z",
        "2022-11-19T21:37:40.000Z",
        "2022-11-19T20:59:29.000Z",
        "2022-11-19T20:40:40.000Z",
        "2022-11-19T18:30:36.000Z",
        "2022-11-19T18:23:02.000Z",
        "2022-11-19T16:56:46.000Z",
        "2022-11-19T14:44:29.000Z",
        "2022-11-18T22:10:04.000Z",
        "2022-11-18T20:51:51.000Z",
        "2022-11-18T19:25:14.000Z",
        "2022-11-17T19:47:05.000Z",
        "2022-11-17T19:07:06.000Z",
        "2022-11-16T19:37:30.000Z",
        "2022-11-16T18:34:04.000Z",
        "2022-11-15T18:27:05.000Z",
        "2022-11-14T18:56:14.000Z",
        "2022-11-13T16:57:48.000Z",
        "2022-11-13T15:07:14.000Z",
        "2022-11-13T02:33:17.000Z",
        "2022-11-12T21:21:24.000Z",
        "2022-11-12T20:24:15.000Z",
        "2022-11-12T18:41:29.000Z",
        "2022-11-12T17:59:21.000Z",
        "2022-11-12T16:57:39.000Z",
        "2022-11-12T16:42:35.000Z",
        "2022-11-12T14:22:27.000Z",
        "2022-12-05T13:00:32.000Z",
        "2022-12-05T13:01:13.000Z",
        "2022-12-04T16:31:08.000Z",
        "2022-12-04T16:30:28.000Z",
        "2022-12-04T15:36:33.000Z",
        "2022-12-04T15:31:33.000Z",
        "2022-12-04T15:06:32.000Z",
        "2022-12-04T15:01:28.000Z",
        "2022-12-04T13:32:24.000Z",
        "2022-12-04T10:31:28.000Z",
        "2022-12-04T09:01:22.000Z",
        "2022-12-04T06:01:09.000Z",
        "2022-12-04T03:35:46.000Z",
        "2022-12-04T02:31:27.000Z",
        "2022-12-04T01:31:31.000Z",
        "2022-12-03T19:46:30.000Z",
        "2022-12-03T19:31:35.000Z",
        "2022-12-03T19:01:27.000Z",
        "2022-12-03T18:31:26.000Z",
        "2022-12-03T18:01:31.000Z",
        "2022-12-03T17:46:36.000Z",
        "2022-12-03T17:31:31.000Z",
        "2022-12-03T17:01:19.000Z",
        "2022-12-03T16:31:32.000Z",
        "2022-12-03T16:01:36.000Z",
        "2022-12-03T15:31:31.000Z",
        "2022-12-03T15:01:32.000Z",
        "2022-12-03T14:40:39.000Z",
        "2022-12-03T14:40:12.000Z",
        "2022-12-03T14:39:55.000Z",
        "2022-12-03T14:37:11.000Z",
        "2022-12-04T13:37:07.000Z",
        "2022-12-04T10:36:41.000Z",
        "2022-12-04T09:32:24.000Z",
        "2022-12-04T06:57:07.000Z",
        "2022-12-04T06:56:55.000Z",
        "2022-12-04T05:45:10.000Z",
        "2022-12-04T05:36:24.000Z",
        "2022-12-04T05:34:33.000Z",
        "2022-12-04T05:32:32.000Z",
        "2022-12-04T05:30:58.000Z",
        "2022-12-04T05:28:34.000Z",
        "2022-12-04T05:26:02.000Z",
        "2022-12-04T05:23:18.000Z",
        "2022-12-04T05:19:32.000Z",
        "2022-12-04T05:16:15.000Z",
        "2022-12-04T05:13:47.000Z",
        "2022-12-04T05:10:45.000Z",
        "2022-12-04T05:07:49.000Z",
        "2022-12-04T05:04:54.000Z",
        "2022-12-04T05:01:25.000Z",
        "2022-12-04T04:58:44.000Z",
        "2022-12-04T04:54:21.000Z",
        "2022-12-03T10:36:40.000Z",
        "2022-12-03T03:36:34.000Z",
        "2022-12-03T03:31:27.000Z",
        "2022-12-02T19:51:35.000Z",
        "2022-12-02T19:46:35.000Z",
        "2022-12-02T19:23:17.000Z",
        "2022-12-02T19:16:32.000Z",
        "2022-12-02T18:06:42.000Z",
        "2022-12-02T18:01:27.000Z",
        "2022-12-02T16:36:42.000Z",
        "2022-12-02T16:31:34.000Z",
        "2022-12-02T14:31:10.000Z",
        "2022-12-02T14:30:31.000Z",
        "2022-12-02T00:01:40.000Z",
        "2022-12-01T17:55:46.000Z",
        "2022-12-01T17:31:07.000Z",
        "2022-12-01T17:01:49.000Z",
        "2022-12-01T14:30:54.000Z",
        "2022-11-30T18:26:31.000Z",
        "2022-11-30T18:01:27.000Z",
        "2022-11-30T17:01:31.000Z",
        "2022-11-30T16:05:55.000Z",
        "2022-11-30T14:31:48.000Z",
        "2022-11-30T14:31:47.000Z",
        "2022-11-30T14:31:00.000Z",
        "2022-11-29T17:01:32.000Z",
        "2022-11-29T16:01:22.000Z",
        "2022-11-29T15:31:15.000Z",
        "2022-11-29T14:01:17.000Z",
        "2022-11-28T19:00:53.000Z",
        "2022-11-28T17:03:20.000Z",
        "2022-11-28T16:56:00.000Z",
        "2022-11-28T13:01:20.000Z",
        "2022-11-27T16:31:05.000Z",
        "2022-11-27T15:32:05.000Z",
        "2022-11-27T15:02:06.000Z",
        "2022-11-27T13:31:14.000Z",
        "2022-11-27T10:32:07.000Z",
        "2022-11-27T09:02:03.000Z",
        "2022-11-27T06:01:14.000Z",
        "2022-11-27T02:31:50.000Z",
        "2022-11-27T02:02:06.000Z",
        "2022-11-27T01:31:24.000Z",
        "2022-11-26T19:47:01.000Z",
        "2022-11-26T19:31:52.000Z",
        "2022-11-26T19:01:56.000Z",
        "2022-11-26T18:31:50.000Z",
        "2022-11-26T18:02:06.000Z",
        "2022-11-26T17:46:48.000Z",
        "2022-11-26T17:31:40.000Z",
        "2022-11-26T17:01:42.000Z",
        "2022-11-26T16:31:51.000Z",
        "2022-11-26T16:01:38.000Z",
        "2022-11-26T15:31:07.000Z",
        "2022-11-26T15:01:34.000Z",
        "2022-11-26T13:31:14.000Z",
        "2022-11-26T13:01:22.000Z",
        "2022-11-26T12:31:24.000Z",
        "2022-11-26T10:31:15.000Z",
        "2022-11-26T05:17:41.000Z",
        "2022-11-26T03:31:04.000Z",
        "2022-11-25T19:46:39.000Z",
        "2022-11-25T18:01:13.000Z",
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        "2022-12-02T10:58:35.000Z",
        "2022-12-02T10:58:10.000Z",
        "2022-12-02T00:06:36.000Z",
        "2022-12-01T17:55:16.000Z",
        "2022-12-01T17:35:33.000Z",
        "2022-12-01T17:06:01.000Z",
        "2022-12-01T15:00:42.000Z",
        "2022-12-01T14:30:32.000Z",
        "2022-11-30T18:38:37.000Z",
        "2022-11-30T18:31:35.000Z",
        "2022-11-30T18:06:43.000Z",
        "2022-11-30T17:06:40.000Z",
        "2022-11-30T16:05:33.000Z",
        "2022-11-30T14:36:50.000Z",
        "2022-11-30T14:30:47.000Z",
        "2022-11-30T14:30:41.000Z",
        "2022-11-29T19:04:56.000Z",
        "2022-11-29T17:07:10.000Z",
        "2022-11-29T16:00:39.000Z",
        "2022-11-29T15:36:46.000Z",
        "2022-11-29T14:06:47.000Z",
        "2022-11-28T19:06:01.000Z",
        "2022-11-28T13:00:35.000Z",
        "2022-11-28T04:04:41.000Z",
        "2022-11-27T17:11:18.000Z",
        "2022-11-27T17:11:03.000Z",
        "2022-11-27T17:10:54.000Z",
        "2022-11-27T16:30:35.000Z",
        "2022-11-27T15:37:32.000Z",
        "2022-11-27T15:06:56.000Z",
        "2022-11-27T13:37:03.000Z",
        "2022-11-27T10:36:44.000Z",
        "2022-11-27T09:07:06.000Z",
        "2022-11-27T06:06:12.000Z",
        "2022-11-27T02:36:36.000Z",
        "2022-11-27T02:07:22.000Z",
        "2022-11-27T01:37:27.000Z",
        "2022-11-26T19:51:52.000Z",
        "2022-11-26T19:38:19.000Z",
        "2022-11-26T19:06:39.000Z",
        "2022-11-26T18:36:49.000Z",
        "2022-11-26T18:06:54.000Z",
        "2022-11-26T17:59:33.000Z",
        "2022-11-26T17:58:07.000Z",
        "2022-11-26T17:51:43.000Z",
        "2022-11-26T17:36:43.000Z",
        "2022-11-26T17:08:13.000Z",
        "2022-11-26T16:37:07.000Z",
        "2022-11-26T16:06:51.000Z",
        "2022-11-26T15:37:02.000Z",
        "2022-11-26T15:07:20.000Z",
        "2022-11-26T13:30:41.000Z",
        "2022-11-26T13:06:46.000Z",
        "2022-11-26T12:38:29.000Z",
        "2022-11-26T10:36:55.000Z",
        "2022-11-26T03:36:44.000Z",
        "2022-11-25T19:51:59.000Z",
        "2022-11-25T18:06:38.000Z",
        "2022-11-25T16:36:53.000Z",
        "2022-11-25T14:31:47.000Z",
        "2022-11-25T09:05:43.000Z",
        "2022-11-25T00:07:08.000Z",
        "2022-11-24T18:05:43.000Z",
        "2022-11-24T17:55:42.000Z",
        "2022-11-24T17:06:01.000Z",
        "2022-11-24T15:00:53.000Z",
        "2022-11-24T14:30:41.000Z",
        "2022-11-24T03:59:56.000Z",
        "2022-11-23T18:34:00.000Z",
        "2022-11-23T18:06:48.000Z",
        "2022-11-23T17:07:07.000Z",
        "2022-11-23T16:05:41.000Z",
        "2022-11-23T14:38:18.000Z",
        "2022-11-23T14:30:48.000Z",
        "2022-11-23T14:30:44.000Z",
        "2022-11-22T19:09:42.000Z",
        "2022-11-22T17:06:34.000Z",
        "2022-11-22T16:00:42.000Z",
        "2022-11-22T15:36:50.000Z",
        "2022-11-22T14:06:51.000Z",
        "2022-11-21T19:05:59.000Z",
        "2022-11-21T13:38:03.000Z",
        "2022-11-21T13:00:42.000Z",
        "2022-11-20T16:30:34.000Z",
        "2022-11-20T15:36:46.000Z",
        "2022-11-20T15:08:20.000Z",
        "2022-11-20T13:53:27.000Z",
        "2022-11-20T10:55:55.000Z",
        "2022-11-20T09:06:54.000Z",
        "2022-11-20T07:22:56.000Z",
        "2022-11-20T06:54:05.000Z",
        "2022-11-20T06:51:31.000Z",
        "2022-11-20T02:38:13.000Z",
        "2022-11-20T01:36:54.000Z",
        "2022-11-19T19:51:57.000Z",
        "2022-11-19T19:43:23.000Z",
        "2022-11-19T19:12:16.000Z",
        "2022-11-19T19:08:59.000Z",
        "2022-11-19T18:37:43.000Z",
        "2022-11-19T18:07:03.000Z",
        "2022-11-19T17:53:35.000Z",
        "2022-11-19T17:37:11.000Z",
        "2022-11-19T17:06:48.000Z",
        "2022-11-19T16:37:32.000Z",
        "2022-11-19T16:28:44.000Z",
        "2022-11-19T16:28:15.000Z",
        "2022-11-19T16:27:44.000Z",
        "2022-11-19T16:27:09.000Z",
        "2022-11-19T16:26:43.000Z",
        "2022-11-19T16:26:10.000Z",
        "2022-11-19T16:25:40.000Z",
        "2022-11-19T16:25:13.000Z",
        "2022-11-19T16:08:20.000Z",
        "2022-11-19T15:36:50.000Z",
        "2022-11-19T15:07:07.000Z",
        "2022-11-19T13:30:44.000Z",
        "2022-11-19T12:37:05.000Z",
        "2022-11-19T10:37:32.000Z",
        "2022-11-19T03:37:03.000Z",
        "2022-11-18T21:11:19.000Z",
        "2022-11-18T21:10:52.000Z",
        "2022-11-18T21:07:07.000Z",
        "2022-11-18T21:06:04.000Z",
        "2022-11-18T19:51:51.000Z",
        "2022-11-18T19:22:31.000Z",
        "2022-11-18T18:07:22.000Z",
        "2022-11-18T16:36:50.000Z",
        "2022-11-18T14:30:39.000Z",
        "2022-11-18T04:45:34.000Z",
        "2022-11-18T04:37:26.000Z",
        "2022-11-18T04:26:02.000Z",
        "2022-11-18T00:06:48.000Z",
        "2022-11-17T17:55:27.000Z",
        "2022-11-17T17:45:46.000Z",
        "2022-11-17T17:38:01.000Z",
        "2022-11-17T17:05:59.000Z",
        "2022-11-17T14:30:42.000Z",
        "2022-11-16T18:07:01.000Z",
        "2022-11-16T17:07:51.000Z",
        "2022-11-16T16:06:18.000Z",
        "2022-11-16T14:30:59.000Z",
        "2022-11-16T14:30:55.000Z",
        "2022-11-16T01:07:58.000Z",
        "2022-11-15T17:06:45.000Z",
        "2022-11-15T16:00:50.000Z",
        "2022-11-15T14:06:44.000Z",
        "2022-11-15T06:19:11.000Z",
        "2022-11-14T19:06:49.000Z",
        "2022-11-14T13:00:42.000Z",
        "2022-11-13T17:50:27.000Z",
        "2022-11-13T17:49:53.000Z",
        "2022-11-13T17:49:21.000Z",
        "2022-11-13T17:48:52.000Z",
        "2022-11-13T17:47:54.000Z",
        "2022-11-13T17:46:59.000Z",
        "2022-11-13T17:46:32.000Z",
        "2022-11-13T17:44:28.000Z",
        "2022-11-13T17:43:56.000Z",
        " 25/11/2022 11:31",
        " 25/11/2022 06:05",
        " 24/11/2022 21:07",
        " 24/11/2022 15:05",
        " 24/11/2022 14:55",
        " 24/11/2022 14:06",
        " 24/11/2022 12:00",
        " 24/11/2022 11:30",
        " 24/11/2022 00:59",
        " 23/11/2022 15:34",
        " 23/11/2022 15:06",
        " 23/11/2022 14:07",
        " 23/11/2022 13:05",
        " 23/11/2022 11:38",
        " 23/11/2022 11:30",
        " 23/11/2022 11:30",
        " 22/11/2022 16:09",
        " 22/11/2022 14:06",
        " 22/11/2022 13:00",
        " 22/11/2022 12:36",
        " 22/11/2022 11:06",
        " 21/11/2022 16:05",
        " 21/11/2022 10:38",
        " 21/11/2022 10:00",
        " 20/11/2022 13:30",
        " 20/11/2022 12:36",
        " 20/11/2022 12:08",
        " 20/11/2022 10:53",
        " 20/11/2022 07:55",
        " 20/11/2022 06:06",
        " 20/11/2022 04:22",
        " 20/11/2022 03:54",
        " 20/11/2022 03:51",
        " 19/11/2022 23:38",
        " 19/11/2022 22:36",
        " 19/11/2022 16:51",
        " 19/11/2022 16:43",
        " 19/11/2022 16:12",
        " 19/11/2022 16:08",
        " 19/11/2022 15:37",
        " 19/11/2022 15:07",
        " 19/11/2022 14:53",
        " 19/11/2022 14:37",
        " 19/11/2022 14:06",
        " 19/11/2022 13:37",
        " 19/11/2022 13:28",
        " 19/11/2022 13:28",
        " 19/11/2022 13:27",
        " 19/11/2022 13:27",
        " 19/11/2022 13:26",
        " 19/11/2022 13:26",
        " 19/11/2022 13:25",
        " 19/11/2022 13:08",
        " 19/11/2022 12:36",
        " 19/11/2022 12:07",
        " 19/11/2022 10:30",
        " 19/11/2022 09:37",
        " 19/11/2022 07:37",
        " 19/11/2022 00:37",
        " 18/11/2022 18:11",
        " 18/11/2022 18:10",
        " 18/11/2022 18:07",
        " 18/11/2022 18:06",
        " 18/11/2022 16:51",
        " 18/11/2022 16:22",
        " 18/11/2022 15:07",
        " 18/11/2022 13:36",
        " 18/11/2022 11:30",
        " 18/11/2022 01:45",
        " 18/11/2022 01:37",
        " 18/11/2022 01:26",
        " 17/11/2022 21:06",
        " 17/11/2022 14:55",
        " 17/11/2022 14:45",
        " 17/11/2022 14:38",
        " 17/11/2022 14:05",
        " 17/11/2022 11:30",
        " 16/11/2022 15:07",
        " 16/11/2022 14:07",
        " 16/11/2022 13:06",
        " 16/11/2022 11:30",
        " 16/11/2022 11:30",
        " 15/11/2022 22:07",
        " 15/11/2022 14:06",
        " 15/11/2022 13:00",
        " 15/11/2022 11:06",
        " 15/11/2022 03:19",
        " 14/11/2022 16:06",
        " 14/11/2022 10:00",
        " 13/11/2022 14:50",
        " 13/11/2022 14:49",
        " 13/11/2022 14:49",
        " 13/11/2022 14:48",
        " 13/11/2022 14:47",
        " 13/11/2022 14:46",
        " 13/11/2022 14:46",
        " 13/11/2022 14:44",
        " 13/11/2022 14:43",
        " 13/11/2022 14:42",
        " 13/11/2022 14:40",
        " 13/11/2022 14:39",
        " 13/11/2022 14:39",
        " 13/11/2022 14:37",
        " 13/11/2022 13:30",
        " 13/11/2022 12:36",
        " 13/11/2022 12:06",
        " 13/11/2022 10:36",
        " 13/11/2022 06:38",
        " 13/11/2022 03:06",
        " 13/11/2022 00:37",
        " 13/11/2022 00:06",
        " 12/11/2022 23:37",
        " 12/11/2022 16:06",
        " 12/11/2022 15:33",
        " 12/11/2022 15:07",
        " 12/11/2022 14:52",
        " 12/11/2022 14:38",
        " 12/11/2022 14:07",
        " 12/11/2022 13:36",
        " 12/11/2022 13:06",
        " 12/11/2022 12:37",
        " 12/11/2022 12:07",
        " 12/11/2022 10:30",
        " 12/11/2022 10:07",
        " 12/11/2022 09:37",
        " 12/11/2022 07:36",
        " 12/11/2022 06:24",
        " 12/11/2022 06:23",
        " 12/11/2022 06:22",
        " 12/11/2022 06:22",
        " 12/11/2022 06:21",
        " 12/11/2022 06:21",
        " 12/11/2022 06:16",
        " 12/11/2022 06:11",
        " 12/11/2022 00:34",
        " 11/11/2022 20:19",
        " 11/11/2022 16:53",
        " 11/11/2022 16:18",
        " 11/11/2022 15:07",
        " 11/11/2022 11:30",
        " 11/11/2022 06:05",
        " 11/11/2022 03:30",
        " 10/11/2022 21:07",
        " 10/11/2022 14:55",
        " 10/11/2022 14:35",
        " 10/11/2022 14:15",
        " 10/11/2022 11:49",
        " 10/11/2022 11:49",
        " 10/11/2022 11:30",
        " 09/11/2022 15:38",
        " 09/11/2022 15:07",
        " 09/11/2022 14:07",
        " 09/11/2022 13:05",
        " 09/11/2022 12:08",
        " 09/11/2022 12:07",
        " 09/11/2022 12:07",
        " 09/11/2022 12:06",
        " 09/11/2022 12:06",
        " 09/11/2022 11:36",
        " 09/11/2022 11:31",
        " 09/11/2022 11:30",
        " 09/11/2022 11:26",
        " 08/11/2022 14:09",
        " 08/11/2022 13:00",
        " 08/11/2022 12:38",
        " 07/11/2022 16:07",
        " 07/11/2022 13:07",
        "Fri, 18 Nov 2022 14:30:39 +0000",
        "Fri, 18 Nov 2022 04:45:34 +0000",
        "Fri, 18 Nov 2022 04:37:26 +0000",
        "Fri, 18 Nov 2022 04:26:02 +0000",
        "Fri, 18 Nov 2022 00:06:48 +0000",
        "Thu, 17 Nov 2022 17:55:27 +0000",
        "Thu, 17 Nov 2022 17:45:46 +0000",
        "Thu, 17 Nov 2022 17:38:01 +0000",
        "Thu, 17 Nov 2022 17:05:59 +0000",
        "Thu, 17 Nov 2022 15:00:51 +0000",
        "Thu, 17 Nov 2022 14:30:42 +0000",
        "Wed, 16 Nov 2022 18:31:54 +0000",
        "Wed, 16 Nov 2022 18:07:01 +0000",
        "Wed, 16 Nov 2022 17:07:51 +0000",
        "Wed, 16 Nov 2022 16:06:18 +0000",
        "Wed, 16 Nov 2022 14:37:30 +0000",
        "Wed, 16 Nov 2022 14:30:59 +0000",
        "Wed, 16 Nov 2022 14:30:55 +0000",
        "Wed, 16 Nov 2022 01:07:58 +0000",
        "Tue, 15 Nov 2022 17:06:45 +0000",
        "Tue, 15 Nov 2022 16:00:50 +0000",
        "Tue, 15 Nov 2022 15:36:45 +0000",
        "Tue, 15 Nov 2022 14:06:44 +0000",
        "Tue, 15 Nov 2022 06:19:11 +0000",
        "Mon, 14 Nov 2022 19:06:49 +0000",
        "Mon, 14 Nov 2022 13:00:42 +0000",
        "Sun, 13 Nov 2022 17:50:27 +0000",
        "Sun, 13 Nov 2022 17:49:53 +0000",
        "Sun, 13 Nov 2022 17:49:21 +0000",
        "Sun, 13 Nov 2022 17:48:52 +0000",
        "Sun, 13 Nov 2022 17:47:54 +0000",
        "Sun, 13 Nov 2022 17:46:59 +0000",
        "Sun, 13 Nov 2022 17:46:32 +0000",
        "Sun, 13 Nov 2022 17:44:28 +0000",
        "Sun, 13 Nov 2022 17:43:56 +0000",
        "Sun, 13 Nov 2022 17:42:50 +0000",
        "Sun, 13 Nov 2022 17:40:16 +0000",
        "Sun, 13 Nov 2022 17:39:43 +0000",
        "Sun, 13 Nov 2022 17:39:13 +0000",
        "Sun, 13 Nov 2022 17:37:02 +0000",
        "Sun, 13 Nov 2022 16:30:36 +0000",
        "Sun, 13 Nov 2022 15:36:57 +0000",
        "Sun, 13 Nov 2022 15:06:45 +0000",
        "Sun, 13 Nov 2022 13:36:53 +0000",
        "Sun, 13 Nov 2022 09:38:00 +0000",
        "Sun, 13 Nov 2022 06:06:46 +0000",
        "Sun, 13 Nov 2022 03:37:01 +0000",
        "Sun, 13 Nov 2022 03:06:52 +0000",
        "Sun, 13 Nov 2022 02:37:34 +0000",
        "Sat, 12 Nov 2022 19:52:44 +0000",
        "Sat, 12 Nov 2022 19:06:48 +0000",
        "Sat, 12 Nov 2022 18:33:31 +0000",
        "Sat, 12 Nov 2022 18:07:19 +0000",
        "Sat, 12 Nov 2022 17:52:06 +0000",
        "Sat, 12 Nov 2022 17:38:27 +0000",
        "Sat, 12 Nov 2022 17:07:22 +0000",
        "Sat, 12 Nov 2022 16:36:50 +0000",
        "Sat, 12 Nov 2022 16:06:46 +0000",
        "Sat, 12 Nov 2022 15:37:58 +0000",
        "Sat, 12 Nov 2022 15:07:39 +0000",
        "Sat, 12 Nov 2022 13:30:42 +0000",
        "Sat, 12 Nov 2022 13:07:21 +0000",
        "Sat, 12 Nov 2022 12:37:25 +0000",
        "Sat, 12 Nov 2022 10:36:57 +0000",
        "Sat, 12 Nov 2022 09:24:00 +0000",
        "Sat, 12 Nov 2022 09:23:08 +0000",
        "Sat, 12 Nov 2022 09:22:35 +0000",
        "Sat, 12 Nov 2022 09:22:06 +0000",
        "Sat, 12 Nov 2022 09:21:35 +0000",
        "Sat, 12 Nov 2022 09:21:05 +0000",
        "Sat, 12 Nov 2022 09:16:44 +0000",
        "Sat, 12 Nov 2022 09:11:35 +0000",
        "Sat, 12 Nov 2022 03:34:36 +0000",
        "Fri, 11 Nov 2022 23:19:48 +0000",
        "Fri, 11 Nov 2022 19:53:47 +0000",
        "Fri, 11 Nov 2022 19:18:21 +0000",
        "Fri, 11 Nov 2022 18:07:19 +0000",
        "Fri, 11 Nov 2022 14:30:52 +0000",
        "Fri, 11 Nov 2022 09:05:59 +0000",
        "Fri, 11 Nov 2022 06:30:28 +0000",
        "Fri, 11 Nov 2022 00:07:34 +0000",
        "Thu, 10 Nov 2022 17:55:28 +0000",
        "Thu, 10 Nov 2022 17:35:51 +0000",
        "Thu, 10 Nov 2022 17:15:17 +0000",
        "Thu, 10 Nov 2022 14:49:32 +0000",
        "Thu, 10 Nov 2022 14:49:14 +0000",
        "Thu, 10 Nov 2022 14:30:48 +0000",
        "Wed, 09 Nov 2022 18:38:01 +0000",
        "Wed, 09 Nov 2022 18:07:14 +0000",
        "Wed, 09 Nov 2022 17:07:51 +0000",
        "Wed, 09 Nov 2022 16:05:48 +0000",
        "Wed, 09 Nov 2022 15:08:16 +0000",
        "Wed, 09 Nov 2022 15:07:45 +0000",
        "Wed, 09 Nov 2022 15:07:16 +0000",
        "Wed, 09 Nov 2022 15:06:53 +0000",
        "Wed, 09 Nov 2022 15:06:26 +0000",
        "Wed, 09 Nov 2022 14:36:39 +0000",
        "Wed, 09 Nov 2022 14:31:03 +0000",
        "Wed, 09 Nov 2022 14:30:54 +0000",
        "Wed, 09 Nov 2022 14:26:51 +0000",
        "Tue, 08 Nov 2022 17:09:24 +0000",
        "Tue, 08 Nov 2022 16:00:45 +0000",
        "Tue, 08 Nov 2022 15:38:08 +0000",
        "Mon, 07 Nov 2022 19:07:32 +0000",
        "Mon, 07 Nov 2022 16:07:29 +0000",
        "Mon, 07 Nov 2022 13:00:44 +0000",
        "Mon, 07 Nov 2022 10:03:43 +0000",
        "Mon, 07 Nov 2022 10:01:21 +0000",
        "Mon, 07 Nov 2022 10:00:30 +0000",
        "Mon, 07 Nov 2022 09:59:29 +0000",
        "Mon, 07 Nov 2022 09:58:41 +0000",
        "Mon, 07 Nov 2022 09:57:56 +0000",
        "Mon, 07 Nov 2022 09:56:59 +0000",
        "Mon, 07 Nov 2022 09:55:45 +0000",
        "Mon, 07 Nov 2022 09:54:37 +0000",
        "Mon, 07 Nov 2022 09:53:35 +0000",
        "Mon, 07 Nov 2022 09:52:36 +0000",
        "Mon, 07 Nov 2022 09:50:45 +0000",
        "Mon, 07 Nov 2022 09:49:11 +0000",
        "Mon, 07 Nov 2022 09:45:58 +0000",
        "Mon, 07 Nov 2022 09:44:31 +0000",
        "Mon, 07 Nov 2022 09:43:38 +0000",
        "Mon, 07 Nov 2022 09:42:31 +0000",
        "Mon, 07 Nov 2022 09:41:28 +0000",
        "Mon, 07 Nov 2022 09:40:30 +0000"
      ]
    },
    "node:Erai Raws RSS": {
      "lastTimeChecked": "2023-01-28T16:40:48Z"
    },
    "node:SubsPlease RSS": {
      "lastTimeChecked": "2023-01-20T19:35:07Z"
    },
    "node:DKB RSS": {
      "lastTimeChecked": "2023-01-28T16:40:02Z"
    },
    "node:Nc-Raws RSS": {
      "lastTimeChecked": "2023-02-19T03:15:33Z"
    },
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "node:Schedule Trigger1": {
      "recurrencyRules": []
    },
    "node:Erai -Raws": {
      "lastTimeChecked": "2023-02-19T03:15:08Z"
    },
    "node:DKB": {
      "lastTimeChecked": "2023-02-19T03:15:05Z"
    }
  },
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2023-02-19T03:15:34.254Z",
  "versionId": "d3f98443-8bed-4a45-9b17-d00c673a6432"
}