workflows/Sonarr Check Updates.json
{
  "active": true,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Discord Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 hours": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-19T12:50:08.990Z",
  "id": "tDQk6GRBt1RWJeYC",
  "meta": null,
  "name": "Sonarr Check Updates",
  "nodes": [
    {
      "parameters": {
        "url": "https://sonarr.buffon.cloud/api/v3/update",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      },
      "id": "39625b3e-4332-47e5-b74f-a27675ab72a4",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        920,
        640
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "mVPjXlY1DAeKXUGi",
          "name": "Sonarr Api"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nconst newUpdatesId = items.map(item => item.json[\"releaseDate\"]);\nconst oldUpdatesId = staticData.oldUpdatesId; \n\nif (!oldUpdatesId) {\n  staticData.oldUpdatesId = newUpdatesId;\n  return items;\n}\n\n\nconst actualNewUpdateId = newUpdatesId.filter((id) => !oldUpdatesId.includes(id));\nconst actualNewUpdate = items.filter((data) => actualNewUpdateId.includes(data.json['releaseDate']));\nstaticData.oldUpdatesId = [...actualNewUpdateId, ...oldUpdatesId];\n\nreturn actualNewUpdate;"
      },
      "name": "Only get new RSS",
      "type": "n8n-nodes-base.function",
      "position": [
        460,
        460
      ],
      "typeVersion": 1,
      "id": "dbc256b0-b020-49f2-b5d4-c09453cbb507",
      "disabled": true
    },
    {
      "parameters": {
        "channelId": "1040258738927452280",
        "embed": true,
        "title": "=Sonarr New Update Version {{ $json[\"version\"] }}",
        "url": "={{ $json[\"url\"] }}",
        "authorName": "=Sonarr Update Checker | Branch: {{ $json[\"branch\"] }}",
        "authorIconUrl": "https://sonarr.tv/img/logo-256.png",
        "authorUrl": "https://sonarr.tv/",
        "description": "=New:\n```\n{{ $json[\"changes\"][\"new\"].join('\\n') }}\n```\nFixed:\n```\n{{ $json[\"changes\"][\"fixed\"].join('\\n') }}\n```",
        "footerText": "Powered By n8n",
        "timestamp": "={{ $json[\"releaseDate\"] }}",
        "botCustomization": true,
        "botActivity": "Nothing",
        "botActivityType": 3
      },
      "id": "0f67d8e2-3d1f-471c-b6f4-c71ff5fa8897",
      "name": "Discord Send",
      "type": "n8n-nodes-discord-fork.discord",
      "typeVersion": 1,
      "position": [
        1360,
        620
      ],
      "credentials": {
        "discordApi": {
          "id": "pMpClPZ0113ZS7QO",
          "name": "Discord App account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.latest }}",
              "value2": "={{ true }}"
            },
            {
              "value1": "={{ $json.installed }}",
              "value2": "={{ false }}"
            }
          ]
        }
      },
      "id": "831dcd57-e3bf-4ac7-9e5a-c5edc524ceac",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1100,
        640
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 0 * * *"
            }
          ]
        }
      },
      "id": "4e4249b9-0f6a-42db-a613-176574a26402",
      "name": "Every 12 hours",
      "type": "n8n-nodes-base.cron",
      "position": [
        720,
        640
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "e5gs9CPtjGB5lx52"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-12-19T13:14:18.641Z",
  "versionId": "e1f0b68b-cce7-4f70-96b0-6e69213c37b6"
}