workflows/Test Flow.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "SSH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Discord Send",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Binary Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary Files": {
      "main": [
        [
          {
            "node": "Discord Send1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-19T12:51:53.118Z",
  "id": "BZQGPlUFeVR2dzgg",
  "meta": null,
  "name": "Test Flow",
  "nodes": [
    {
      "parameters": {},
      "id": "b279416a-2806-4194-9f2a-ffdff2984b19",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -180,
        640
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "./script.sh",
        "cwd": "/media/downloads/n8n/"
      },
      "id": "ad7db640-f0d4-4eea-ba1a-01ca3c5c9d37",
      "name": "SSH",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        40,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.code }}",
              "value2": "1"
            }
          ]
        }
      },
      "id": "dc7d52c0-09ab-4c47-aed4-affc7530f9e1",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        260,
        640
      ]
    },
    {
      "parameters": {
        "channelId": "1122879436795166853",
        "content": "teste erro"
      },
      "id": "34561fe3-d133-4861-a58b-370c35f41041",
      "name": "Discord Send",
      "type": "n8n-nodes-discord-fork.discord",
      "typeVersion": 1,
      "position": [
        460,
        460
      ],
      "credentials": {
        "discordApi": {
          "id": "pMpClPZ0113ZS7QO",
          "name": "Discord App account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/media/log.txt"
      },
      "id": "88c7e2d0-51b5-47b5-8226-9b84bb738e8a",
      "name": "Read Binary Files",
      "type": "n8n-nodes-base.readBinaryFiles",
      "typeVersion": 1,
      "position": [
        460,
        780
      ]
    },
    {
      "parameters": {
        "channelId": "1122879436795166853"
      },
      "id": "3b5b75ff-f02e-456c-a674-03ce372796eb",
      "name": "Discord Send1",
      "type": "n8n-nodes-discord-fork.discord",
      "typeVersion": 1,
      "position": [
        640,
        780
      ]
    },
    {
      "parameters": {
        "url": "https://sonarr.buffon.cloud/api/v3/update",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      },
      "id": "2f321f49-3876-48f2-8898-6d16475e4a5a",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -60,
        820
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-12-19T13:04:29.759Z",
  "versionId": "e0bfb1ab-eb02-4d91-89bf-769c3e87e0b2"
}