workflows/ToonsHub Notification.json
{
  "active": true,
  "connections": {
    "Only get new RSS": {
      "main": [
        [
          {
            "node": "Filter Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Only get new RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Inputs": {
      "main": [
        [
          {
            "node": "Discord Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-19T12:52:48.098Z",
  "id": "2N1IAqQNKNPjBqj8",
  "meta": null,
  "name": "ToonsHub Notification",
  "nodes": [
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nconst newRSSIds = items.map(item => item.json[\"pubDate\"]);\nconst oldRSSIds = staticData.oldRSSIds; \n\nif (!oldRSSIds) {\n  staticData.oldRSSIds = newRSSIds;\n  return items;\n}\n\n\nconst actualNewRSSIds = newRSSIds.filter((id) => !oldRSSIds.includes(id));\nconst actualNewRSS = items.filter((data) => actualNewRSSIds.includes(data.json['pubDate']));\nstaticData.oldRSSIds = [...actualNewRSSIds, ...oldRSSIds];\n\nreturn actualNewRSS;\n"
      },
      "name": "Only get new RSS",
      "type": "n8n-nodes-base.function",
      "position": [
        720,
        220
      ],
      "typeVersion": 1,
      "id": "5a0ed89c-7dc9-47ea-a1ca-43ce9518d43b"
    },
    {
      "parameters": {
        "url": "https://nyaa.si/?page=rss&q=%5BToonsHub%5D+%2B+Portuguese+Dubs&c=0_0&f=0",
        "options": {}
      },
      "id": "9deb6179-66f8-4cea-859f-f070cf130006",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        540,
        220
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "be892078-7e54-4726-8fca-162cff9eee79",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        360,
        220
      ]
    },
    {
      "parameters": {
        "channelId": "1041723229569552484",
        "embed": true,
        "title": "={{ $json[\"title\"] }}",
        "url": "={{ $json[\"link\"] }}",
        "authorName": "=ToonsHub",
        "authorUrl": "https://www.toonshub.xyz/",
        "description": "=",
        "imageUrl": "=",
        "footerText": "Powered By n8n",
        "timestamp": "={{ $json[\"Date\"] }}"
      },
      "id": "95e80452-ba3a-487d-9f11-17ce6fe2dc2b",
      "name": "Discord Send",
      "type": "n8n-nodes-discord-fork.discord",
      "typeVersion": 1,
      "position": [
        1080,
        220
      ],
      "credentials": {
        "discordApi": {
          "id": "pMpClPZ0113ZS7QO",
          "name": "Discord App account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "title",
              "value": "={{ $json[\"title\"] }}"
            },
            {
              "name": "link",
              "value": "={{ $json[\"link\"] }}"
            },
            {
              "name": "Date",
              "value": "={{ $json[\"isoDate\"] }}"
            },
            {
              "name": "contentSnippet",
              "value": "={{ $json[\"contentSnippet\"] }}"
            },
            {
              "name": "guid",
              "value": "={{ $json[\"guid\"] }}"
            },
            {
              "name": "categories",
              "value": "={{ $json[\"categories\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "fca975cb-0152-48a7-9a50-76d4661e24a2",
      "name": "Filter Inputs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        900,
        220
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "e5gs9CPtjGB5lx52"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "global": {
      "oldRSSIds": [
        "Mon, 29 Jan 2024 17:26:20 -0000",
        "Sat, 27 Jan 2024 21:09:08 -0000",
        "Sun, 21 Jan 2024 05:11:49 -0000",
        "Wed, 17 Jan 2024 19:26:31 -0000",
        "Thu, 11 Jan 2024 16:00:24 -0000",
        "Wed, 10 Jan 2024 19:23:04 -0000",
        "Fri, 22 Dec 2023 20:46:56 -0000",
        "Tue, 19 Dec 2023 04:52:39 -0000",
        "Mon, 18 Dec 2023 02:17:04 -0000",
        "Mon, 11 Dec 2023 18:41:48 -0000",
        "Sat, 09 Dec 2023 12:40:05 -0000",
        "Thu, 07 Dec 2023 19:02:26 -0000",
        "Mon, 04 Dec 2023 18:32:40 -0000",
        "Mon, 27 Nov 2023 19:48:01 -0000",
        "Mon, 20 Nov 2023 18:25:09 -0000",
        "Sun, 19 Nov 2023 09:13:55 -0000",
        "Fri, 17 Nov 2023 04:14:40 -0000",
        "Mon, 13 Nov 2023 18:37:02 -0000",
        "Fri, 10 Nov 2023 21:02:51 -0000",
        "Mon, 06 Nov 2023 18:58:20 -0000",
        "Fri, 03 Nov 2023 21:49:19 -0000",
        "Thu, 02 Nov 2023 15:20:49 -0000",
        "Tue, 31 Oct 2023 13:26:58 -0000",
        "Sat, 28 Oct 2023 06:44:27 -0000",
        "Sat, 28 Oct 2023 06:41:32 -0000",
        "Sat, 28 Oct 2023 06:34:01 -0000",
        "Sat, 28 Oct 2023 06:17:25 -0000",
        "Thu, 26 Oct 2023 15:33:59 -0000",
        "Mon, 23 Oct 2023 17:22:21 -0000",
        "Thu, 19 Oct 2023 18:10:51 -0000",
        "Mon, 16 Oct 2023 22:21:07 -0000",
        "Mon, 09 Oct 2023 18:20:43 -0000",
        "Mon, 02 Oct 2023 17:58:57 -0000",
        "Sat, 30 Sep 2023 12:37:59 -0000",
        "Mon, 07 Aug 2023 16:17:44 -0000",
        "Mon, 07 Aug 2023 16:17:16 -0000",
        "Sat, 29 Jul 2023 10:23:41 -0000",
        "Mon, 24 Jul 2023 16:04:55 -0000",
        "Sun, 23 Jul 2023 06:37:48 -0000",
        "Tue, 18 Jul 2023 07:51:43 -0000",
        "Mon, 10 Jul 2023 17:18:43 -0000",
        "Sat, 08 Jul 2023 17:52:16 -0000",
        "Thu, 06 Jul 2023 21:05:36 -0000",
        "Mon, 03 Jul 2023 15:18:57 -0000",
        "Mon, 03 Jul 2023 13:09:18 -0000",
        "Sat, 01 Jul 2023 19:52:39 -0000",
        "Sat, 01 Jul 2023 19:48:31 -0000",
        "Sat, 24 Jun 2023 11:31:28 -0000",
        "Tue, 20 Jun 2023 14:23:20 -0000",
        "Mon, 19 Jun 2023 21:42:58 -0000",
        "Mon, 19 Jun 2023 20:32:01 -0000",
        "Fri, 16 Jun 2023 10:56:56 -0000",
        "Wed, 14 Jun 2023 05:18:52 -0000",
        "Wed, 14 Jun 2023 05:14:23 -0000",
        "Wed, 14 Jun 2023 05:13:20 -0000",
        "Thu, 08 Jun 2023 21:39:17 -0000",
        "Thu, 08 Jun 2023 21:10:12 -0000",
        "Tue, 06 Jun 2023 05:35:12 -0000",
        "Sat, 03 Jun 2023 12:37:54 -0000",
        "Sat, 03 Jun 2023 12:32:10 -0000",
        "Sun, 28 May 2023 08:07:49 -0000",
        "Sun, 28 May 2023 05:55:10 -0000",
        "Thu, 25 May 2023 13:11:14 -0000",
        "Wed, 24 May 2023 16:06:46 -0000",
        "Sat, 20 May 2023 10:24:02 -0000",
        "Tue, 16 May 2023 18:49:55 -0000",
        "Fri, 12 May 2023 22:26:04 -0000",
        "Fri, 12 May 2023 15:51:28 -0000",
        "Wed, 10 May 2023 07:23:35 -0000",
        "Sun, 07 May 2023 17:00:29 -0000",
        "Tue, 02 May 2023 20:33:02 -0000",
        "Tue, 02 May 2023 20:17:48 -0000",
        "Fri, 28 Apr 2023 20:29:29 -0000",
        "Fri, 28 Apr 2023 19:56:47 -0000",
        "Tue, 25 Apr 2023 11:11:09 -0000",
        "Mon, 24 Apr 2023 21:24:24 -0000",
        "Mon, 24 Apr 2023 21:23:13 -0000",
        "Mon, 24 Apr 2023 16:01:13 -0000",
        "Sat, 22 Apr 2023 16:31:33 -0000",
        "Thu, 20 Apr 2023 14:56:33 -0000",
        "Sat, 15 Apr 2023 16:00:26 -0000",
        "Tue, 11 Apr 2023 14:33:07 -0000"
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-30T02:58:51.450Z",
  "versionId": "bf45ee4a-f8d4-452e-906b-64317ef1324e"
}